{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader - {{ _('Change Email Address') }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_content %}
    <!-- покищо не використовується але буде потрібне -->
<div ng-controller="UserLoginController" ng-cloak>

    <h1 class="nice-title">{{ _('Change Your Email Address') }}<span></span></h1>
</div>
<div ng-cloak><form action="{{ url_for('auth.change_email_request') }}" method="POST">
    {{ form.email(placeholder='yourname@email.com', maxlength="100", type="email") }} <br/>
    {{ form.password(placeholder="{{_('Password')}}") }} <br/>
    {{ form.submit(type="submit") }}
    {{ form.csrf_token }}
</form>
</div>
<p ng-cloak ng-controller="UserLoginController">{{ _('Forgot your password') }}? <a href="{{ url_for('auth.password_reset_request') }}">{{ _('Click here to reset it') }}</a>.</p>
{% endblock portal_content %}
