{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader - {{ _('Confirmation') }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_base %}
    {{ super() }}
{% endblock portal_base %}

{% block portal_content %}



<div class="container" ng-controller="UserLoginController1">
    <h1 class="nice-title">{{ _('Hello') }}, {{ current_user.profireader_name }}!<span></span></h1>
    <h3 pr-test="Confirmed">{{ _('You have confirmed your account successfully!') }}</h3>
    <p>

        <a pr-test="ConfirmEmail" href="{{ url_for('general.index') }}">{{ _('Start from here!') }}</a>
    </p>

</div>
{% endblock portal_content %}