{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader - {{ _('Request new password') }}{% endblock title %}

{% block portal_content %}
    <div class="container">
        <script>

            module.controller('request_new_password', function ($scope, $ok) {
                $scope.$$translate = {{ translates('request_new_password')|safe }};
                $scope.sending = false;
                $scope.request_new_password = {'email': '{{ email }}'};


                $scope.requestNewPassword = function () {
                    $scope.sending = true;
                    $ok('', $scope.request_new_password, function (resp) {
                        if (resp['error']) {
                            add_message(resp['error'], 'danger')
                        } else {
                            add_message('New reset password token was created and sent to provided email', 'success')
                        }
                        $scope.sending = false;
                    })
                }

            });
        </script>

        <form ng-controller="request_new_password">
            {% raw %}
            <h3>{{ _('You can request new reset password token') }}</h3>
            <input ng-disabled="sending" name="email" ng-model="request_new_password.email" placeholder="email"/>
            <button ng-disabled="sending" ng-click="requestNewPassword()" type="submit">{{ _('Request new password') }}
            </button>
            {% endraw %}
        </form>

    </div>
    </form>
{% endblock portal_content %}