{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - {{ _('Password Reset') }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_content %}
<script>

    module.controller('resetpassword',  function($scope, $ok){
      $scope.$$translate = {{ translates('resetpassword')|safe }};
      $scope.password_reset_request = '{{ url_for('auth.password_reset_request') }}'
      $scope.isDisabled = false;
      $scope.email = null
      $scope.disableButton = function() {
            $scope.isDisabled = true;
        }

      $scope.sendMessage = function(email) {
          $scope.disableButton()
          return $ok($scope.password_reset_request, {email:email}, function(password_reset_request){
                window.location.href = '{{ url_for('auth.login_signup_endpoint') + '?login_signup=login' }}'
          })
      }
    });
</script>
    {% raw %}
    <div class="reset row block-resp" ng-controller="resetpassword">
        <div class="link-page" ng-cloak>
            <h5>{{ _('Reset Your Password') }}</h5>
        </div>

                <form ng-cloak name="formEmail" class="reset-page">
                    <input pr-test="EmailInput1" type="email" class="form-control" placeholder="Email"
                       ng-model="email" name="email"
                       ng-pattern="/[0-9a-z_]+@[0-9a-z_]+\.[a-z]{2,5}/">
                    <div ng-show="formEmail.email.$error.pattern" class="error-input">{{ _('The
                        email not validate!') }}
                    </div>
                    <button pr-test="SendMessage" class="reset-pass col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right"
                            ng-click="sendMessage(email)"
                            ng-disabled="isDisabled || formEmail.email.$error.pattern" type="submit">{{ _('Reset password') }}</button>
                </form>
    </div>
    {% endraw %}

{% endblock portal_content %}
