{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - Password Reset{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_content %}
<script>

    module.controller('resetpassword',  function($scope, $ok){
      $scope.$$translate = {{ translates('resetpassword')|safe }};
      $scope.password_reset_request = '{{ url_for('auth.password_reset_request') }}'
      $scope.email = ''

      $scope.sendMessage = function(email) {
          console.log(email)
          return $ok($scope.password_reset_request, {email:email}, function(reset_password){

          })
      }
    });
</script>
    {% raw %}
    <div class="reset row" ng-controller="resetpassword">
        <div class="link-page" ng-cloak>
            <h5>{{ _('Reset Your Password') }}</h5>
        </div>

                <form ng-cloak name="formEmail" class="reset-page">
                    <input pr-test="EmailInput" type="email" class="form-control" placeholder="Email"
                       ng-model="email" name="profireader_email"
                       ng-pattern="/[0-9a-z_]+@[0-9a-z_]+\.[a-z]{2,5}/">
                    <div ng-show="formReset.profireader_email.$error.pattern" class="error-input">The
                        email not validate!
                    </div>
                    <button pr-test="SendMessage" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right" ng-click="sendMessage(email)" type="submit">{{ _('Reset password') }}</button>
                </form>
    </div>
    {% endraw %}

{% endblock portal_content %}
