{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - Articles list{% endblock title %}

{% block portal_content %}
    <div ng-controller="UserLoginController" ng-cloak class="row">
        <div>
            <h1 class="nice-title">{{ _('Reset Your Password')}}<span></span></h1>
        </div>
        <form name="formLogin" class="register-form-profirider" action="{{ url_for('auth.password_reset_change', token=token) }}" method="post">
            <input pr-test="RegEmail" class="form-control" type="email" placeholder="email" required name="email"
                   ng-pattern="/[0-9a-z_]+@[0-9a-z_]+\.[a-z]{2,5}/">
            <div ng-show="formLogin.email.$error.pattern" class="error-input">The email not validate!</div>
            <input pr-test="RegPass" class="form-control" type="password" placeholder="password" required
                   name="password">
            <input pr-test="RegRepeatPass" class="form-control" type="password" placeholder="repeat password" required
                   name="password1">
            <input pr-test="RegSubmit" class="submit-form" type="submit">
        </form>
    </div>
{% endblock portal_content %}
