{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader - Password Reset{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_content %}
    <div class="container" ng-controller="UserLoginController">
        <div class="row link-page">
            <h5>Reset Your Password</h5>
        </div>
        <div class="row reset-pass">
            <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form action="{{ url_for('auth.password_reset_request') }}" method="POST">
                    <input type="email" class="form-control" placeholder="yourname@email.com">
                    <button class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right" type="submit">Reset password</button>
                    </form>
            </div>
        </div>


        {#old#}
{#        <div>#}
{#            <h1 class="nice-title">{{ '{{' }}_('Reset Your Password'){{ '}}' }}<span></span></h1>#}
{#        </div>#}
{#        <form action="{{ url_for('auth.password_reset_request') }}" method="POST">#}
{#            {{ form.email(placeholder='yourname@email.com', value="", type="email") }} <br/>#}
{#            {{ form.submit(type="submit") }}#}
{#            {{ form.csrf_token }}#}
{#        </form>#}
{#        content#}
        {#/old#}

    </div>
{% endblock portal_content %}
