{% extends "index_lazy_layout.html" %}
{% block title %}{{ _('Profireader filemanager') }}{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        var library = {{ library|safe }};
        var error = '{{ err }}';
        var file_manager_called_for = '{{ file_manager_called_for|safe }}';
        var file_manager_on_action = {{ file_manager_on_action|safe }};
        var file_manager_default_action = '{{ file_manager_default_action|safe }}';
        var last_visit_root = '{{ last_visit_root|safe }}';
        var last_root_id = '{{ last_root_id|safe }}';
        var translates = {{ translates('FileManagerCtrl')|safe }};
    </script>
    <script>
        pr_angular_modules.push('FileManagerApp');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.4.2/angular-translate.js"></script>

    <script src="//static.profireader.com/static/new/filemanager/app.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/config.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/chmod.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/item.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/filenavigator.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/fileuploader.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/translations.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/controller.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/selector-controller.js"></script>
    <script src="//static.profireader.com/static/new/filemanager/angular-filemanager.min.js"></script>

    <link rel="stylesheet" href="//static.profireader.com/static/new/filemanager/angular-filemanager.css">
    <script src="//static.profireader.com/static/file_uploader/dist/ng-file-upload.js"></script>
    <!--<script src="//static.profireader.com/static/fileuploader/ng-file-upload.min.js"></script>-->


{%- endblock head %}

{% block navbar %}
    {% if file_manager_called_for == "" %}
    {% include '_ruslan/partials/_user_menu.html' %}
    {% endif %}
{% endblock navbar %}

{% block content %}
    <div class="container-fluid widewrapper">
        {% block portal_content %}
            <angular-filemanager></angular-filemanager>
        {% endblock portal_content %}
    </div>
{% endblock content %}



