<script>

    module.controller('message-controller', ['$scope', '$uibModal', '$ok', '$timeout', function ($scope, $uibModal, $ok, $timeout) {

        $scope.alerts = [];

        $scope.add_message = function (amessage, atype, atime, aunique_id) {

            if (['danger', 'success', 'warning', 'info'].indexOf(atype) === -1) {
                console.warn("Unknow message type `" + atype +
                        "` passed (is restricted to 'danger', 'success', 'warning', 'info'");
                atype = 'info';
            }

            if (aunique_id === true) {
                aunique_id = atype + '_' + amessage;
            }

            var msg = {type: atype ? atype : 'info', msg: amessage, hash: randomHash(), unique_id: aunique_id};

            if (aunique_id) {
                _.filter($scope.alerts, function (msg) {
                    return msg.unique_id !== aunique_id;
                });
            }

            $timeout(function () {
                $scope.alerts.push(msg);
            },0);


            if (atime && atime > 0) {
                $timeout(function () {
                    $.each($scope.alerts, function (ind, val) {
                        if (val['hash'] === msg['hash']) {
                            $scope.closeAlert(ind);
                            return false;
                        }
                    });
                }, atime)
            }

        };

        $scope.closeAlert = function (index) {
            $scope.alerts.splice(index, 1);

        };


        {% for message in get_flashed_messages() %}
            $scope.add_message('{{ message }}', 'warning');
        {% endfor %}

    }]);
</script>

{#  TODO: MY BY OZ: #}
<div ng-controller="message-controller" id="controller-message-controller" ng-cloak>
    {% raw %}
    <div ng-repeat="alert in alerts" class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6 col-sm-10 col-xs-12 flash-message flash-message-{{ alert.type }}" onclick="this.style.bottom='60px'">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 img-message" >
                <img src="//static.profireader.com/static/images/0.gif" width="128" height="129" alt="{{ alert.type }}">
            </div>
            <div class="col-lg-8 col-md-8 col-xs-8 col-sm-8">
                <i class="fa fa-times" ng-click="closeAlert($index)"></i>
                <h3>{{ _(alert.type + '!') }}</h3>
                <p>{{ alert.msg }}</p>
            </div>
        </div>
    </div>
    {% endraw %}
</div>
