<script>

    module.controller('message-controller', ['$scope', '$uibModal', '$ok', '$timeout', function ($scope, $uibModal, $ok, $timeout) {

        $scope.alerts = [];

        $scope.add_message = function (amessage, atype, atime) {

            var msg = {type: atype ? atype : 'error', msg: amessage, hash: randomHash()};



            $scope.alerts.push(msg);


            if (atime && atime > 0) {
                $timeout(function () {
                    $.each($scope.alerts, function (ind, val) {
                        if (val['hash'] === msg['hash']) {
                            $scope.closeAlert(ind);
                            return false;
                        }
                    });
                }, atime)
            }

        };

        $scope.closeAlert = function (index) {
            $scope.alerts.splice(index, 1);
        };


        {% for message in get_flashed_messages() %}
            $scope.add_message('{{ message }}', 'warning');
        {% endfor %}

    }]);
</script>

{#  TODO: MY BY OZ: #}
<div ng-controller="message-controller" id="controller-message-controller"
     style="position: fixed; margin-top: 120px;">
    {% raw %}

    <div ng-repeat="alert in alerts" class="row">
        <div ng-if="alert.type=='success'" class="col-lg-offset-3 col-lg-6 flash-message-succsess">
            <div class="col-lg-4 img-message">
                <img src="../../static/images/success.png" alt="success">
            </div>
            <div class="col-lg-8">
                <i class="fa fa-times"></i>
                <h3>{{ _(alert.type + '!') }}</h3>
                <p>{{ alert.msg }}</p>
            </div>
        </div>
        <div ng-if="alert.type=='error'" class="col-lg-offset-3 col-lg-6 flash-message-err">
            <div class="col-lg-4 img-message">
                <img src="../../static/images/error.png" alt="error">
            </div>
            <div class="col-lg-8">
                <i class="fa fa-times" ng-click="closeAlert($index)"></i>
                <h3>{{ _(alert.type + '!') }}</h3>
                <p>{{ alert.msg }}</p>
            </div>
        </div>

    </div>
    {% endraw %}
</div>
