{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - {{ _('help') }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block portal_content %}
<script>

    module.controller('info',  function($scope, $ok){
      angularControllerFunction('UserLoginController', 'set_selected_user_menu')('info');
      $scope.$$translate = {{ translates('info')|safe }};
      $scope.help_message = '{{ url_for('auth.help_message') }}';
      $scope.data = {{ data | tojson}}

      $scope.isDisabled = false;
      $scope.disableButton = function() {
            $scope.isDisabled = true;
        }

      $scope.sendMessage = function(data) {
          $scope.disableButton()
          return $ok($scope.help_message, {data:data}, function(help_message){
              if (help_message === true) {
                    window.location.href = '{{ url_for('reader.list_reader') }}';
                    add_message('Your message has been sent', 'warning')
                } else {
                    $scope.isDisabled = false;
                    add_message(help_message, 'info')
                }
          })
      }
    });
</script>
    {% raw %}
    <div class="helpmessage row block-resp" ng-controller="info">
        <div class="link-page" ng-cloak>
            <h5>{{ _('Help page') }}</h5>
        </div>
        <form ng-cloak name="formHelp" class="help-page" ng-model="data">
            <h3>{{ __('Contact Us') }}<br>
                <small>{{ __('Site Administrator will contact you') }}</small>
            </h3>
            <div class="form-for-message col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">

                <input pr-test="EmailInput" type="email" class="form-control" placeholder="Email"
                       ng-model="data.email" name="profireader_email"
                       >
                <div ng-show="formHelp.profireader_email.$error.pattern" class="error-input">{{ _('The
                        email not validate!') }}
                </div>
                <textarea pr-test="TextInput" class="form-control" rows="4"
                          ng-model='data.message' placeholder="{{ _('Questions and wishes...') }}"></textarea>
                <button pr-test="SendMessage" class="pull-right" ng-click="sendMessage(data)" ng-disabled="isDisabled"
                   type="submit">{{ _('Send') }}</button>
            </div>
        </form>
    </div>
{% endraw %}

{% endblock portal_content %}