<script type="text/ng-template" id="pagination.html">
    <uib-pagination boundary-links="true" total-items="data.pages.total" items-per-page="1"
                    ng-model="data.pages.current_page" ng-change="page_changed()"
                    class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></uib-pagination>
</script>


<script type="text/ng-template" id="cropper.html">
    {% raw %}

    <div style="position: relative;  width: 100%; height: 100%; padding: 5px" class="img-container cropper-bg">
        <div style="position: relative;  width: 100%; height: 100%;" class="img-container-cropper">
            <img style="width: 100%; height: 100%;"/>
        </div>
    </div>
    <div class="btn-group" ng-cloak>
        <button ng-if="zoomable" ng-disabled="!zoom(0.1, true)" ng-click="zoom(0.1)" class="btn
        btn-primary"
                type="button" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip"><span
                          class="glyphicon glyphicon-zoom-in"></span></span>
        </button>

        <button ng-if="zoomable" ng-disabled="!zoom(-0.1, true)" ng-click="zoom(-0.1)" class="btn
        btn-primary"
                type="button"
                title="Zoom Out">
                 <span class="docs-tooltip" data-toggle="tooltip"><span
                         class="glyphicon glyphicon-zoom-out"></span></span>
        </button>

        <button ng-if="browsable" class="btn btn-primary" type="button"
                value="{{ image_file_url }}"
                ng-click="chooseImage(true, avatar)">
                <span class="docs-tooltip" data-toggle="tooltip" title="Chose image"><span
                        class="glyphicon glyphicon-folder-open"></span></span>
        </button>
        <label ng-if="uploadable" class="btn btn-primary btn-upload"
               title="Upload image file">
            <input pr-file-change="fileUploaded" type="file" class="sr-only pr-cropper-input-image" name="file"
                   accept="image/*">
            <span class="docs-tooltip" data-toggle="tooltip" title="Import image with Blob URLs">
              <span class="glyphicon glyphicon-upload"></span>
            </span>
        </label>

        <button ng-repeat="(url_class_name, url) in prCrop.preset_urls" class="btn btn-primary" type="button"
                ng-click="selectPresetUrl(url_class_name)">
                <span class="docs-tooltip" data-toggle="tooltip" title="{{ url_class_name }}"><span
                        class="glyphicon {{ url_class_name }}"></span></span>
        </button>

        <button ng-if="resetable" class="btn btn-primary" type="button"
                ng-click="resetModel()">
                <span class="docs-tooltip" data-toggle="tooltip" title="Reset image"><span
                        class="glyphicon glyphicon-repeat"></span></span>
        </button>


        <input type="hidden" ng-model="data.article.image_file_id">
    </div>
    {% endraw %}
</script>

<!--
<script type="text/ng-template" id="prHelpPopoverTemplate.html">
    <div>!!!!</div>
    <label>Popup Title:</label>
</script>
-->