<!-- TODO: OZ by OZ: move this templates to separate .js file with cached templates -->

<script type="text/ng-template" id="pagination.html">
    <uib-pagination boundary-links="true" total-items="data.pages.total" items-per-page="1"
                    ng-model="data.pages.current_page" ng-change="page_changed()"
                    class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></uib-pagination>
</script>

<script type="text/ng-template" id="pr-crop-buttons.html">
    {% raw %}
    <div class="pr tar">
        <div class="btn-group">
        <span ng-if="zoomable" ng-disabled="!zoom_by(1.1, true)" ng-click="zoom_by(1.1)" class="btn
        btn-primary"
              type="button" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip"><span
                          class="fa fa-search-plus"></span></span>
        </span>

            <span ng-if="zoomable" ng-disabled="!zoom_by(0.9, true)" ng-click="zoom_by(0.9)" class="btn
        btn-primary"
                  type="button"
                  title="Zoom Out">
                 <span class="fa fa-search-minus"></span>
        </span>

            <span ng-disabled="!select_all(true)" ng-click="select_all()" class="btn btn-primary"
                  type="button"
                  title="Select all">
                 <span class="fa fa-arrows-alt"></span>
        </span>

            <span ng-if="browsable" ng-click="chooseImage(true)" class="btn btn-danger"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'browse' || prCrop['selected_by_user']['type'] == 'provenance'}"
                  title="Choose image"><span class="fa fa-folder-open-o"></span></span>


            <label ng-if="uploadable" class="btn btn-danger"
                   ng-class="{'active': prCrop['selected_by_user']['type'] == 'upload'}"
                   title="Upload image file">
                <input pr-file-change="fileUploaded" type="file" class="sr-only pr-cropper-input-image" name="file"
                       accept="image/*">
                <span class="fa fa-upload"></span>
            </label>
            <span ng-repeat="(preset_id, preset_url) in preset_urls" class="btn btn-danger" type="button"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'preset' &&
              prCrop['selected_by_user']['preset_id'] == preset_id}"
                  ng-click="selectPresetUrl(preset_id)">
                <span title="{{ url_class_name }}" class="fa {{ preset_button_classes[preset_id] }}"></span>
        </span>

            <span ng-if="noneurl" class="btn btn-danger" type="button"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'none'}" ng-click="selectNone()">
                <span title="none" class="fa fa-times-circle-o"></span>
        </span>

            <span ng-if="resetable"
                  ng-click="resetModel()" class="btn btn-warning" title="Reset image"><span
                    class="fa fa-refresh"></span></span>

            {% endraw %}
            {#            TODO OZ by OZ: we need that?#}
            {#            <input type="hidden" ng-model="data.article.image_file_id">#}
            {% raw %}

        </div>
    </div>

    {% endraw %}

</script>

{% raw %}
<script type="text/ng-template" id="typeaheadTemplate.html">
    <a class="typeahead-item" href="#">
        <span ng-show="match.model.id" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <em ng-show="!match.model.id" ng-bind-html="match.label"></em>

    </a>
</script>

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>

<script type="text/ng-template" id="filemanager.html">
    <iframe src="{{ src }}"
            style="border: none; margin: 0px; padding: 0px; width: 100%; height: 100%"></iframe>
</script>

<style>
    .selected_tags span:first-child > span.ui-select-match-item {
        background-color: #9f191f;
    }
</style>
{% endraw %}

<script>
    module.controller('submit_publish_dialog', function ($scope, $ok, $uibModalInstance, action,
                                                         material_or_publication_id, company_id, portal_id) {

        $scope.$$translate = {{ translates('submit_publish_dialog')|safe }};
        $scope.url_submit_to_portal = {{ raw_url_for('article.submit_publish')|safe }};
        {% raw %}

        $scope.object_name = (action === 'SUBMIT') ? 'material' : 'publication';
        $scope.action = action;
        $scope.original_article = null;

        $scope.get_tags_for_selected_division = function (search_text) {
            var division = $scope.get_selected_division();
            return _.filter($scope.data.portal.tags, function (tag) {
                return $scope.tag_is_allowed_for_division(division, tag) &&
                        ( (tag['text'].toString().toLowerCase().indexOf(search_text) !== -1) ||
                        (tag['description'].toString().toLowerCase().indexOf(search_text) !== -1) );
            })
        };

        $scope.data = {
            action: action,
            portal: {id: portal_id},
            company: {id: company_id}
        };

        $scope.data[(action === 'SUBMIT') ? 'material' : 'publication'] = {id: material_or_publication_id};

        $scope.afterSave = function (resp, defcallback) {
            $uibModalInstance.close(resp)
        };

        $scope.amidLoad = function (resp, defaultcallback) {
            if (resp.publication.publishing_tm)
                resp.publication.publishing_tm = new Date(resp.publication.publishing_tm);
            if (resp.publication.event_begin_tm)
                resp.publication.event_begin_tm = new Date(resp.publication.event_begin_tm);
            if (resp.publication.event_end_tm)
                resp.publication.event_end_tm = new Date(resp.publication.event_end_tm);
            $scope.original_article = cloneObject(resp.publication);
            return resp;
        };

        $scope.action_cancel = $uibModalInstance.dismiss;


        $scope.get_selected_division = function () {
            return (!$scope.data || !$scope.data.publication || !$scope.data.publication.portal_division_id || !$scope
                    .data.portal.divisions[$scope.data.publication.portal_division_id]) ? null : $scope.data.portal.divisions[$scope.data.publication.portal_division_id];

        };

        $scope.is_selection_division_event = function () {
            var division = $scope.get_selected_division();
            return (division && division['portal_division_type_id'] === 'events');
        };

        $scope.tag_is_allowed_for_division = function (division, tag) {
            var ret = division && division['tags'] && _.find(division['tags'], function (division_tag) {
                        return division_tag.id === tag.id
                    });
            return ret;
        };

        $scope.$watch("data['publication']['portal_division_id']", function (newid, oldid) {
            if ($scope.data.publication) {
                $scope.data.publication.tags = (newid ? _.filter($scope.data.publication.tags, function (tag) {
                    return $scope.tag_is_allowed_for_division($scope.get_selected_division(), tag);
                }) : []);
            }
        });

        //added listener per @homerjam per https://github.com/angular-ui/ui-select/issues/974
        $scope.$on('uiSelectSort:change', function (event, args) {
            $scope.data.publication.tags = args.array;
            if (!$scope.$$phase) { //http://stackoverflow.com/questions/20263118/what-is-phase-in-angularjs
                $scope.$apply();
            }
        });

        $scope.visibility_available = function (visibility_type) {

            if (!$scope.data || !$scope.data.membership || !$scope.data.publication_count) {
                return false;
            }

            var available = $scope.data.publication_count['by_status_visibility']['PUBLISHED'][visibility_type.toUpperCase()];
            var current = $scope.data.membership.current_membership_plan_issued['publication_count_' + visibility_type.toLowerCase()];
            if (available < 0) return true;
            if ($scope.original_article && $scope.original_article.visibility === visibility_type) return true;
            return available > current ? true : false;
        };


        {% endraw %}

    });
</script>

{% raw %}
<script type="text/ng-template" id="submit_publish_dialog.html">
    <div af ng-model="data" af-url="{{ url_submit_to_portal({'article_action': action}) }}"
         af-after-save="afterSave"
         af-amid-load="amidLoad"
         af-watch="data.publication" ng-cloak>
        <div class="modal-header">
            <h3 class="modal-title">{{ _(action + ' ' + object_name + ' at portal') }}</h3>
        </div>
        <div class="modal-body">
            {{ _('You are going to ' + action + ' ' + object_name + ' `%(data.publication.material.title)s` at portal
            `%(data.portal.name)s`') }}<br/>
            <div ng-if="action !== 'UNPUBLISH' && action !== 'DELETE' && action !== 'UNDELETE'">
                <br/>
                {{ _('Select portal division') }}<span
                    af-validation-answer="data_validation:portal_division_id"></span><br/>
                <div ng-repeat="division in data.portal.divisions">
                    <label>
                        <input
                                name="material_details_publish_dialog_division"
                                ng-value="division.id" ng-model="data.publication.portal_division_id"
                                type="radio"> {{ division.name }}
                    </label>
                </div>
                <hr/>
                <div class="selected_tags">
                    <ui-select ng-disabled="!data.publication.portal_division_id"
                               ng-model="$parent.$parent.data.publication.tags" class="form-control" sortable="true"
                               multiple>
                        <ui-select-match placeholder="{{ ::_('Select tag...') }}">{{$item.text}}</ui-select-match>
                        <ui-select-choices repeat="tag in get_tags_for_selected_division($select.search)">
                            <div ng-bind-html="(tag.text | highlight: $select.search)"></div>
                            <small ng-bind-html="tag.description | highlight: $select.search"></small>
                        </ui-select-choices>
                        <ui-select-no-choice>
                            <em class="error">{{ ::_('there is no tags for this division') }}</em>
                        </ui-select-no-choice>

                    </ui-select>
                </div>
                <hr/>
                {{ _('Select publication visibility') }}<span
                    af-validation-answer="data_validation:visibility"></span><br/>
                <label
                        ng-class="{'disabled': !visibility_available(visibility_type)}"
                        class="db p025em {{ 'publication-bg-VISIBILITY-' + visibility_type }}"
                        ng-repeat="visibility_type in ['OPEN', 'PAYED', 'REGISTERED']">
                    <input name="material_details_publish_dialog_visibility"
                           ng-disabled="!visibility_available(visibility_type)"
                           ng-value="visibility_type" ng-model="data.publication.visibility"
                           type="radio"/>
                    {{ visibility_type }}
                    <span class="fr"
                          ng-bind-html="publication_count(data.membership.current_membership_plan_issued, visibility_type, data.publication_count)|html"></span>
                </label>
                <hr/>
                {{ _('Select publication date') }}<span
                    af-validation-answer="data_validation:publishing_tm"></span><br/>
                <input pr-date-time-picker class="form-control" ng-model="data.publication.publishing_tm"/>
                <div ng-if="is_selection_division_event()">
                    {{ _('Select event begin date') }}<span
                        af-validation-answer="data_validation:event_begin_tm"></span><br/>
                    <input pr-date-time-picker class="form-control" ng-model="data.publication.event_begin_tm"/>
                </div>
                <div ng-if="is_selection_division_event()">
                    {{ _('Select event end date') }}<span
                        af-validation-answer="data_validation:event_end_tm"></span><br/>
                    <input pr-date-time-picker class="form-control" ng-model="data.publication.event_end_tm"/>
                </div>
                <div ng-if="object_name === 'material'">
                    <hr/>
                    <label ng-class="{disabled: !data.can_material_also_be_published}"><input
                            ng-disabled="!data.can_material_also_be_published"
                            ng-model="$parent.$parent.data.also_publish"
                            type="checkbox">&nbsp;{{
                        _('also publish material') }}</label><br/>
                    <div ng-if="!data.can_material_also_be_published">
                        {{ _('Sorry, you company `%(data.company.name)s` have no permission to publish at portal
                        %(data.portal.name)s') }}<br/>
                    </div>
                    {{ _('You can send message to company administration') }}<br/>
                    <textarea disabled="disabled" style="width: 100%" ng-model="message"></textarea>
                </div>
            </div>
        </div>


        <div class="modal-footer">
            <button ng-if="action === 'SUBMIT'" class="btn btn-primary"
                    ng-disabled="!$af.isActionAllowed(data, 'save')"
                    type="button" ng-click="$af.save(data)"><span ng-if="!data.also_publish">{{ _('Do submit') }}</span>
                <span ng-if="data.also_publish">{{ _('Do submit & publish') }}</span>
            </button>

            <button ng-if="action !== 'SUBMIT' " class="btn btn-primary"
                    ng-disabled="!$af.isActionAllowed(data, 'save')"
                    type="button" ng-click="$af.save(data)">{{ _('Do ' + action) }}
            </button>

            <button class="btn btn-warning" type="button" ng-click="action_cancel()">{{ _('Cancel ' + action) }}
            </button>
        </div>
    </div>
</script>

{% endraw %}


<script>
    module.controller('membership_tags', function ($scope, $ok, $uibModalInstance, membership_id) {

        $scope.$$translate = {{ translates('membership_tags')|safe }};
        $scope.set_membership_tags = {{ raw_url_for('portal.membership_set_tags')|safe }};
        {% raw %}

        $scope.data = {
            membership: {id: membership_id},
            all_tags: [],
            tags: [],
            selected_tags: []
        };

        console.log($scope.data);


        $scope.afterSave = function (resp, defcallback) {
            $uibModalInstance.close(resp)
        };

        $scope.get_tags = function (search_text) {

            var catalog_division = $scope.data.membership.portal ?
                    _.findWhere($scope.data.membership.portal.divisions, {'portal_division_type_id': 'catalog'}) : {'tags': []};
            return _.filter(catalog_division.tags, function (tag) {
                return (!_.findWhere($scope.data.membership.tags, {'text': tag['text']})) &&
                        ( (tag['text'].toString().toLowerCase().indexOf(search_text) !== -1) ||
                        (tag['description'].toString().toLowerCase().indexOf(search_text) !== -1) );
            });
        };

        $scope.action_cancel = $uibModalInstance.dismiss;

        //added listener per @homerjam per https://github.com/angular-ui/ui-select/issues/974
        $scope.$on('uiSelectSort:change', function (event, args) {
            $scope.data.tags = args.array;
            if (!$scope.$$phase) { //http://stackoverflow.com/questions/20263118/what-is-phase-in-angularjs
                $scope.$apply();
            }
        });

        {% endraw %}

    });
</script>

{% raw %}
<script type="text/ng-template" id="membership_tags.html">
    <div af ng-model="data"
         af-url="{{ set_membership_tags({membership_id: data.membership.id }) }}"
         af-after-save="afterSave"
         af-watch="data.tags" ng-cloak>
        <div class="modal-header">
            <h3 class="modal-title">{{ _('select tags') }}</h3>
        </div>
        <div class="modal-body">
            <h4>{{ _('You are going to select tags for company `%(data.membership.company.name)s` at portal
                `%(data.membership.portal.name)s`')}}</h4>
            <hr/>
            <div class="selected_tags">
                <ui-select ng-model="data.membership.tags" class="form-control" sortable="true"
                           multiple>
                    <ui-select-match placeholder="{{ ::_('Select tag...') }}">{{$item.text}}</ui-select-match>
                    <ui-select-choices repeat="tag in get_tags($select.search)">
                        <div ng-bind-html="(tag.text | highlight: $select.search)"></div>
                        <small ng-bind-html="tag.description | highlight: $select.search"></small>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        <em class="error">{{ ::_('there is no tags available for this portal') }}</em>
                    </ui-select-no-choice>
                </ui-select>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-disabled="!$af.isActionAllowed(data, 'save')" type="button"
                    ng-click="$af.save(data)">{{ _('Save tags') }}
            </button>
            <button class="btn btn-warning" type="button" ng-click="action_cancel()">{{ _('Cancel') }}
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">
        {{ question }}
    </div>

    <div class="modal-footer">
        <button ng-repeat="b in buttons" class="btn {{b.class_name}}" ng-click="ans(b.answer)">{{ b.text }}</button>
    </div>
</script>

<script type="text/ng-template" id="request_set_membership_plan.html">
    <div class="SelectMembershipPlanController_class"
         af ng-model="data" af-after-save="afterSave"
         af-url="{{ request_set_t_f?url_request_membership_plan():url_set_membership_plan() }}">
        <div class="modal-header">
            <h3 class="modal-title">{{ ::_(request_set_t_f?'please select desired plan':'please set plan') }}</h3>
            <h4>{{ __('for company `%(data.membership.company.name)s` in portal `%(data.membership.portal.name)s`')
                }}</h4>
        </div>

        <div class="modal-body">

            <table>
                <tr>
                    <td rowspan="2" class="border-none"></td>
                    <th rowspan="2">{{ ::_('Plan name') }}</th>
                    <th rowspan="2">{{ ::_('Plan price') }}</th>
                    <th rowspan="2">{{ ::_('Plan duration') }}</th>
                    <th colspan="3" class="nowrap">{{ ::_('Publication count') }}</th>
                </tr>
                <tr>
                    <th class="publication-bg-VISIBILITY-OPEN">{{ ::_('open') }}</th>
                    <th class="publication-bg-VISIBILITY-REGISTERED">{{ ::_('registered') }}</th>
                    <th class="publication-bg-VISIBILITY-PAYED">{{ ::_('payed') }}</th>
                </tr>

                <tr>
                    <th class="border-none"></th>
                    <th class="border-none" colspan="6"><h5>{{ _('current plan valid until ' +
                        (data.membership.current_membership_plan_issued.calculated_stopping_tm?'%(date)s':'last of
                        days'),
                        {date: moment(data.membership.current_membership_plan_issued.calculated_stopping_tm)})
                        }}</h5></th>
                </tr>

                <tr ng-class="{'link': request_set_t_f}"
                    ng-click="request_set_t_f?(data.selected_by_user_plan_id = false):false">
                    <td class="tac border-none"><input ng-value="false" type="radio"
                                                       ng-if="request_set_t_f" type="radio"
                                                       ng-model="data.selected_by_user_plan_id"/></td>
                    <td>{{ data.membership.current_membership_plan_issued.name }}</td>
                    <td ng-bind-html="price(data.membership.current_membership_plan_issued)|html"></td>
                    <td ng-bind-html="duration(data.membership.current_membership_plan_issued)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count(data.membership.current_membership_plan_issued, 'open', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count(data.membership.current_membership_plan_issued, 'registered', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count(data.membership.current_membership_plan_issued, 'payed', data.select.publications)|html"></td>
                </tr>


                <tbody ng-if="data.membership.requested_membership_plan_issued">

                <tr>
                    <th class="border-none"></th>
                    <th ng-if="request_set_t_f" class="border-none" colspan="6"><h5
                            ng-if="request_set_t_f && !data.membership.requested_membership_plan_issued.confirmed"
                    >{{ ::_('requested plan awaiting for confirmation') }}</h5>
                        <h5 ng-if="request_set_t_f && data.membership.requested_membership_plan_issued.confirmed">{{
                            ::_('requested plan awaiting for current plan expiration') }}</h5>
                        </h5>
                    </th>
                    <th ng-if="!request_set_t_f" class="border-none" colspan="6"><h5>{{ _('requested plan at
                        %(request_date)s by
                        %(request_user_name)s', {
                        'request_date': moment(data.membership.requested_membership_plan_issued.cr_tm),
                        'request_user_name':
                        data.membership.requested_membership_plan_issued.requested_by_user.full_name}) }}</h5></th>
                </tr>

                <tr class="link" ng-click="data.selected_by_user_plan_id = true">
                    <td class="tac border-none"><input ng-value="true" type="radio" class="border-none"
                                                       ng-model="data.selected_by_user_plan_id"/></td>
                    <td>{{ data.membership.requested_membership_plan_issued.name }}</td>
                    <td ng-bind-html="price(data.membership.requested_membership_plan_issued)|html"></td>
                    <td ng-bind-html="duration(data.membership.requested_membership_plan_issued)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count(data.membership.requested_membership_plan_issued, 'open', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count(data.membership.requested_membership_plan_issued, 'registered', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count(data.membership.requested_membership_plan_issued, 'payed', data.select.publications)|html"></td>
                </tr>

                </tbody>

                <tr>
                    <th class="border-none"></th>
                    <th class="border-none" colspan="6"><h5>{{ ::_(request_set_t_f?'please select desired membership
                        plan':'you can also select other available plan') }}</h5>
                </tr>

                <tr class="link" ng-click="data.selected_by_user_plan_id = plan.id"
                    ng-repeat="plan in data.select.plans">
                    <td class="tac border-none">
                        <div><input
                                ng-value="plan.id" type="radio" ng-model="data.selected_by_user_plan_id"/></div>
                    </td>
                    <td>{{ plan.name }}</td>
                    <td ng-bind-html="price(plan)|html"></td>
                    <td ng-bind-html="duration(plan)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count(plan, 'open', data.select.publications, true)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count(plan, 'registered', data.select.publications, true)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count(plan, 'payed', data.select.publications, true)|html"></td>
                </tr>

                <tr>
                    <td class="border-none tar" colspan="7">
                        <label class="p025em"
                               ng-class="{'disabled': immediately_cant_be_selected(true)}"><input
                                ng-disabled="immediately_cant_be_selected(true)" ng-value="true" type="radio"
                                ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                            _(request_set_t_f?'request immediately':'set immediately') }}</label>
                        &nbsp;&nbsp;&nbsp;
                        <label class="p025em"
                               ng-class="{'disabled': immediately_cant_be_selected(false)}"><input
                                ng-disabled="immediately_cant_be_selected(false)" ng-value="false" type="radio"
                                ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                            _(request_set_t_f?'request after the current plan will be finished':'set after the current
                            plan will be finished') }}</label>

                    </td>
                </tr>

            </table>


        </div>

        <div class="modal-footer">
            <div class="pr-validation-button-wrapper"
                 pr-validation-answer="data_validation:general"
                 popover-placement="left"
                 popover-append-to-body="true">
                <button class="btn btn-primary" type="button"
                        ng-click="$af.save(data)"
                        ng-disabled="!$af.isActionAllowed(data, 'save') ">
                    {{ ::_(request_set_t_f?'Request plan':'Set plan') }}
                </button>
            </div>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{ _('Cancel') }}</button>
        </div>
    </div>
</script>
{% endraw %}


<script>
    module.factory('$rights', ['$http', '$uibModal', function ($http, $uibModal) {
        return function (dict) {
            return $uibModal.open({
                templateUrl: 'rights_dialog.html',
                controller: 'rights_dialog_controller',
                backdrop: 'static',
                keyboard: true,
                resolve: resolveDictForAngularController(dict)
            });
        };
    }]).controller('rights_dialog_controller', function ($scope, $ok, $uibModalInstance, rights, set_url,
                                                         subject_type, subject_name, object_type, object_name) {

        $scope.$$translate = {{ translates('rights_dialog')|safe }};
        $scope.rights = cloneObject(rights);
        $scope.subject_type = subject_type;
        $scope.subject_name = subject_name;
        $scope.object_type = object_type;
        $scope.object_name = object_name;

        {% raw %}

        $scope.cancel = $uibModalInstance.dismiss;

        $scope.save = function () {
            $ok(set_url, $scope.rights, $uibModalInstance.close);
        };

        {% endraw %}

    });
</script>

{% raw %}
<script type="text/ng-template" id="rights_dialog.html">
    <div ng-cloak>
        <div class="modal-header">
            <h3 class="modal-title">{{ ::_('select allowed rights') }}</h3>
        </div>
        <div class="modal-body">
            {{ _('You are going to select allowed rights for ' + subject_type + ' `%(subject_type)s` at ' +
            object_type + ' `%(object_type)s`', {object_type: object_name, subject_type: subject_name}) }}<br/>

            <hr/>
            <div ng-repeat="(rightname, is_allowed) in rights">
                <i ng-class="{'disabled': !rights[rightname]}"
                   class="pr-grid-cell-field-type-icons-icon pr-grid-cell-field-type-icons-icon-{{ rightname }}"></i>
                <label>
                    <input class="dn" type="checkbox" ng-model="rights[rightname]"/>
                    {{ ::_(subject_type + ' can ' + rightname + ' at ' + object_type) }}
                </label>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">{{ ::_('Set rights') }}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{ ::_('Cancel') }}</button>
        </div>
    </div>
</script>

{% endraw %}