<!-- TODO: OZ by OZ: move this templates to separate .js file with cached templates -->
<!-- TODO: OZ by OZ: just like static/angular-templates/submit_publish_dialog.html -->

<script type="text/ng-template" id="pagination.html">
    <uib-pagination boundary-links="true" total-items="data.pages.total" items-per-page="1"
                    ng-model="data.pages.current_page" ng-change="page_changed()"
                    class="pagination-sm"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"></uib-pagination>
</script>

<script type="text/ng-template" id="pr-crop-buttons.html">
    {% raw %}
    <div class="pr tar">
        <div class="btn-group">
        <span ng-if="zoomable" ng-disabled="!zoom_by(1.1, true)" ng-click="zoom_by(1.1)" class="btn
        btn-primary"
              type="button" title="Zoom In">
                  <span class="docs-tooltip" data-toggle="tooltip"><span
                          class="fa fa-search-plus"></span></span>
        </span>

            <span ng-if="zoomable" ng-disabled="!zoom_by(0.9, true)" ng-click="zoom_by(0.9)" class="btn
        btn-primary"
                  type="button"
                  title="Zoom Out">
                 <span class="fa fa-search-minus"></span>
        </span>

            <span ng-disabled="!select_all(true)" ng-click="select_all()" class="btn btn-primary"
                  type="button"
                  title="Select all">
                 <span class="fa fa-arrows-alt"></span>
        </span>

            <span ng-if="browsable" ng-click="chooseImage(true)" class="btn btn-danger"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'browse' || prCrop['selected_by_user']['type'] == 'provenance'}"
                  title="Choose image"><span class="fa fa-folder-open-o"></span></span>


            <label ng-if="uploadable" class="btn btn-danger"
                   ng-class="{'active': prCrop['selected_by_user']['type'] == 'upload'}"
                   title="Upload image file">
                <input pr-file-change="fileUploaded" type="file" class="sr-only pr-cropper-input-image" name="file"
                       accept="image/*">
                <span class="fa fa-upload"></span>
            </label>
            <span ng-repeat="(preset_id, preset_url) in preset_urls" class="btn btn-danger" type="button"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'preset' &&
              prCrop['selected_by_user']['preset_id'] == preset_id}"
                  ng-click="selectPresetUrl(preset_id)">
                <span title="{{ url_class_name }}" class="fa {{ preset_button_classes[preset_id] }}"></span>
        </span>

            <span ng-if="noneurl" class="btn btn-danger" type="button"
                  ng-class="{'active': prCrop['selected_by_user']['type'] == 'none'}" ng-click="selectNone()">
                <span title="none" class="fa fa-times-circle-o"></span>
        </span>

            <span ng-if="resetable"
                  ng-click="resetModel()" class="btn btn-warning" title="Reset image"><span
                    class="fa fa-refresh"></span></span>

            {% endraw %}
            {#            TODO OZ by OZ: we need that?#}
            {#            <input type="hidden" ng-model="data.article.image_file_id">#}
            {% raw %}

        </div>
    </div>

    {% endraw %}

</script>

{% raw %}
<script type="text/ng-template" id="typeaheadTemplate.html">
    <a class="typeahead-item" href="#">
        <span ng-show="match.model.id" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
        <em ng-show="!match.model.id" ng-bind-html="match.label"></em>

    </a>
</script>

<script type="text/ng-template" id="alert.html">
    <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
        <div ng-transclude></div>
    </div>
</script>

<script type="text/ng-template" id="filemanager.html">
    <iframe src="{{ src }}"
            style="border: none; margin: 0px; padding: 0px; width: 100%; height: 100%"></iframe>
</script>

<style>
    .selected_tags span:first-child > span.ui-select-match-item {
        background-color: #9f191f;
    }
</style>
{% endraw %}

<script>
    module.controller('membership_tags', function ($scope, $ok, $uibModalInstance, membership_id) {

        $scope.$$translate = {{ translates('membership_tags')|safe }};
        $scope.set_membership_tags = {{ raw_url_for('portal.membership_set_tags')|safe }};
        {% raw %}

        $scope.data = {
            membership: {id: membership_id},
            all_tags: [],
            tags: [],
            selected_tags: []
        };


        $scope.afterSave = function (resp, defcallback) {
            $uibModalInstance.close(resp)
        };

        $scope.get_tags = function (search_text) {

            var catalog_division = $scope.data.membership.portal ?
                _.findWhere($scope.data.membership.portal.divisions, {'portal_division_type_id': 'catalog'}) : {'tags': []};
            return _.filter(catalog_division.tags, function (tag) {
                return (!_.findWhere($scope.data.membership.tags, {'text': tag['text']})) &&
                    ( (tag['text'].toString().toLowerCase().indexOf(search_text) !== -1) ||
                    (tag['description'].toString().toLowerCase().indexOf(search_text) !== -1) );
            });
        };

        $scope.action_cancel = $uibModalInstance.dismiss;

        //added listener per @homerjam per https://github.com/angular-ui/ui-select/issues/974
        $scope.$on('uiSelectSort:change', function (event, args) {
            $scope.data.tags = args.array;
            if (!$scope.$$phase) { //http://stackoverflow.com/questions/20263118/what-is-phase-in-angularjs
                $scope.$apply();
            }
        });

        {% endraw %}

    });
</script>

{% raw %}
<script type="text/ng-template" id="membership_tags.html">
    <div af ng-model="data"
         af-url="{{ set_membership_tags({membership_id: data.membership.id }) }}"
         af-after-save="afterSave"
         af-watch="data.tags" ng-cloak>
        <div class="modal-header">
            <h3 class="modal-title">{{ _('select tags') }}</h3>
        </div>
        <div class="modal-body">
            <h4>{{ _('You are going to select tags for company `%(data.membership.company.name)s` at portal
                `%(data.membership.portal.name)s`')}}</h4>
            <hr/>
            <div class="selected_tags">
                <ui-select ng-model="data.membership.tags" class="form-control" sortable="true"
                           multiple>
                    <ui-select-match placeholder="{{ ::_('Select tag...') }}">{{$item.text}}</ui-select-match>
                    <ui-select-choices repeat="tag in get_tags($select.search)">
                        <div ng-bind-html="(tag.text | highlight: $select.search)"></div>
                        <small ng-bind-html="tag.description | highlight: $select.search"></small>
                    </ui-select-choices>
                    <ui-select-no-choice>
                        <em class="error">{{ ::_('there is no tags available for this portal') }}</em>
                    </ui-select-no-choice>
                </ui-select>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary"
                    ng-disabled="!$af.isActionAllowed(data, 'save')" type="button"
                    ng-click="$af.save(data)">{{ _('Save tags') }}
            </button>
            <button class="btn btn-warning" type="button" ng-click="action_cancel()">{{ _('Cancel') }}
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_dialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
    </div>
    <div class="modal-body">
        {{ question }}
    </div>

    <div class="modal-footer">
        <button ng-repeat="b in buttons" class="btn {{b.class_name}}" ng-click="ans(b.answer)">{{ b.text }}</button>
    </div>
</script>

<script type="text/ng-template" id="select_status_dialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ ::title }}</h3>
    </div>
    <div class="modal-body">
        {{ ::question }}
        <div ng-repeat="status_enabled_message in status_changes">
            <label title="{{ (status_enabled_message['enabled'] || status_enabled_message['message'])?status_enabled_message['message']:_( 'You have no permissions to change status from ' + old_status + ' to ' + status_enabled_message['status'] ) }}"
                   ng-class="{'disabled': !status_enabled_message['enabled'], 'bold': $parent.new_status === status_enabled_message['status']}">
                <input type="radio"
                       ng-disabled="!status_enabled_message['enabled']"
                       ng-model="$parent.new_status" ng-value="status_enabled_message['status']"/>&nbsp;
                {{ ::$parent.$parent._('change status from ' + old_status + ' to ' + status_enabled_message['status'])
                }}</label></div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-disabled="!new_status || new_status === old_status" ng-click="ok()">{{
            ::_('Ok') }}
        </button>
        <button class="btn btn-danger" ng-click="cancel()">{{ ::_('Cancel') }}</button>
    </div>
</script>

<script type="text/ng-template" id="request_set_membership_plan.html">
    <div class="SelectMembershipPlanController_class"
         af ng-model="data" af-after-save="afterSave"
         af-url="{{ bycompany_byportal_t_f?url_request_membership_plan():url_set_membership_plan() }}">
        <div class="modal-header">
            <h3 class="modal-title">{{ ::_(bycompany_byportal_t_f?'please select desired plan':'please set plan')
                }}</h3>
            <h4>{{ __('for company `%(data.membership.company.name)s` in portal `%(data.membership.portal.name)s`')
                }}</h4>
        </div>

        <div class="modal-body">

            <table>
                <tr>
                    <td rowspan="2" class="border-none"></td>
                    <th rowspan="2">{{ ::_('Plan name') }}</th>
                    <th rowspan="2">{{ ::_('Plan price') }}</th>
                    <th rowspan="2">{{ ::_('Plan duration') }}</th>
                    <th colspan="3" class="nowrap">{{ ::_('Publication count') }}</th>
                </tr>
                <tr>
                    <th class="publication-bg-VISIBILITY-OPEN">{{ ::_('open') }}</th>
                    <th class="publication-bg-VISIBILITY-REGISTERED">{{ ::_('registered') }}</th>
                    <th class="publication-bg-VISIBILITY-PAYED">{{ ::_('payed') }}</th>
                </tr>

                <tr>
                    <th class="border-none"></th>
                    <th class="border-none" colspan="6"><h5>{{ _('current plan valid until ' +
                        (data.membership.current_membership_plan_issued.calculated_stopping_tm?'%(date)s':'last of
                        days'),
                        {date: moment(data.membership.current_membership_plan_issued.calculated_stopping_tm)})
                        }}</h5></th>
                </tr>

                <tr ng-class="{'link': bycompany_byportal_t_f}"
                    ng-click="bycompany_byportal_t_f?(data.selected_by_user_plan_id = false):false">
                    <td class="tac border-none"><input ng-value="false" type="radio"
                                                       ng-if="bycompany_byportal_t_f" type="radio"
                                                       ng-model="data.selected_by_user_plan_id"/></td>
                    <td>{{ data.membership.current_membership_plan_issued.name }}</td>
                    <td ng-bind-html="price(data.membership.current_membership_plan_issued)|html"></td>
                    <td ng-bind-html="duration(data.membership.current_membership_plan_issued)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count_for_plan(data.membership.current_membership_plan_issued, 'open', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count_for_plan(data.membership.current_membership_plan_issued, 'registered', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count_for_plan(data.membership.current_membership_plan_issued, 'payed', data.select.publications)|html"></td>
                </tr>


                <tbody ng-if="data.membership.requested_membership_plan_issued">

                <tr>
                    <th class="border-none"></th>
                    <th ng-if="bycompany_byportal_t_f" class="border-none" colspan="6"><h5
                            ng-if="bycompany_byportal_t_f && !data.membership.requested_membership_plan_issued.confirmed"
                    >{{ ::_('requested plan awaiting for confirmation') }}</h5>
                        <h5 ng-if="bycompany_byportal_t_f && data.membership.requested_membership_plan_issued.confirmed">
                            {{
                            ::_('requested plan awaiting for current plan expiration') }}</h5>
                        </h5>
                    </th>
                    <th ng-if="!bycompany_byportal_t_f" class="border-none" colspan="6"><h5>{{ _('requested plan at
                        %(request_date)s by
                        %(request_user_name)s', {
                        'request_date': moment(data.membership.requested_membership_plan_issued.cr_tm),
                        'request_user_name':
                        data.membership.requested_membership_plan_issued.requested_by_user.full_name}) }}</h5></th>
                </tr>

                <tr class="link" ng-click="data.selected_by_user_plan_id = true">
                    <td class="tac border-none"><input ng-value="true" type="radio" class="border-none"
                                                       ng-model="data.selected_by_user_plan_id"/></td>
                    <td>{{ data.membership.requested_membership_plan_issued.name }}</td>
                    <td ng-bind-html="price(data.membership.requested_membership_plan_issued)|html"></td>
                    <td ng-bind-html="duration(data.membership.requested_membership_plan_issued)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count_for_plan(data.membership.requested_membership_plan_issued, 'open', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count_for_plan(data.membership.requested_membership_plan_issued, 'registered', data.select.publications)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count_for_plan(data.membership.requested_membership_plan_issued, 'payed', data.select.publications)|html"></td>
                </tr>

                </tbody>

                <tr>
                    <th class="border-none"></th>
                    <th class="border-none" colspan="6"><h5>{{ ::_(bycompany_byportal_t_f?'please select desired
                        membership
                        plan':'you can also select other available plan') }}</h5>
                </tr>

                <tr class="link" ng-click="data.selected_by_user_plan_id = plan.id"
                    ng-repeat="plan in data.select.plans">
                    <td class="tac border-none">
                        <div><input
                                ng-value="plan.id" type="radio" ng-model="data.selected_by_user_plan_id"/></div>
                    </td>
                    <td>{{ plan.name }}</td>
                    <td ng-bind-html="price(plan)|html"></td>
                    <td ng-bind-html="duration(plan)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-OPEN"
                        ng-bind-html="publication_count_for_plan(plan, 'open', data.select.publications, true)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                        ng-bind-html="publication_count_for_plan(plan, 'registered', data.select.publications, true)|html"></td>
                    <td class="w1em publication-bg-VISIBILITY-PAYED"
                        ng-bind-html="publication_count_for_plan(plan, 'payed', data.select.publications, true)|html"></td>
                </tr>

                <tr>
                    <td class="border-none tar" colspan="7">
                        <label class="p025em"
                               ng-class="{'disabled': immediately_cant_be_selected(true)}"><input
                                ng-disabled="immediately_cant_be_selected(true)" ng-value="true" type="radio"
                                ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                            _(start_or_request()?'start immediately':'request to start immediately') }}</label>
                        <br/>
                        <label class="p025em"
                               ng-class="{'disabled': immediately_cant_be_selected(false)}"><input
                                ng-disabled="immediately_cant_be_selected(false)" ng-value="false" type="radio"
                                ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                            _(start_or_request()?'schedule to start after the current plan will be finished':'request to
                            start after the current plan will be finished') }}</label>

                    </td>
                </tr>

            </table>


        </div>

        <div class="modal-footer">
            <div class="pr-validation-button-wrapper"
                 pr-validation-answer="data_validation:general"
                 popover-placement="left"
                 popover-append-to-body="true">
                <button class="btn btn-primary" type="button"
                        ng-click="$af.save(data)"
                        ng-disabled="!$af.isActionAllowed(data, 'save') ">
                    {{ start_or_request()?(data.membership.request_membership_plan_issued_immediately?'start
                    plan':'schedule plan'):'request plan' }}
                </button>
            </div>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{ _('Cancel') }}</button>
        </div>
    </div>
</script>
{% endraw %}


<script>
    module.factory('$rights', ['$http', '$uibModal', function ($http, $uibModal) {
        return function (dict) {
            return $uibModal.open({
                templateUrl: 'rights_dialog.html',
                controller: 'rights_dialog_controller',
                backdrop: 'static',
                keyboard: true,
                resolve: resolveDictForAngularController(dict)
            });
        };
    }]).controller('rights_dialog_controller', function ($scope, $ok, $uibModalInstance, rights, set_url,
                                                         subject_type, subject_name, object_type, object_name) {

        $scope.$$translate = {{ translates('rights_dialog')|safe }};
        $scope.rights = cloneObject(rights);
        $scope.subject_type = subject_type;
        $scope.subject_name = subject_name;
        $scope.object_type = object_type;
        $scope.object_name = object_name;

        {% raw %}

        $scope.cancel = $uibModalInstance.dismiss;

        $scope.save = function () {
            $ok(set_url, $scope.rights, $uibModalInstance.close);
        };

        {% endraw %}

    });
</script>

{% raw %}
<script type="text/ng-template" id="rights_dialog.html">
    <div ng-cloak>
        <div class="modal-header">
            <h3 class="modal-title">{{ ::_('select allowed rights') }}</h3>
        </div>
        <div class="modal-body">
            {{ _('You are going to select allowed rights for ' + subject_type + ' `%(subject_type)s` at ' +
            object_type + ' `%(object_type)s`', {object_type: object_name, subject_type: subject_name}) }}<br/>

            <hr/>
            <div ng-repeat="(rightname, is_allowed) in rights">
                <i ng-class="{'disabled': !rights[rightname]}"
                   class="pr-grid-cell-field-type-icons-icon pr-grid-cell-field-type-icons-icon-{{ rightname }}"></i>
                <label>
                    <input class="dn" type="checkbox" ng-model="rights[rightname]"/>
                    {{ ::_(subject_type + ' can ' + rightname + ' at ' + object_type) }}
                </label>
            </div>
        </div>


        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="save()">{{ ::_('Set rights') }}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{ ::_('Cancel') }}</button>
        </div>
    </div>
</script>

{% endraw %}