# comprehensive .gitignore can be found here:
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
env/
venv/
.venv/
build/

# PyCharm
.idea/

# all backup files
*~

# secret data
secret_data.*
client_secret.*
/client_secret.*
*client_secrets.json
*client_secret.json
/*client_secrets.json
/*client_secret.json
/client_secret.json

# database
db/database_full.*
db/database.*.bak
db/*.sql

*.bak
*.js.map
*.css.map
.venv/

tmp*

**/node_modules
**/bower_components

wget-log.*
profireader_haproxy.key.pem*
main_domain.py
letsencryptrequests/
scrt/
profapp/static/front/wood
profapp/templates/front/wood
