{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_articles.html' %}
    {% include '_ruslan/partials/_header_files_crop.html' %}
{% endblock head %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('article_edit', ['$scope', function ($scope) {

            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('materials');

            $scope.$$translate = {{ translates('article_edit')|safe }};
            $scope.data = {};

            $scope.title = '{{ 'Update material' if material_id else 'Create new material' }}';
            document.title = document.title;


            $scope.amidSave = function (resp) {
                if (!$scope.data.material.id && resp.material.id) {
                    window.location.href = {{ raw_url_for('article.article_show_form')|safe }}({
                        company_id: resp.material.company_id,
                        material_id: resp.material.id
                    })
                }
                else {
                    $scope.data['material']['illustration'] = resp['material']['illustration'];
                    add_message($scope._('material was saved'), 'success', 3000);
                }

            };

            $scope.goToArticle = function (material) {
                url = {{ raw_url_for('article.material_details')|safe }}({
                    company_id: material.company_id,
                    material_id: material.id
                })
                var win = window.open(url, '_blank');
                win.focus();
            }

            $scope.getData = function (model, deff) {
                return deff(model);
            };

            $scope.getDataForValidation = function (model, deff) {
                console.log(model, deff);
                delete model['material']['illustration'];
                console.log(model, deff);
                return deff(model);
            };

            $scope.amidLoad = function (resp) {
                if (typeof resp === 'string') {
                    location.href = '/';
                    add_message(resp, 'warning', 2000);
                    console.log(resp)
                }
                return resp;
            };

            var tinyArticleOptions = {'height': '500px', 'body_class': 'article-content'}


            {% if article_portal_division_id %}
                var custom_formats = {{ tinymce_format_groups('birdy')|tojson }};
                tinyArticleOptions['toolbar2'] = 'foreground | background | font | border | margin | padding';
            {% else %}
                var custom_formats = {};
            {% endif %}

            tinyArticleOptions['formats'] =
                    _.chain($.extend({}, {{ tinymce_format_groups()|tojson }}, custom_formats)).// here we have dict in form {group_label: {format: format_properties}}
                    reduce(_.extend, {}).// flatten groups
                    map(function (format_properties, format_name) { // convert each format to tinymce in flat dictionary
                        return [format_name, convert_python_format_to_tinymce_format(format_properties)]; // form list of [key, val] pairs
                    }).object().// convert each [key, val] pair to {key: val} element
                    value(); // get result

            tinyArticleOptions['pr_formats'] = _.size(custom_formats) ? get_array_for_menu_build(custom_formats) : [];

            $scope.tinymceImageOptions = $.extend(true, $scope.tinymceImageOptions, tinyArticleOptions);

        }]);

    </script>

    {% raw %}

    <div ng-init="init()" ng-controller="article_edit" ng-cloak class="create-material">
        <div class="row link-page create-new-material"><h5>{{ _(title) }}</h5></div>
        <form name="newMaterial">
            <!-- <h1 class="nice-title">{{ _(title) }}<span></span></h1> -->

            <div af af-amid-load="amidLoad" af-amid-save="amidSave"
                 af-before-save="getData"
                 af-before-validate-todo="getDataForValidation" af-watch="data.material" ng-model="data">

                <div style="padding-bottom: 50px">
                    <div>
                        <div style="width: 400px; height: 300px; position: relative"
                             pr-crop="data.material.illustration"></div>
                    </div>
                </div>

                <div class="update_col1">
                    <!-- TODO: OK by OZ:   this block form should share same classes with layout to look MAXIMUM like in portal
                                            maybe layout selector is apporpriate here-->
                    {{ _('Article title') }}
                    <pr_help_tooltip>article_title</pr_help_tooltip>
                    <input class="form-control article-edit-input" type="text" ng-model="data.material.title"
                           pr-validation-answer="data_validation:title"
                           name="article_title" jng-pattern="/[\wа-яёі']{3}/i">
                    <div ng-show="newMaterial.article_title.$error.pattern" class="error-input">
                        {{ _('The title name should be longer!') }}
                    </div>

                    {{ _('Article subtitle') }}
                    <pr_help_tooltip>article_subtitle</pr_help_tooltip> <span
                        af-validation-answer="data_validation:subtitle"></span>
                    <input class="form-control article-edit-input" type="text" ng-model="data.material.subtitle">

                    {{ _('Keywords') }}
                    <input class="form-control article-edit-input" ng-model="data.material.keywords"
                           pr-validation-answer="data_validation:keywords"
                           name="article_keywords" jng-pattern="/[\wа-яёі']{2}/i">
                    <div ng-show="newMaterial.article_keywords.$error.pattern" class="error-input">
                        {{ _('The keywords should be longer!') }}
                    </div>

                    {{ _('Author') }}
                    <input class="form-control article-edit-input" ng-model="data.material.author"
                           pr-validation-answer="data_validation:author"
                           name="article_author" jng-pattern="/[\wа-яёі']{2}/i">
                    <div ng-show="newMaterial.article_author.$error.pattern" class="error-input">
                        {{ _('The author should be longer!') }}
                    </div>
                </div>


                <div class="update_col1">
                    <!-- TODO: OZ by OZ move this code to one file -->
                    <link href="//static.profireader.com/static/css/article.css" rel="stylesheet">
                    <!-- TODO: OZ by OZ: select css for current theme. also look for another place with same todo-->
                    <link href="//static.profireader.com/static/front/bird/css/article.css" rel="stylesheet">

                    {{ _('Short Description') }} <span af-validation-answer="data_validation:short"></span>
                    <textarea class="form-control article-edit-input" style="width: 710px" placeholder="{{_('short')}}"
                              ng-model="data.material.short"></textarea>

                    {{ _('Full text') }}
            <textarea ui-tinymce="tinymceImageOptions"
                      ng-model="data.material.long"></textarea>
                </div>


                <div class="update_col1">
                    *{{ _('All fields are required') }}

                    <button class="pr-button" ng-disabled="!$af.isActionAllowed(data, 'save')"
                            ng-click="$af.save(data)">&nbsp;<span class="glyphicon glyphicon-save-file"></span>&nbsp;{{
                        data.material.id ? _('save') : _('create') }}
                    </button>
                    <button class="pr-button" ng-click="goToArticle(data.material)" ng-if="article_type"><span class="fa
                    fa-external-link">{{ _(article_type +
                        ' preview') }}</span></button>
                </div>
            </div>
        </form>
    </div>
    {% endraw %}

{% endblock %}


