<section class="company-header">
    <img class="img-responsive center-block logo" src="{{ membership['company']['logo']['url'] }}" alt="Company logo">
    <h5 class="text-center company">{{ membership['company']|highlighted('name') }}</h5>
</section>
<nav>
    <ul class="nav nav-pills nav-justified company-menu">



        <li {% if company_menu_selected_item == 'about' %}class="active"{% endif %}><a
                    href="{{ url_for('front.company_page',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}">{{ _('About') }}</a></li>

            {% for division_id, division in portal.divisions.items() %}
                {% if division.portal_division_type_id == 'news' or division.portal_division_type_id == 'events' %}
                    <li {% if 'id' in company_menu_selected_item and company_menu_selected_item['id'] == division.id %}class="active"{% endif %}>
                        <a href="{{ url_for('front.division',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'],
                                   division_name=division.name) }}">{{ division.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}


            <li {% if company_menu_selected_item == 'contacts' %}class="active"{% endif %}><a
                    href="{{ url_for('front.company_page',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'], member_company_page = 'contacts') }}">{{ _('Contacts') }}</a>
            </li>



    </ul>
</nav>