{% extends 'layout.html' %}
{% block title -%}
    {{ _('%(division_name)s - %(portal_name)s', {'portal_name': portal.name, 'division_name': division.name}) }}
{%- endblock %}

{% block body %}
    {% include 'tags_menu.html' %}
    {% import 'macros.html' as frontmacros %}
    {% set wide_banners = {2:'1',6:'2'} %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10">
                <div class="clearfix">
                    <main role="main">
                        {% for article_id, article in articles.items() %}
                            {% include 'article_thumbnail.html' %}
                            {% if loop.index in wide_banners and portal.advs['wide_banner_' + wide_banners[loop.index]] %}
                                <a href="#">{{ portal.advs['wide_banner_' + wide_banners[loop.index]]|safe }}</a>
                                <hr class="article-thumbnail-divider">
                            {% endif %}
                            <hr class="article-thumbnail-divider">
                            {% if loop.index in wide_banners and portal.advs['wide_banner_' + wide_banners[loop.index]] %}
                                <a href="#"
                                   class="wide-banner">{{ portal.advs['wide_banner_' + wide_banners[loop.index]]|safe }}</a>
                            {% endif %}
                        {% else %}
                            {% if tags.selected_names or search_text %}
                                <h3 class="tac">{{ _('There are no articles with current search criteria') }}</h3>
                            {% else %}
                                <h3 class="tac">{{ _('There are no articles in this division') }}</h3>
                            {% endif %}
                        {% endfor %}
                    </main>
                </div>
            </div>
        </div>
    </div>
    {# % include '_common/block_pager.html' % #}
{% endblock %}
