{% extends 'layout_company_page.html' %}

{% block company_content %}
    {% for employment in member_company.employments if employment['status'] == 'ACTIVE' %}
        <div class="person-item" id="company_employees">
            <img width="50" height="50" class="round-avatar" {{ prImageUrl(employment.user['avatar']['url']) }} />
            <b>{{ employment.user['full_name'] }}</b><br/>
            {% if employment['position'] %}
                <div class="role">{{ employment['position'] }}&nbsp;</div>{% endif %}
            <a data-user-id="{{ employment.user['id'] }}" style="clear: both" href="#"><span
                    class="glyphicon glyphicon-envelope"></span>&nbsp;{{ _('send message') }}</a>
        </div>
    {% endfor %}


    <form id="send-message-form" style="display: none">
        <input type="hidden" id="send-message-user-id"/>
        <textarea style="width: 100%; height: 100%; resize: none; border-width: 1px;" name="message" id="message"
                  class="text ui-widget-content ui-corner-all"></textarea>
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

    </form>

    {% include '_common/script_send_message_to_user.html' %}
{% endblock %}
