{% include 'member_short.html' %}

<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header pull-right" style="margin-left: 0px; margin-right: 0px;">
        <button type="button" class="navbar-toggle collapsed mlr05" data-toggle="collapse" data-target="#company-navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="company-navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li {% if company_menu_selected_item == 'about' %}class="active"{% endif %}><a
                    href="{{ url_for('front.company_page',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name']) }}">{{ _('About') }}</a></li>

            {% for division_id, division in portal.divisions.items() %}
                {% if division.portal_division_type_id == 'news' or division.portal_division_type_id == 'events' %}
                    <li {% if 'id' in company_menu_selected_item and company_menu_selected_item['id'] == division.id %}class="active"{% endif %}>
                        <a href="{{ url_for('front.division',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'],
                                   division_id=division.id,
                                   division_name=division.url) }}">{{ division.name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li {% if company_menu_selected_item == 'address' %}class="active"{% endif %}><a
                    href="{{ url_for('front.company_page',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'], member_company_page = 'address') }}">{{ _('Address') }}</a>
            </li>
            <li {% if company_menu_selected_item == 'contacts' %}class="active"{% endif %}><a
                    href="{{ url_for('front.company_page',
                                   member_company_id = member_company['id'] ,
                                   member_company_name = member_company['name'], member_company_page = 'contacts') }}">{{ _('Contacts') }}</a>
            </li>
        </ul>
    </div>

</nav>
