{% import '_common/macros.html' as frontmacros %}
{% extends 'layout.html' %}


{% block left_content %}
    {% for member_id, member in members.items() %}
        <div class="block-item company-item">
        {% if member['tags'] %}
        <div class="item-tags fr">
            {% for tag in member['tags'] %}
                <span class="label label-danger"><a href="#">{{ tag.text }}</a></span>
            {% endfor %}
        </div>

        {% endif %}

            <img class="block-item-img bg-contain" {{ fileUrl(member['company']['logo']['url']) }} />

            <a href="{{ url_for('front.company_page', member_company_id = member['company']['id'], member_company_name = member['company']['name']) }}">{{ member['company']['name'] }}</a>
            <br/><br/>
            {{ member['company']['short_description']|safe }}
            {%  if member['company']['country'] != '' %}
            <span>{{ __('Country') }}: {{ member['company']['country']|safe }}</span></br>
            {% endif %}
            {%  if member['company']['city'] != '' %}
            <span>{{ __('City') }}: {{ member['company']['city']|safe }}</span>
            {% endif %}
        </div>

    {% endfor %}

{% endblock %}
