{% extends '_common/html.html' %}

{% block body %}
    <div class="container">
        <div class="row site_content">
            {% block site_content %}
                <div class="col-md-12 top_content">
                    {% block top_content %}{% include '_common/block_menu.html' %}{% endblock %}
                </div>
                <div class="col-md-9 left_content">
                    {% block left_content %}{% endblock %}
                </div>
                <div class="col-md-3 right_content">
                    {% block right_content %}{% endblock %}
                </div>
                <div class="col-md-12 bottom_content">
                    {% block bottom_content %}{% endblock %}
                </div>
            {% endblock  %}
        </div>
    </div>
{% endblock %}