{% extends '_common/html.html' %}
{% block body %}
    {% block top_content %}{% include '_common/block_menu.html' %}{% endblock %}

    <div class="container p0 middle-content">
        {% block middle_content %}
            <div class="center-content">
                {% block center_content %}{% endblock %}
            {% if portal.advs['bottom_banner'] -%}
                <a href="#" class="bottom-banner">{{ portal.advs['bottom_banner']|safe }}</a>
            {%- endif %}
            </div>
            <div class="left-content">
                {% block left_content %}{% include '_common/block_tags.html' %}{% endblock %}
            </div>
            <div class="right-content">
                {% block right_content %}
                    {% for banner_num in ['0','1','2','3','4','5','6','7','8','9'] %}
                        {% if portal.advs['right_banner_' + banner_num] %}<a href="#" class="vertical-banner">{{ portal.advs['right_banner_' + banner_num]|safe }}</a>{% endif %}
                    {% endfor %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% block bottom_content %}
        <div class="bottom-content">
        {% if portal.url_twitter %}<a href="{{ portal.url_twitter }}" ><li class="fa fa-twitter-square" style="color: #1da1f2"></li></a>{% endif %}
        {% if portal.url_linkedin %}<a href="{{ portal.url_linkedin }}" ><li class="fa fa-linkedin-square" style="color: #0177b5"></li></a>{% endif %}
        {% if portal.url_google %}<a href="{{ portal.url_google }}" ><li class="fa fa-google-plus-square" style="color: #dc4e41"></li></a>{% endif %}
        {% if portal.url_facebook %}<a href="{{ portal.url_facebook }}" ><li class="fa fa-facebook-square" style="color: #3b5998"></li></a>{% endif %}
        {{ __('__Profireader bottom text') }}
        </div>
   {% endblock %}

{% endblock %}
