{% extends 'layout.html' %}
{% block body_class %}no-search{% endblock %}
{% block title -%}
    {{ _('title ' + company_menu_selected_item + ' %(company_name)s - %(portal_name)s', {'company_name': member_company.name, 'portal_name': portal.name}) }}
{%- endblock %}



{% block center_content %}
    {% include 'company_menu.html' %}
    <h3>{{ _('header ' + company_menu_selected_item + ' %(company_name)s', {'company_name': member_company.name}) }}</h3>
    {% block company_content %}{% endblock %}
{% endblock %}
