{% extends 'layout.html' %}
{% import '_common/macros.html' as frontmacros %}
{% block title %}
    {{ _('%(article_title)s - %(portal_name)s', {'article_title': article.title, 'portal_name': portal.name}) }}{% endblock %}

{% block right_content %}
    {% include '_common/block_search.html' %}
    <a href="#" class="right_banner_1">{{ portal.advs['right_banner_1']|safe }}</a>
    <a href="#" class="right_banner_2">{{ portal.advs['right_banner_2']|safe }}</a>
{% endblock %}

{% block left_content %}
    {% if article_visibility %}
        {% include 'article/social.html' %}
        {% include 'article/long.html' %}
    {% else %}
        {% include 'article/unavailable.html' %}
    {% endif %}
{% endblock %}
