<div class="block-item list-elements">
    <div class="item-type article">
        <a href="{{ url_for('front.division', division_name=article['division']['name']) }}">{{ article['division']['name']|safe }}</a>
        <span class="fr">{{ article.author }}</span>
    </div>
    <div style="text-align: right">{% for tag in article.tags %}
        {{ frontmacros.tag(tag, tags.url_construct_toggle, selected_tag_names = tags.selected_names, toogle_tag = True) }} {% endfor %}</div>
    <h2 class="item-title">
        <a href="{{ url_for('front.article_details', publication_id=article['id'], publication_title=article['title']) }}">{{ article['title']|safe }}</a>
    </h2>
    <div class="item-short-content">
        <div>{{ article.subtitle }}</div>
        <div>{{ article.short|safe }}</div>
    </div>
    <div class="item-additional-info">
        <a href="{{ url_for('front.company_page', member_company_name = article['company']['name'], member_company_id = article['company']['id']) }}"
           class="item-company">{{ article['company']['name']|safe }}</a>
        <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
    </div>
    <div class="bottom-hide"></div>
    <img {{ prImageUrl(article['illustration']['url']) }} class="block-item-img bg-contain"/>
</div>