{% set p_main_domain = '//' + MAIN_DOMAIN %}
{% set url_join = _URL_JOIN() %}

<a style="{% if not g.user %}display: none; {% endif %}" aria-haspopup="true" id="profireader_user_link"
   href="{% if g.user %}{{ p_main_domain }}/user/{{ g.user.id }}/profile/{% else %}{{ url_join }}{% endif %}"><img
        {{ prImageUrl(g.user.avatar.url if g.user else static_address('images/0.gif'), position = 'top') }}
        class="user-avatar"/></a>

<a id="profireader_link" style="{% if g.user %}display: none; {% endif %}" target="profireader_subscribe"
   href="{% if g.user %}{{ p_main_domain }}/{% else %}{{ url_join }}{% endif %}"><img
        class="profireader-logo" src="{{ static_address('favicon.ico') }}"/></a>
<script>
    _USER = {% if g.user %}{{ g.user.get_client_side_dict()|tojson }}{% else %}{}{% endif %};

    window.addEventListener("message", function (messageevent) {
        if (!messageevent.data || !messageevent.data['profireader_session_id']) {
            return false;
        }

        if (messageevent.data && messageevent.data.profireader_session_id) {
            $.cookie('beaker.session.id', messageevent.data.profireader_session_id, {path: '/'});
        }

        if (messageevent.data && messageevent.data.user {% if g.user and g.user.id %}
                    && messageevent.data.user.id !== '{{ g.user.id }}'{% endif %}) {
            _USER = messageevent.data.user;
            $('#profireader_user_link').attr('href', '{{ p_main_domain }}/user/' + messageevent.data.user.id + '/profile/');
            $('#profireader_user_link span').html(messageevent.data.welcome);
            $('#profireader_user_link img').css('background-image', 'url(' + messageevent.data.user.avatar.url + ')');
            $('#profireader_user_link').show();
            $('#profireader_link').attr('href', '{{ p_main_domain }}').hide();
        }
        else if (messageevent.data && !messageevent.data.user) {
            _USER = {};
            $('#profireader_user_link').attr('href', '//{{ url_join }}/');
            $('#profireader_user_link span').html(messageevent.data.welcome);
            $('#profireader_user_link img').css('background-image', 'none');
            $('#profireader_user_link').hide();
            $('#profireader_link').attr('href', '{{ url_join }}').show();
        }
    }, false);
    $('body').prepend('<iframe style="position: absolute; width: 1px; height: 1px; visibility: hidden; left: -1px; top: -1px;" src="{{ p_main_domain }}/tools/SSO/' + $.cookie('beaker.session.id') + '/"></iframe>');
</script>
