{% macro tag(tag, tags) %}
    <span class="tag {{ 'tag-selected' if tag.text in tags.selected_names else 'tag-not-selected' }}">
            <a {% if tags.url_toggle_tag %}href="{{ tags.url_toggle_tag(tag.text) }}"{% endif %} class="fa {{ 'fa-minus' if tag.text in tags.selected_names else 'fa-plus' }}"> {{ tag.text }}</a>
    </span>
{% endmacro %}


{% macro article_date(division_type, article) %}
    {% if division_type == 'events' %}
        {% if article.event_begin_tm and article.event_begin_tm %}
            <i class="fa fa-calendar"></i>
            {{ moment(article.event_begin_tm, 'MM.DD.YYYY') }} - {{ moment(article.event_end_tm, 'MM.DD.YYYY') }}
        {% elif article.event_begin_tm %}
            <i class="fa fa-calendar"></i>
            {{ moment(article.event_begin_tm) }}
        {% elif article.event_end_tm %}
            <i class="fa fa-calendar"></i>
            {{ moment(article.event_end_tm) }}
        {% endif %}
    {% elif article.publishing_tm %}
        <i class="fa fa-calendar"></i>
        {{ moment(article.publishing_tm) }}
    {% endif %}
{% endmacro %}
