{% if g.user %}
    <a pr_test="UserProfile" role="button"
       aria-haspopup="true"
       href="//{{ MAIN_DOMAIN }}{{ url_for('user.profile', user_id = g.user.id) }}"
       aria-expanded="false">
        <img style="width: 35px" pr-image-url="{{ g.user.avatar.url }}"
             class="person-small-cover">{{ g.user.full_name }}
    </a>
{% else %}
{% endif %}
<a target="profireader_subscribe" href="//{{ MAIN_DOMAIN }}/reader/list_reader_from_front/{{ g.portal.id }}"><img
        style="width: 35px" src="{{ static_address('favicon.ico') }}"/></a>
