<script>
    window.addEventListener("message", function (messageevent) {
        if (messageevent.data && messageevent.data.profireader_session_id) {
            $.cookie('beaker.session.id', messageevent.data.profireader_session_id, {path: '/'});
            window.location.reload();
        }
    }, false);
    $('body').prepend('<iframe style="position: absolute; width: 1px; height: 1px; visibility: none; left: -1px;" src="https://{{ MAIN_DOMAIN }}/tools/SSO/' + $.cookie('beaker.session.id') + '/"></iframe>');
</script>