{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader{% endblock title %}

{% block portal_content %}
    {% include '_ruslan/reader/_reader_nav.html' %}
    <script>
        module.controller('list_reader', function ($scope, $ok, $sce) {
            angularControllerFunction('UserLoginController', 'set_selected_user_menu')('list_reader');
            $scope.$$translate = {{ translates('list_reader')|safe }};
            $scope.favorite = {{ favorite }}
                    $scope.favorite ? addToMenu_Selected('favorite') : addToMenu_Selected('list');
            $scope.add_delete_favorite = '{{ url_for('reader.add_delete_favorite') }}'
            $scope.add_delete_like = '{{ url_for('reader.add_delete_like') }}'
            $scope.add_to_favorite = function (article) {
                article.is_favorite = article['is_favorite'] ? False : True
                $ok($scope.add_delete_favorite, {'article': article}, function (resp) {
                    article.is_favorite = resp
                })
            };

            $scope.loadNextPage('');

            $scope.like = function (article) {
                $ok($scope.add_delete_like, {'article': article}, function (resp) {
                    article.liked = resp.liked;
                    article.list_liked_reader = resp.list_liked_reader
                })
            };

            $scope.get_local_time = function (date) {
                return moment(new Date(date)).format('Do MMMM YYYY, H:mm:ss');
            };

            $scope.getPopoverContent = function (content_list, width) {
                return getPopoverContent(content_list, width)
            }
        });

    </script>
    {% raw %}
    <div ng-init="loadData()" class="container" ng-controller="list_reader">
        <div ng-cloak>
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-7 reader-content"
                 ng-repeat="article in data.articles">
                <div class="block-item list-elements">
                    <div class="item-type article">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="//{{ article.portal.host }}">
                                <img class="logo-portal-news" ng-src="{{ article.portal.logo }}">
                            </a>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                        <span ng-if="article.tags" class="float right tag-in-article">
                                <a class="label label-danger" target="_blank" href="#" ng-repeat="tag in article.tags">{{
                                    tag.text+' ' }}</a></span>

                            <a pr-test="ArticlePortal" target="_blank"
                               href="//{{ article.portal.host}}/_c/{{ article.company.id}}/{{ article.company.name}}"
                               class="item-company">{{ article.company.name}}</a>-><a pr-test="ArticleDivision"
                                                                                     target="_blank"
                                                                                     href="//{{ article.portal.host }}/{{ article.division.name}}/">{{
                            article.division.name}}</a>
                            <div style=""
                                 class="item-publication-date">{{ get_local_time(article.publishing_tm) }}
                            </div>
                            <div class="pull-right item-read_count"><i class="fa fa-eye"></i> {{ article.read_count }}
                            </div>
                        </div>
                    </div>
                    <a target="_blank" type="link" href="//{{ article.portal.host}}/details/{{ article.id }}">
                        <img class="list-reader-image" style="background-size: cover;" pr-image="article.image_file_id"
                             alt="img">
                    </a>
                    <h3 class="item-title">
                        <a target="_blank"
                           href="//{{ article.portal.host}}/details/{{ article.id }}">{{ article.title}}</a>
                    </h3>
                    <div class="item-short-content">
                        <p>{{ article.short}}</p>
                        </h3>
                        <div class="row liked-favorite-band">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <li ng-click="add_to_favorite(article)">
                                    <i ng-if="!article.is_favorite" class="fa fa-bookmark-o"></i>
                                    <i ng-if="article.is_favorite" class="fa fa-bookmark"></i>
                                    {{_('Bookmark') }}
                                </li>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <li class="liked" ng-click="like(article)" popover-trigger="mouseenter"
                                    popover-placement="top"
                                    uib-popover-html="getPopoverContent(article.list_liked_reader)">
                                    <i class="fa fa-thumbs-o-up"></i>
                                    {{ article.liked }}
                                </li>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <li><i class="fa fa-comments-o"></i>604</li>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                <li><i class="fa fa-share"></i>{{ _('Share') }}</li>
                            </div>
                        </div>
                        <div class="item-additional-info">
                        </div>
                        <div class="bottom-hide"></div>
                        <img pr-image="article.image_file_id" src="//static.profireader.com/static/images/0.gif"
                             class="block-item-img bg-contain"/>
                    </div>
                </div>
                <h3 ng-if="!data.articles && !loading" style="text-align: center">{{ __('Your portals does"t have
                    articles')
                    }}</h3>
            </div>
        </div>
        {% endraw %}
{% endblock portal_content %}