{% extends "_ruslan/_index_layout.html" %}
{% block title %}Profireader{% endblock title %}

{% block portal_content %}
    {% include '_ruslan/reader/_reader_nav.html' %}
    <script>
        module.controller('list_reader', function ($scope, $ok, $sce) {
            angularControllerFunction('user_controller', 'set_selected_user_menu')('list_reader');
            $scope.$$translate = {{ translates('list_reader')|safe }};
            $scope.favorite = {{ favorite }}
                    $scope.favorite ? addToMenu_Selected('favorite') : addToMenu_Selected('list');
            $scope.add_delete_favorite = '{{ url_for('index.add_delete_favorite') }}';
            $scope.add_delete_like = '{{ url_for('index.add_delete_like') }}';

            $scope.add_delete_liked = {{ raw_url_for('index.reader_add_delete_liked')|safe }};
            $scope.add_delete_favorite = {{ raw_url_for('index.reader_add_delete_favorite')|safe    }};

            $scope.tag_url = {{ raw_url_for('front.division')|safe }};
            $scope.url_publication_details = {{ raw_url_for('front.article_details')|safe }};

            $scope.loadNextPage('', function (resp) {
                $scope.data.articles = $scope.data.articles ? $scope.data.articles : [];
                $scope.data.articles = $scope.data.articles.concat(resp['articles']);
            });

            $scope.switch_like_or_favorite = function (article, what) {

                var url = $scope[(what == 'liked') ? 'add_delete_liked' : 'add_delete_favorite']({publication_id: article['id']});
                $ok(url, {'on': article['social_activity'][what] ? false : true}, function (resp) {
                    article['social_activity'][what] = resp['on'];
                    article['social_activity'][what + '_count'] = resp[what + '_count'];
                })
            };

        });

    </script>
    {% raw %}
    <div ng-init="loadData()" class="container" ng-controller="list_reader">
        <div ng-cloak>
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-7 reader-content"
                 ng-repeat="article in data.articles">
                <div class="block-item list-elements">
                    <div class="item-type article">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            <a href="//{{ article.portal_division.portal.host }}">
                                <img class="logo-portal-news" style="height: 65px"
                                     pr-image-url="{{ article.portal_division.portal.logo.url }}"/>
                            </a>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <span class="fr ml05em label label-default item-tags" ng-repeat="tag in article.tags">
                                <a target="_blank" href="//{{ article.portal_division.portal.host }}{{ tag_url({tags: tag.text}) }}">{{ tag.text }}</a>
                            </span>
                            <a target="_blank" href="//{{ article.portal_division.portal.host }}/">{{article.portal_division.portal.name}}</a>
                            &rightarrow;
                            <a target="_blank" href="//{{ article.portal_division.portal.host }}/{{ article.portal_division.portal_division.name}}/">{{article.portal_division.portal_division.name}}</a>
                            <div class="item-publication-date">{{ moment(article.publishing_tm) }}</div>
                            <a target="_blank"
                               href="//{{ article.portal_division.portal.host}}/_c/{{ article.company.id}}/{{ article.company.name}}"
                               class="item-company">{{ article.company.name}}</a>
                            <span class="fr">{{ article.author}}</span>
                        </div>

                    </div>

                </div>
                <a target="_blank" type="link" ng-if="article.illustration.selected_by_user.type !== 'none'"
                   ng-href="{{ url_publication_details({'publication_id': article.id, 'publication_title': article.title}, article.portal_division.portal.host) }}">
                    <img class="list-reader-image" pr-image-url="{{ article.illustration.url }}">
                </a>
                <h5 ng-if="article.illustration.selected_by_user.type === 'none'" >&nbsp;</h5>
                <div class="item-short-content">
                    <h3 class="item-title">
                        <a target="_blank"
                           ng-href="{{ url_publication_details({'publication_id': article.id, 'publication_title': article.title}, article.portal_division.portal.host) }}">{{
                            article.title}}<i ng-if="article.external_url" class="fa fa-external-link ml05em"></i></a>
                    </h3>
                    <div ng-bind-html="article.short"></div>
                </div>
                <br/>
                <table class="w100 noselect">
                    <tr>
                        <td class="w25">
                            <span class="fl"><i class="fa fa-eye"> <span>{{ _('Readers') }}</span>
                            <readers_count>{{ article['read_count'] }}</readers_count>
                            </i></span>
                        </td>

                        <td class="w25"><span class="disabled"><i class="fa fa-commenting-o">
                            <span>{{ _('Comments') }}</span>
                            <comments_count>0</comments_count></i></span>
                        </td>
                        <td class="w25"><span
                                ng-click="switch_like_or_favorite(article, 'liked')">
                    <i ng-class="{'fa-thumbs-o-up': !article.social_activity.liked, 'fa-thumbs-up': article.social_activity.liked}"
                       class="fa link">
                        <span>{{ _('Like') }}</span>
                        <liked_count>{{ article.social_activity.liked_count }}</liked_count>
                    </i></span></td>

                        <td class="w25">
                            <span ng-click="switch_like_or_favorite(article, 'favorite')">
                            <i ng-class="{'fa-bookmark-o': !article.social_activity.favorite, 'fa-bookmark': article.social_activity.favorite}"
                               class="fa link">
                        <span>{{ _('Bookmark') }}</span>
                        <bookmarked_count>{{ article.social_activity.favorite_count }}</bookmarked_count>
                    </i></span></td>
                    </tr>
                </table>


            </div>
        </div>
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-7">
            <h3 ng-if="loading" class="tac">{{ __('loading articles') }}</h3>
            <h3 ng-if="data.end && !loading" class="tac">{{ __('No more articles to load') }}</h3>
            <h3 ng-if="!data.articles && !loading" class="tac">{{ __('Your portals does"t have articles') }}</h3>
        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}

