{% extends 'layout.html' %}
{% import '_common/macros.html' as frontmacros %}
{% block title %}
    {{ _('%(article_title)s - %(portal_name)s', {'article_title': article.title, 'portal_name': portal.name}) }}{% endblock %}

{% block left_content %}{% endblock %}
{% block center_content %}
    <div>
        <a href="{{ url_for('front.company_page', member_company_id = article['company']['id'], member_company_name = article['company']['name']) }}">{{ article['company']['name']|safe }}</a>
    </div>
    <div>
        {% if article.division.portal_division_type_id == 'events' %}
            {{ moment(article.event_begin_tm, 'MM.DD.YYYY') }}-
            {{ moment(article.event_end_tm, 'MM.DD.YYYY') }}
        {% else %}
            {{ moment(article.publishing_tm) }}
        {% endif %}
    </div>

    <div>{{ article['title']|safe }}</div>

    <div>{{ article['subtitle']|safe }}</div>
    {% if article['illustration']['selected_by_user']['type'] != 'none' %}
        <div><img class="article-illustration" {{ prImageUrl(url = article['illustration']['url']) }}></div>
    {% endif %}

    {% include 'article_social.html' %}
    <div>{{ article['short']|safe }}</div>

    <div>{% if article['tags'] %}{% for tag in article.tags %}
        {{ frontmacros.tag(tag, tags.url_construct_toggle, selected_tag_names = [], toogle_tag = True) }}
    {% endfor %}{% endif %}</div>

    {% if article_visibility %}
        <div>{{ article['long'] |safe }}</div>
    {% else %}
        {% include 'article_unavailable.html' %}
    {% endif %}
{% endblock %}
