{# особистий кабінет для регулювання підписки/відписки #}
{% extends "index_lazy_layout.html" %}


{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block title %}Profireader{{ _(' reader profile') }}{% endblock title %}

{% block portal_content %}
    {% include '_ruslan/reader/_reader_nav.html' %}
    <script type="text/ng-template" id="grid_reader_modal.html">
<h4><textarea>Plan text</textarea></h4>
        <div class='modal-footer'>
            <button id='buttonClose' class='btn btn-primary' ng-click='cancel()'>{{ _('Close') }}</button>
        </div>
    </script>
<script>



module.controller('grid_reader_modal', function ($scope, $uibModalInstance, list) {
              $scope.list = list;
              $scope.cancel = function () {
                $uibModalInstance.close($scope.list);
              };
        });

module.controller('grid_reader', function ($scope, $uibModal, $ok, $sce, uiGridConstants, $timeout) {
        $scope.$$translate = {{ translates('grid_reader')|safe }};
        $scope.url_search_translations = {{ raw_url_for('reader.reader_profile')|safe }}
        $scope.reader_edit_profile = {{ raw_url_for('reader.edit_portal_subscription')|safe }};
        $scope.subscribe_to = '{{ url_for('general.portals_list')|safe }}';
        {% raw %}

        $scope.portal_lists = function(){
            window.location.href = $scope.subscribe_to
        }

        $scope.portal_link = function(link){
            return 'http://' + link;
        };

        $scope.showModalForEditNew = function () {
            var list = $scope.list_select;
            var modalInstance = $uibModal.open({
                templateUrl: 'grid_reader_modal.html',
                controller: 'grid_reader_modal',
                resolve: {
                    'list': function () {
                        return list
                    }
                }
            });
            modalInstance.result.then(function (list) {
                // $scope.deleteItems(list);
            });
        };
        $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                        urlLoadGridData: $scope.url_search_translations({}),
                        columnDefs: [
                            {
                                name: 'portal_logo', type: 'img'
                            }, {
                                name: 'portal_name', filter: {type: 'input'}, type: 'link',
                                href: 'portal_link(row.entity.portal_host)'
                            }, {
                                name: 'package_name', type: 'show_modal',
                                modal: "grid.appScope.showModalForEditNew(row, col, row.entity[col.field])",
                                filter: {type: 'input'}
                            }, {
                                name: 'start_tm', filter: {type: 'date_range'}
                            }, {
                                name: 'end_tm'
                            },
                            {
                                name: 'article_remains'
                            },
                            {name: 'configure', type: 'link', href: 'reader_edit_profile({reader_portal_id:row.entity.user_portal_reader_id})'}
                        ]
                    });
        {% endraw %}
    });

    addToMenu_Selected('profile')
</script>
{% raw %}
   <div ng-controller="grid_reader">
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
              <i class="fa fa-spin fa-spinner"></i><div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
        <div><button class="btn btn-default go-portal" ng-click="portal_lists()">{{ _('Subscribe to another portal') }}</button></div>
    </div>
{% endraw %}
{% endblock portal_content %}
