.portal-logo {
    width: 300px;
    height: 200px;
}

.company-logo {
    width: 300px;
    height: 200px;
}

.profireader-logo {
    width: 75px;
    height: 75px;
}

.user-avatar {
    width: 75px;
    height: 75px;
}

.article-illustration {
    width: 300px;
    height: 200px;
}
