<html>
<head>
<script src="//static.profireader.com/static/jquery/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
{% if profi_cookie != local_cookie %}
    {%  if profi_cookie %}
    <script>
        window.parent.postMessage({'profireader_session_id': '{{ profi_cookie }}'},'*')
    </script>
        {% else %}
        <script>
        $.cookie('beaker.session.id', '{{ local_cookie }}');
        </script>
        {% endif %}
{% endif %}
</head>
<body></body>
</html>
