<div class="modal fade" id="UnAuthenticated_dialog" role="dialog" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span>{{ _('You are not authenticated') }}</span></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <a onclick="close_switch_something_modal()" href="{{ _URL_JOIN() }}"
                   target="profireader_subscribe">
                    <button type="button"
                            class="btn btn-success">{{ _('Go to profireader registration page') }}</button>
                </a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<script>

    function close_switch_something_modal() {
        $('#UnAuthenticated_dialog').modal('hide');
        return true;
    }

    function switch_something(element, url, selector_off, selector_on, replace_key_selector) {
        if ($(element).attr('if-not-authenticated') && (!_USER || !_USER.id)) {
            $('.modal-body', $('#UnAuthenticated_dialog')).html($(element).attr('if-not-authenticated'));
            $('#UnAuthenticated_dialog').modal({
                backdrop: 'static',
                keyboard: true
            }).modal('show');
            return;

        }

        $ok(url, {'on': $(selector_on, element).is(':visible') ? false : true}, function (resp) {
            $(selector_off, element).addClass('hide');
            $(selector_on, element).addClass('hide');
            $((resp && resp['on']) ? selector_on : selector_off, element).removeClass('hide');

            if (replace_key_selector)
                $.each(replace_key_selector, function (key, selector) {
                    if (key in resp) {
                        $(selector, element).html(resp[key]);
                    }
                })
        })
    }


</script>