<section class="row article-thumbnail">
    <article>
        <!--Article image thumbnail-->
        <div class="col-xs-12 col-md-4">
            <div class="pull-left article-thumbnail-img">
                <a href="{{ url_for('front.article_details', publication_id=article['id'], publication_title=article['title']) }}">
                    {% if article['illustration']['selected_by_user']['type'] != 'none' %}
                        <img class="img-responsive" src="{{ article['illustration']['url'] }}"/>{% else %}
                        <img class="img-responsive" src="assets/img/no-image.jpg">{% endif %}
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <!--Article division link-->
            {% if show_division_name %}<a href="{{ url_for('front.division', division_name=article['portal_division']['name']) }}"><h3
                    class="div-link">{{ article['portal_division']['name']|safe }}</h3></a>{% endif %}
            <!--Article headling-->
            <header class="clearfix">
                <a href="{{ url_for('front.article_details', publication_id=article['id'], publication_title=article['title']) }}">
                    <h2 class="article-thumbnail-header">{{ article|highlighted('title') }}</h2>
                </a>
                {% if article.subtitle %}
                    <h3 class="article-thumbnail-subtitle">{{ article.subtitle|safe }}</h3>{% endif %}
            </header>
            <div class="article-details clearfix">
                <!--Company link-->
                                            <span class="company-name">
                                                <a class="company-link"
                                                   href="{{ url_for('front.company_page', member_company_name = article['company']['name'], member_company_id = article['company']['id']) }}"><i
                                                        class="fa fa-building-o" aria-hidden="true"
                                                        style="margin-right: 5px"></i>{{ article['company']['name']|safe }}</a>
                                            </span>
                <!--Article comments-->
                <!--
                                                            <span class="article-comments">
                                                                <a class="comment" href=""><i class="fa fa-comment-o" aria-hidden="true" style="margin-right: 5px"></i>5 коментарів</a>
                                                            </span>
                -->
                <!--Article publication date-->
                                            <span class="post-date">
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <time class="publication-date">{{ frontmacros.article_date(article.portal_division.portal_division_type_id, article) }}</time>
                                            </span>
            </div>
            <!--Article description-->
            {% if article['short'] %}<div class="clearfix">
                <p class="article-thumbnail-text">
                    {{ article|highlighted('short') }}
                </p>
            </div>{% endif %}
            <!--Article main tag-->

            {% if article.tags|length %}{% set tag = article.tags[0] %}
                {{ frontmacros.tag(tag, tags, 'main-tag label') }}
            {% endif %}
        </div>
    </article>
</section>