<section class="company-header">
    <img class="img-responsive center-block logo" src="assets/img/logo.png" alt="Company logo">
    <h5 class="text-center company">Деревообробник</h5>
</section>
<nav>
    <ul class="nav nav-pills nav-justified company-menu">
        <li class="active"><a data-toggle="tab" href="#about">Про нас</a></li>
        <li><a data-toggle="tab" href="#news">Новини</a></li>
        <li><a data-toggle="tab" href="#articles">Статті</a></li>
        <li><a data-toggle="tab" href="#advertisements">Оголошення</a></li>
        <li><a data-toggle="tab" href="#events">Події</a></li>
        <li><a data-toggle="tab" href="#contacts">Контакти</a></li>
    </ul>
</nav>