{% extends 'layout.html' %}
{% block body %}
    {% import 'macros.html' as frontmacros %}
    {% include 'tags_menu.html' %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10">
                {% for member_id, membership in memberships.items() %}
                    {% include 'company_thumbnail.html' %}
                {% else %}
                    {% if tags.selected_names or search_text != '' %}
                        <h3 class="tac">{{ _('There are no companies with current search criteria') }}</h3>
                    {% else %}
                        <h3 class="tac">{{ _('There are no active companies joined to this portal') }}</h3>
                    {% endif %}
                {% endfor %}
                {% include 'pagination.html' %}
            </div>
        <aside class="col-lg-2">
            {% include 'right_banners.html' %}
        </aside>
        </div>
    </div>
{% endblock %}