<section class="navmenu navmenu-inverse navmenu-fixed-left offcanvas tag-menu">
            <ul class="nav navmenu-nav">
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Ринок</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Деревообробка</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Різальний інструмент</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Лісове господарство</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Підлоги</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Фурнітура</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Плівка</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Матеріали</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Освіта</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Крайка</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Клеї</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Лісозаготівля</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Плити</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Свердління</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Технології</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Енергетична деревина</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Розпилювання</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Двері</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Полірування</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Події</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Погонаж</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Вікна</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Пакування</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Засоби захисту</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Шліфуваня</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Пресування</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Склеювання</a></li>
                <li><a href="#"><i class="fa fa-tag" aria-hidden="true" style="margin-right: 5px"></i>Сушіння</a></li>
            </ul>
        </section>