{% extends 'layout_company_page.html' %}
{% block company_content %}
    {% block head %}
        {{ super() }}
        <script src="https://maps.googleapis.com/maps/api/js?key={{ secret_data.GOOGLE_MAP_KEY }}"></script>
        <script>
            function initialize() {
                var mapCanvas = document.getElementById('map');
                var mapOptions = {
                    center: new google.maps.LatLng({{ member_company['lat'] }}, {{ member_company['lon'] }}),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(mapCanvas, mapOptions);

                var marker = new google.maps.Marker({
                    position: {'lat': {{ member_company['lat'] }}, 'lng': {{ member_company['lon'] }}},
                    map: map,
                    title: '{{ member_company['name'] }}'
                });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    {% endblock %}
    <div id="contacts" class="tab-pane">
        <!--Company contacts-->
        <section class="company-contacts col-md-12">
            <p class="contacts-header">{{ _('Contact persons') }}</p>
        <hr class="contacts-divider">
            {% for employment in member_company.employments if employment['status'] == 'EMPLOYMENT_ACTIVE' %}
                <div class="contact col-md-4">
                    <a class="contact-userpic" href="#"><img src="{{ employment.user['avatar']['url'] }}"></a>
                    <a href="#"><h6 class="contact-name">{{ employment.user['full_name'] }}</h6></a>
                    {% if employment['position'] %}{{ employment['position'] }}{% endif %}
                    <a class="message" onclick="openMessageDialog('{{ employment.user['id'] }}', '{{ employment.user['full_name'] }}')" data-user-id="{{ employment.user['id'] }}" href="#">
                        <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 5px"></i>{{ _('send message') }}
                    </a>
                </div>
            {% endfor %}
        </section>
        <!--Company adress-->
        <section class="company-address col-md-12">
            <p class="contacts-header">{{ _('Adress') }}</p>
            <hr class="contacts-divider">
            <!--Google maps-->
            <div class="col-md-6">
                <div id="map"></div>
            </div>
            <div class="col-md-6 address">
                <p><i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 5px"></i>{{ [member_company['country'], member_company['region'], member_company['city']]|join(', ') }}</p>
                {% if member_company['address'] %}<p><i class="fa fa-inbox" aria-hidden="true" style="margin-right: 5px"></i>{{ member_company['address'] }}</p>{% endif %}
                {% if member_company['phone'] %}<p><i class="fa fa-phone" aria-hidden="true" style="margin-right: 5px"></i>{{ member_company['phone'] }}</p>{% endif %}
                {% if member_company['fax'] %}<p><i class="fa fa-fax" aria-hidden="true" style="margin-right: 5px"></i>{{ member_company['fax'] }}</p>{% endif %}
                {% if member_company['email'] %}<p><i class="fa fa-envelope" aria-hidden="true" style="margin-right: 5px"></i>{{ member_company['email'] }}</p>{% endif %}
                {% if member_company['host'] %}<a href=""><i class="fa fa-home" aria-hidden="true" style="margin-right: 5px"></i>{{ member_company['host'] }}</a>{% endif %}
            </div>
        </section>
    </div>
    <div class="modal fade" id="messageModal" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _('send message to ') }}<span></span></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="user_id"/>
                    <textarea style="width: 100%"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="sendMessage()"></button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">{{ _('Cancel') }}</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        function openMessageDialog(user_id, user_name) {
            $('#messageModal button.btn-success').html('{{ _('Send') }}');
            $('#messageModal .modal-title span').html(user_name);
            $('#messageModal input[name=user_id]').val(user_id);
            $('#messageModal textarea').val('');
            $('#messageModal button').prop('disabled', false);
            $('#messageModal textarea').prop('disabled', false);
            $('#messageModal').modal({
                backdrop: 'static',
                keyboard: true
            }).modal('show');
            return false;
        }

        function sendMessage() {
            $('#messageModal button').prop('disabled', true);
            $('#messageModal textarea').prop('disabled', true);
            $('#messageModal button.btn-success').html('{{ _('Sending...') }}');

            $ok('{{ url_for('front.send_message', member_company_id = member_company['id']) }}',
                    {
                        message: $("#messageModal textarea").val(),
                        user_id: $('#messageModal input[name=user_id]').val()
                    }, function (resp) {
                        $('#messageModal').modal('hide');
                        add_message('{{ _('Message sent') }}', 'success');
                    }, function (resp) {
                        $('#messageModal').modal('hide');
                        add_message('{{ _('Error sending message') }}', 'danger');
                    });
        }


    </script>
{% endblock %}