<header class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            {% if tags and tags.all %}
            <!--Off-canvas toggle button-->
            <button type="button" class="navbar-toggle pull-left offcanvas-btn" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <!--Collapsive navbar toggle button-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
                <span class="sr-only">Toggle navigation</span>
                Меню
            </button>
            {% endif %}
            <a class="navbar-brand" href="/" style="width: 200px; "><img class="img-responsive bg-contain" src="{{ portal.logo.url }}"></a>
        </div>
        <!--Collapsive navbar-->
        <nav class="navbar-collapse collapse" id="navbar-collapsible" role="navigation">
            <!--Navbar menu-->
            <ul class="nav navbar-nav navbar-left">
                {% for division_id, di in portal.divisions.items() %}
                    {% if di.portal_division_type_id in ['news', 'events', 'catalog'] %}
                        <li {% if division and di.id == division.id %}class="active"{% endif %}>
                            <a href=" {{ url_for('front.division', division_name=di.url) }}">{{ di.name }}</a>
                        </li>
                    {% elif division and di.portal_division_type_id in ['company_subportal'] %}
                        <li {% if di.id == division.id %}class="active"{% endif %}>
                            <a href=" {{ url_for('front.company_page', member_company_id = di['subportal_company'].id,
                            member_company_name = di['url']) }}">{{ di.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <!--Profireader button-->
            {% include 'block_user.html' %}
            <!--Search form-->
            <form class="navbar-form pull-right" action="{{ search.url if search else url_for('front.search') }}">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control search-form" type="text" name="search" placeholder="{{ _('Search') }}" value="{{ search.text if search and search.text else ''  }}">
                        <span class="input-group-addon search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</header>
