{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
    {% include '_ruslan/partials/_header_files_publish.html' %}
{% endblock head %}

{% block title %}Profireader - {{ _('Publications') }}{% endblock title %}

{% block portal_content %}

    <script>
        module.controller('article_list', function ($scope, $ok, $sce, $publish, $confirm) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('publications');

            $scope.company = {{ company.get_client_side_dict()|tojson|safe }};
            $scope.portal = {{ portal.get_client_side_dict()|tojson|safe }};
            $scope.membership = {{ membership.get_client_side_dict(fields='id')|tojson|safe }};

            $scope.$$translate = {{ translates('article_list')|safe }};

            $scope.url_load_publications = {{ raw_url_for('portal.publications_load')|safe }};

            $scope.url_front_publication_details = {{ raw_url_for('front.article_details')|safe }};
            $scope.url_portal_companies_members = {{ grid_raw_url_for('portal.companies_members')|safe }};

            $scope.url_publication_change_status = {{ raw_url_for('article.publication_change_status')|safe }};

            $scope.url_company = function (row) {
                return $scope.url_portal_companies_members(row.publisher_membership['id'], {portal_id: $scope.portal.id})
            };

            $scope.url_front = function (row) {
                return '//' + $scope.portal.host +
                    $scope.url_front_publication_details({
                        publication_id: row['publication']['id'],
                        publication_title: row['publication']['material']['title']
                    });
            };

            {% raw %}

            $scope.loadPublications = function (data, callback) {
                $scope.loading = true;
                $ok($scope.url_load_publications({portal_id: $scope.portal.id}), data, function (resp) {
                    callback(resp);
                    $scope.data = resp;
                    callback($scope.data);
                }).finally(function () {
                    $scope.loading = false
                });
            };

            $scope.grid_action = function (id, action, row, column_name) {
                var publication = row['publication'];
                if (action === 'PUBLISH') {
                    $publish({
                        material_id: null,
                        publication_id: publication['id'],
                        request_from: 'portal_publications',
                        action: action,
                        actor_membership_id: $scope.membership.id,
                        publisher_membership_id: row['publisher_membership']['id']
                    }).result.then($scope.gridApi.grid.grid_change_row);
                }
                else {
                    $confirm($scope._('are you sure you want ' + action + ' material'),
                        $scope._('Material named `%(publication.material.title)s` of company `%(publisher_membership.company.name)s` at portal `%(publisher_membership.portal.name)s`', {
                            publication: row['publication'],
                            publisher_membership: row['publisher_membership']
                        }))
                        .then(function (resp) {
                            $ok($scope.url_publication_change_status({
                                actor_membership_id: $scope.membership.id,
                                action: action,
                                request_from: 'portal_publications',
                                publication_id: row.publication.id
                            }), {}, $scope.gridApi.grid.grid_change_row);
                        });
                }
            };


            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                loadGridData: $scope.loadPublications,
                columnDefs: [
                    {
                        name: 'publication.material.title',
                        type: 'link',
                        target: 'front',
                        href: 'url_front(row.entity)',
                        link: true,
                        width: '200',
                        img_url: 'publisher_membership.portal.logo.url'
                    },
                    {
                        name: 'publisher_membership.company.name',
                        type: 'link',
                        href: 'url_company(row.entity)',
                        img_url: 'publisher_membership.company.logo.url',
                        width: '200'
                    },
                    {name: 'publication.tags', afilter: {type: 'multi_select'}, type: 'tags', width: '150'},
                    {name: 'publication.publishing_tm', enableSorting: true, width: '150'},
                    {
                        name: 'publication.visibility', width: '75',
                        'classes': function (id, row, fieldname) {
                            return row && row['publication'] ? 'publication-bg-VISIBILITY-' + row['publication']['visibility'] : '';
                        }
                    },
                    {
                        name: 'publication.status', width: '75',
                        'classes': function (id, row, fieldname) {
                            return row && row['publication'] ? 'publication-fg-STATUS-' + row['publication']['status'] : '';
                        }
                    },

                    {
                        name: 'actions', type: 'actions', onclick: 'grid_action', width: '300'
                    }
                ]
            });

        });
        {% endraw %}
    </script>
    {% include 'company/company_base_angular.html' %}
    {% raw %}

    <div ng-controller="article_list" ng-cloak>
        <h2>{{ _('Publications at portal') }}</h2>
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
    </div>
    {% endraw %}

{% endblock portal_content %}


