{% extends "index_lazy_layout.html" %}

{% block title %}{{ _('Tags') }} - Profireader{% endblock title %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}
    <script>
        module.controller('portal_tags', function ($scope) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('portal_tags');
            $scope.$$translate = {{translates('CompanyProfile') | safe}};


            $scope.data = {};
            $scope.tags_to_remove = {};
            $scope.editing = false;
            $scope.original_model = {};

            $scope.beforeSave = function (datatosave) {
                datatosave.portal.tags = _.filter(datatosave.portal.tags, function (tag) {
                    return !$scope
                            .tags_to_remove[tag['id']];
                });
                return datatosave;
            };

            $scope.afterSave = function (data_from_server) {
                $scope.original_model = data_from_server;
                add_message('your tags was saved', 'success');
                $scope.edit_tags(false);
            };

            $scope.afterLoad = function (loadeddata) {
                $scope.original_model = loadeddata;
                return loadeddata;
            };

            $scope.edit_tags = function (edit) {
                $scope.editing = edit;
                if (!edit) {
                    $scope.data = $scope.original_model;
                    $scope.tags_to_remove = {};
                    }
            };

            $scope.add_tag = function () {
                var newTagId = randomHash();
                $scope.data.portal.tags.push({'id': newTagId, 'text': $scope.new_tag});
                for (var division_ind = 0; division_ind < $scope.data.portal.divisions.length; division_ind++) {
                    $scope.data.portal.divisions[division_ind].tags[newTagId] = true;
                }
                $scope.new_tag = '';
            };

            $scope.remove_tag = function (tag_id, undo_remove) {
                if (undo_remove) delete $scope.tags_to_remove[tag_id];
                else $scope.tags_to_remove[tag_id] = true;
            }
        });
    </script>
    {% raw %}
    <br/>
    <br/>
    <div ng-controller="portal_tags" ng-cloak>
        <div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12"
             af af-before-save="beforeSave" af-after-save="afterSave" af-after-load="afterLoad" ng-model="data">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pull-right">
                    <button ng-if="editing" class="btn btn-default border-radius"
                            type="button" ng-click="$af.save(data)"
                            ng-disabled="!$af.isActionAllowed(data, 'save') ">{{ _('Save tags') }}

                    </button>
                    <button ng-if="editing" class="btn btn-default border-radius"
                            type="button" ng-click="edit_tags(false)">{{ _('Cancel') }}

                    </button>
                    <button ng-if="!editing" class="btn btn-default border-radius"
                            type="button" ng-click="edit_tags(true)">{{ _('Edit') }}

                    </button>

                </div>
            </div>
            <br style="clear: both"/>
            <br style="clear: both"/>
            <div class="pr-table col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="pr-row">
                    <div class="pr-cell">tag text</div>
                    <div class="pr-cell">description</div>
                    <div class="pr-cell" ng-repeat="division in data.portal.divisions">{{ _('show in `%(name)s`',
                        division) }}</div>
                    <div class="pr-cell">actions</div>
                </div>
                <div class="pr-row" ng-repeat="tag in data.portal.tags">
                    <div class="pr-cell"><input class="w100"
                            pr-validation-answer="data_validation:tags[tag.id]"
                            ng-disabled="!editing || tags_to_remove[tag.id]" ng-model="tag.text"/></div>
                    <div class="pr-cell"><textarea rows="3" class="w100"
                            ng-disabled="!editing || tags_to_remove[tag.id]" ng-model="tag.description"></textarea></div>
                    <div class="pr-cell" ng-repeat="division in data.portal.divisions">
                        <label
                                style="width: 100%"><input
                                ng-model="division.tags[tag.id]"
                                ng-disabled="!editing || tags_to_remove[tag.id]"
                                type="checkbox"/></label></div>
                    <div class="pr-cell" style="width: 10em;">
                        <button ng-disabled="!editing" ng-if="!tags_to_remove[tag.id]" ng-click="remove_tag(tag.id, false)">{{ _('Remove') }}</button>
                        <button ng-disabled="!editing" ng-if="tags_to_remove[tag.id]" ng-click="remove_tag(tag.id,
                        true)">Undo remove</button>
                    </div>
                </div>
            </div>
            <br style="clear: both"/>
            <br style="clear: both"/>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <div class="pull-right">
                    <input ng-disabled="!editing" placeholder="new tag" ng-model="new_tag"/>
                    <button ng-disabled="!editing" class="btn border-radius" ng-click="add_tag()">{{ _('Add tag') }}</button>
                </div>
            </div>


        </div>
    </div>
    <br/>
    {% endraw %}
{% endblock portal_content %}


