/* font sizes */

.article-content span.profireader_article_text_size_tiny {
    font-size: 6px;
}

.article-content span.profireader_article_text_size_little {
    font-size: 8px;
}

.article-content span.profireader_article_text_size_small {
    font-size: 10px;
}

.article-content span.profireader_article_text_size_normal {
    font-size: 12px;
}

.article-content span.profireader_article_text_size_big {
    font-size: 16px;
}

.article-content span.profireader_article_text_size_large {
    font-size: 24px;
}

.article-content span.profireader_article_text_size_huge {
    font-size: 32px;
}

.article-content img {
    margin: 6px 12px;
}

body.article-content {
    width: 698px;
    background-color: white;
  }

.image-gallery-tinymce-preview {
    background-color: #00c853;
    min-width: 2em;
    min-height: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

image-gallery {

}

.mce-item-table {
    min-width: 2em;
    min-height: 2em;

}