
*[disabled] {
    color: #ccc;
}

.item:hover {
    /*background: rgba(255, 200, 200, 0.3);*/
}

.item > span.input_label {
    text-align: right;
    margin-right: 0.5em;
    display: inline-block;
    width: 170px;
    color: #777;
}

.item > span.error {
    color: #f00;
}

.item > span.warning {
    color: #F7C223;
}

.item select, .item button {
    margin: 3px;
    padding: 1px 3px;
    width: 300px;
    height: 2em;
}

.item select option {
    height: 2em;
    line-height: 27px;
}

.item button, .item input[type=button], .item input[type=submit] {
    margin: 3px;
    padding: 1px 3px;
    width: 150px;
    height: 2em;
}

.item input[type=submit] {
    font-weight: bold;
}

.item input[disabled], .item select[disabled], .item button[disabled] {
    color: #ccc;
}

/* class for tiny mce in profireader (editing article) */
.profi-tiny-mce-birdy {
    width: 697.5px;
}

.error {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #f00;
}

.warning {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #F7C223;
}

.notice {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #2ecc40;
}

.ok {
    margin-left: 1em;
    padding-left: 0.2em;
    color: #2ecc40;
}

.nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.oh {
    overflow: hidden;
    text-overflow: ellipsis;
}

.w100 {
    width: 100%;
}

.notitledialog .ui-dialog-titlebar {
    display: none
}

.notitledialog .ui-dialog-content {
    overflow: hidden;
}

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(2) {*/
/*display: none*/
/*}*/

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3) {*/
/*display: none*/
/*}*/

/*div[aria-label="Insert/edit video"] > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(4) {*/
/*display: none*/
/*}*/

.glyphicon.glyphicon-question-sign {
    color: blue;
}

.material-details-article-preview {
    width: 727px;
    padding: 15px;
    height: 1000px;
    overflow: scroll;
}

/*TODO: RI by OZ: this class is for gray backdrop when dialog is opened (pls try open dialog 'publish' in  materials details page with and without this class. maybe obsolete with neww bootstrap) */
/*.modal-backdrop {*/
/*position: fixed;*/
/*height: 100%;*/
/*}*/

.disabled {
    -khtml-opacity: .25;
    -moz-opacity: .25;
    -ms-filter: (alpha(opacity=25));
    filter: alpha(opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.25);
    opacity: .25;
}

.fr {
    float: right;
}

/*TODO: RI by OZ: this class for grid icons (see employees icons) */
.pr-grid-cell-field-type-icons-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.4em;

}

.pr-grid-cell-field-type-icons-icon:before {
    content: "\f00c";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-FILES_BROWSE:before {
    content: "\f06e";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-FILES_UPLOAD:before {
    content: "\f093";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-FILES_DELETE_OTHERS:before {
    content: "\f1f8";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-MATERIALS_SUBMIT_TO_PORTAL:before {
    content: "\f055";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-ARTICLES_EDIT_OTHERS:before {
    content: "\f044";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_PUBLISH_AT_OWN_PORTAL:before {
    content: "\f046";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_UNPUBLISH_AT_OWN_PORTAL:before {
    content: "\f05e";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_SET_PRIORITY:before {
    content: "\f091";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-EMPLOYEE_ENLIST_OR_FIRE:before {
    content: "\f234";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-COMPANY_REQUIRE_MEMBEREE_AT_PORTALS:before {
    content: "\f196";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-EMPLOYEE_ALLOW_RIGHTS:before {
    content: "\f0a1";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-COMPANY_EDIT_PROFILE:before {
    content: "\f14b";
    color: #790B79;
}

.pr-grid-cell-field-type-icons-icon-EDIT_PORTAL_PROFILE:before {
    content: "\f21b";
    color: green;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_READERS:before {
    content: "\f02d";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_COMMENTS:before {
    content: "\f086";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_EDIT_PROFILE:before {
    content: "\f087";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-PORTAL_MANAGE_MEMBERS_COMPANIES:before {
    content: "\f183";
    color: #FF4103;
}

.pr-grid-cell-field-type-icons-icon-MATERIAL_SUBMIT:before {
    content: "\f00c";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_EDIT:before {
    content: "\f044";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_UNPUBLISH:before {
    content: "\f05e";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_PUBLISH:before {
    content: "\f0a1";
    color: dodgerblue;
}

.pr-grid-cell-field-type-icons-icon-PUBLICATION_DELETE_UNDELETE:before {
    content: "\f0a2";
    color: dodgerblue;
}

.pr-grid-cell-field-type-actions {
    padding: 2px;
}

.pr-grid-cell-field-type-actions-action {
    padding: 0px 2px;
    margin: 0px 2px;
    width: 5em;
    overflow: hidden;
    letter-spacing: -1px;
}

.modal-filemanager-fullscreen {
    width: 95%;
    height: 95%;
}

.modal-filemanager-halfscreen {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.modal-filemanager-fullscreen .modal-content {
    width: 100%;
    height: 100%;
}

.modal-filemanager-halfscreen .modal-content {
    width: 100%;
    height: 100%;
}

.company-logo {
    width: 16%;
}

.subscribe-portal-logo {
    width: 200px;
    height: 150px;
}

.pr-grid-cell-img-prefix {
    height: 100%;
    width: 50px;
    margin-right: 2px;
}

.p4px {
    padding: 4px;
}

.highlightedText {
    background: yellow;
}

.loading {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("//static.profireader.com/static/images/loading.gif");
    background-color: transparent;
}

.img_300 {
    width: 300px;
    height: 300px;
}

.link {
    cursor: pointer;
}

.link:hover span {
    text-decoration: underline;
}

.form-control.pr-datetimepicker, .form-control.pr-datepicker {
    background-position: 4px center;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23010202%22%20d%3D%22M0%206h3v3H0V6zm4%203h3V6H4v3zm4%200h3V6H8v3zm4%200h3V6h-3v3zm0-7v3h3V2h-3zM8%205h3V2H8v3zM4%205h3V2H4v3zm-4%208h3v-3H0v3zm4%200h3v-3H4v3zm4%200h3v-3H8v3z%22%2F%3E%3C%2Fsvg%3E);
}

div.pr-table {
    display: table;
}

div.pr-row {
    display: table-row;
}

div.pr-cell {
    display: table-cell;
    padding: 0.2em 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;

    border-style: none;
    border-color: #0a0a0a;
    border-width: 1px;
    border-left-style: solid;
    border-top-style: solid;
}

div.pr-cell:last-child {
    border-right-style: solid;

}

div.pr-row:last-child div.pr-cell {
    border-bottom-style: solid;
}

.m1em {
    margin: 1em;
}

.m05em {
    margin: 0.5em;
}

.m025em {
    margin: 0.25em;
}

.m05em {
    margin: 0.5em;
}

.m025em {
    margin: 0.25em;
}

.mr1em {
    margin-right: 1em;
}

.ml1em {
    margin-left: 1em;
}

.mt1em {
    margin-top: 1em;
}

.mb1em {
    margin-bottom: 1em;
}

.mr2em {
    margin-right: 2em;
}

.ml2em {
    margin-left: 2em;
}

.mt2em {
    margin-top: 2em;
}

.mb2em {
    margin-bottom: 2em;
}

.p1em {
    padding: 1em;
}

.p05em {
    padding: 0.5em;
}

.p025em {
    padding: 0.25em;
}

.p05em {
    padding: 0.5em;
}

.p025em {
    padding: 0.25em;
}

.pr1em {
    padding-right: 1em;
}

.pl1em {
    padding-left: 1em;
}

.pt1em {
    padding-top: 1em;
}

.pb1em {
    padding-bottom: 1em;
}

.pr2em {
    padding-right: 2em;
}

.pl2em {
    padding-left: 2em;
}

.pt2em {
    padding-top: 2em;
}

.pb2em {
    padding-bottom: 2em;
}


.bg-contain {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.img-icon-in-text-2-1 {
    width: 2em;
    height: 1em;
}

.img-icon-in-text-4-2 {
    width: 4em;
    height: 2em;
}

.img-icon-in-text-3-1_5 {
    width: 3em;
    height: 1.5em;
}

.w10em {
    width: 10em;
    overflow: hidden;
}

.w20em {
    width: 20em;
    overflow: hidden;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.taj {
    text-align: justify;
}


.caret {
    position: absolute;
    right: 0.5em;
    top: 45%;
}

