{% extends '_common/html.html' %}
{% block body %}
    {% set _ = classes.update({'tag': {'default': 'label', 'selected': 'label-danger', 'unselected': 'label-default'}}) %}
    {% set _ = classes.update({'menu': {'default': '', 'selected': 'active'}}) %}
    {% set _ = classes.update({'pager': {'default': '', 'selected': 'active'}}) %}
    {% set _ = classes.update({'image': {'portal': 'portal-logo', 'company': 'portal-logo', 'profireader': 'profireader-logo', 'user': 'user-avatar', 'illustration': 'article-illustration'}}) %}
    {% set _ = classes.update({'disabled': 'disabled', 'hidden': 'dn'}) %}
    {% set _ = classes.update({'banner': {'in_article': 'wide-banner', 'vertical': 'vertical-banner', 'bottom': 'bottom-banner'}}) %}
    {% set _ = classes.update({'block': {'top': 'top-content', 'bottom': 'bottom-content', 'middle': 'middle-content', 'left': 'left-content', 'center': 'center-content', 'right': 'right-content'}}) %}
    <div class="{{ classes.block.top }}">
        {% block top_content %}{% include '_common/block_menu.html' %}{% endblock %}
    </div>
    <div class="{{ classes.block.middle }}">
        {% block middle_content %}
            <div class="{{ classes.block.left }}">
                {% block left_content %}{% include '_common/block_search.html' %}{% endblock %}
            </div>
            <div class="{{ classes.block.center }}">
                {% block center_content %}{% endblock %}
            </div>
            <div class="{{ classes.block.right }}">
                {% block right_content %}
                    <a href="#" class="{{ classes.banner.vertical }}">{{ portal.advs.right_banner_1|safe }}</a>
                    <a href="#" class="{{ classes.banner.vertical }}">{{ portal.advs.right_banner_2|safe }}</a>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="{{ classes.block.bottom }}">
        {% block bottom_content %}
            <a href="#" class="{{ classes.banner.bottom }}">{{ portal.advs['bottom_banner']|safe }}</a>{% endblock %}
    </div>
{% endblock %}
