{# опис статті + теги #}
<div class="block-item full-block-info" style="height: auto;">

    <div class="item-additional-info">
            <a href="{{ url_for('front.subportal', member_company_id = article['company']['id'], member_company_name = article['company']['name']) }}"
               class="item-company">{{ article['company']['name']|safe }}</a>
            <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
            <div><br>
                <script type="text/javascript">getSearchBlock({{ article|tojson }})</script>
            </div>
    </div>

    {% if article['tags'] %}
        <div class="item-tags fr">
            {% for tag in article['tags'] %}
                <span class="label label-danger"><a href="{{ url_for('front.division',
                    division_name=article['division']['name'], page=1, search_text='', tag=tag.text) }}">{{ tag.text }}</a></span>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="item-title">{{ article['title']|safe }}</h2>

    <h3 class="item-subtitle">{{ article['subtitle']|safe }}</h3>
    <div class="s-cover-l" style="padding-bottom: 10px"><img width="300" height="240"  {{ prImage(article['image_file_id']) }}></div>
    <div class="article-short">
        {{ article['short']|safe }}
    </div>
    <div class="article-content">
        {{ article['long'] |safe }}
    </div>

</div>
