{# опис статті + теги #}

<script src="{{ static_address('js/front.js') }}"></script>

<link href="{{ static_address('tinymce.pr/plugins/tinymce-gallery-plugin/image_gallery.css') }}" rel="stylesheet">
<script src="{{ static_address('tinymce.pr/plugins/tinymce-gallery-plugin/image_gallery.js') }}" data-gallery-load-url="{{ url_for('article.gallery_load') }}"></script>

<div class="block-item full-block-info" style="height: auto;">

    <div class="item-additional-info">
        <a href="" class="item-company">{{ article['company']['name']|safe }}</a>
        <div class="item-publication-date">{{ article['publishing_tm']|safe }}</div>
    </div>

    <h2 class="item-title">{{ article['title']|safe }}</h2>

    <h3 class="item-subtitle">{{ article['subtitle']|safe }}</h3>
    <div class="s-cover-l" style="padding-bottom: 10px"><img width="300" height="240"
            {{ prImageUrl(url = article['illustration']['url']) }}></div>
    <div class="article-short">
        {{ article['short']|safe }}
    </div>
    <div class="article-content">
        {{ article['long'] |safe }}
    </div>

</div>
