
<form class="login-form-profirider" id="login-form-profirider" action="{{ url_for('auth.login') }}" method="post">
    <input class="form-control" type="email" placeholder="email" required name="email"
           ng-pattern="/[0-9a-z_]+@[0-9a-z_]+\.[a-z]{2,5}/">

    <input class="form-control" type="password" placeholder="password" required name="password">
    <input class="submit-form" type="submit">
    <div class="logout-now">
        <p>{{ _('Forgot your password') }}?
            <a pr-test="PassResetRequest" href="{{ url_password_reset_request }}">{{ _('Click here to Reset it') }}</a></p>
    </div>
</form>

