{# реєстрація/логування з підпискою на портали через соціальні мережі #}
<div class="social-icons-style">
    <div class="google-icon">
        <a pr_test="GoogleLogin"
           href="{{ url_for('auth.login_signup_soc_network', soc_network_name='google', portal_id=request.args.get('subscribe', None)) }}">
            <i class="fa fa-google-plus-square fa-3x"></i>
        </a>
    </div>
    <div class="facebook-icon">
        <a pr_test="FacebookLogin"
           href="{{ url_for('auth.login_signup_soc_network', soc_network_name='facebook', portal_id=request.args.get('subscribe', None)) }}">
           <i class="fa fa-facebook-square fa-3x"></i>
        </a>
    </div>
    <div class="linkedin-icon">
        <a pr_test="LinkedinLogin"
           href="{{ url_for('auth.login_signup_soc_network', soc_network_name='linkedin', portal_id=request.args.get('subscribe', None)) }}">
            <i class="fa fa-linkedin-square fa-3x"></i>
        </a>
    </div>
    <div class="microsoft-icon">
        <a pr_test="MicrosoftLogin"
           href="{{ url_for('auth.login_signup_soc_network', soc_network_name='microsoft', portal_id=request.args.get('subscribe', None)) }}">
            <i class="fa fa-windows fa-3x"></i>
        </a>
    </div>
</div>
<!--
    <a pr_test="GoogleLogin" class="login-by login-by-google"
       href="{{ url_for('auth.login_signup_soc_network', soc_network_name='google', portal_id=request.args.get('subscribe', None)) }}">

    </a>
    <a pr_test="FacebookLogin" class="login-by login-by-facebook"
       href="{{ url_for('auth.login_signup_soc_network', soc_network_name='facebook', portal_id=request.args.get('subscribe', None)) }}">

    </a>
    <a pr_test="LinkedinLogin" class="login-by login-by-linkedin"
       href="{{ url_for('auth.login_signup_soc_network', soc_network_name='linkedin', portal_id=request.args.get('subscribe', None)) }}">

    </a>
    {#<a href="{{ url_for('auth.login_signup_soc_network', soc_network_name='twitter', portal_id=request.args.get('subscribe', None)) }}">twitter</a>#}
    <a pr_test="MicrosoftLogin" class="login-by login-by-microsoft"
       href="{{ url_for('auth.login_signup_soc_network', soc_network_name='microsoft', portal_id=request.args.get('subscribe', None)) }}">

    </a>-->
{#<a href="{{ url_for('auth.login_signup_soc_network', soc_network_name='yahoo', portal_id=request.args.get('subscribe', None)) }}">yahoo</a>#}
{#    <a class="login-by login-by-vkontakte" href="{{ url_for('auth.login_signup_soc_network', soc_network_name='vkontakte', portal_id=request.args.get('subscribe', None)) }}"></a>#}
