<script>
    app.controller('signup_form', ['$scope', function($scope) {


    }]);
</script>

<form  ng-controller="signup_form" action="{{ url_for('user.signup') }}" method="POST" ng-validate-url="{{ url_for('user.signup_profireader_validate') }}">
    {% raw %}
    <h2>Sign up using Profireader</h2>
    <input name="email" placeholder="Email (required, but never shown)" size="30" maxlength="100">
    <span ng-hide="checking.email === undefined || changed.email === undefined">checking...</span>
    <span ng-hide="checking.email !== undefined || changed.email === undefined">changed</span>
    <span ng-hide="changed.email !== undefined">{{ errors.email }}</span>
    <br/>
    <input name="password" placeholder="Password" value="" type="password">
    <span ng-hide="checking.password === undefined">checking...</span>
    <span ng-hide="checking.password !== undefined || changed.password === undefined">changed</span>
    <span ng-hide="changed.password !== undefined">{{ errors.password }}</span>
    <br/>
    <input name="password2" placeholder="Confirm password" value="" type="password">
    <span ng-hide="checking.password2 === undefined">checking...</span>
    <span ng-hide="checking.password2 !== undefined || changed.password2 === undefined">changed</span>
    <span ng-hide="changed.password2 !== undefined">{{ errors.password2 }}</span>
    <br/>
    <input id="submit-button" value="Sign Up" type="submit">
    {% endraw %}
</form>
