{% extends "index_lazy_layout.html" %}

{% block title %}{{ _('Messages') }}{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_infinite-scroll.html' %}
{% endblock head %}

{% block portal_content %}

    <style>
        .search-community-row {
            min-height: 120px;
            margin: 10px 0px 5px 0px;
            background-color: #eee;
            padding: 5px;

        }

        .search-community-row button {
            margin-top: 5px;
        }

        .search-community-row div:first-child {
            padding-left: 125px
        }

        .search-community-row img.messenger-avatar {
            width: 120px;
            height: 120px;
            position: absolute;
            left: 0px;
            top: 0px;
            border-radius: 50%;
        }

        .search-community-row img.common-portal-logo {
            width: 3em;
            height: 1em;
            margin-right: 5px;
        }

        .search-community-row img.common-employer-logo {
            width: 3em;
            height: 1em;
            margin-right: 5px;
        }

        .search-community-row .no-common {
            text-align: center;
            font-style: italic;
        }

        .search-community-row .ui-select-highlight {
            color: red;
        }

        .messenger-chat input {
            margin-bottom: 5px;
        }

        .messenger-chat .messenger-chat-contacts li {
            padding-left: 50px;
            padding-top: 12px;
            height: 50px;
        }

        .messenger-chat .messenger-chat-contacts li img.messenger-avatar {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 5px;
            top: 5px;
            border-radius: 50%;
        }

        .messenger-chat ul, li {
            list-style: none;
            padding-left: 0;
        }

        .messenger-chat ul {
            margin-bottom: 0;
        }

        .messenger-chat span.session-name {
            font-size: 7px;
            color: #777;
        }

        .messenger-chat .panel-body {
            height: 30em;
            overflow-x: hidden;
            overflow-y: scroll;
        }

        .messenger-chat .chat-body p {
            white-space: pre-line
        }

        .messenger-chat .messenger-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .messenger-chat .messenger-chat-contacts a:hover {
            text-decoration: none;
        }

        .messenger-chat .messenger-chat-contacts a {
            text-decoration: none;
        }

        .messenger-chat .messenger-chat-contacts li {
            margin-top: 5px;
        {#            border: 1px solid #888;#}
        }

        .messenger-chat .messenger-chat-contacts li.selected {
            color: white;
            background-color: #00ceb1;
        }

        .messenger-chat .messenger-chat-contacts .unread_messages_count {
            position: absolute;
            line-height: 100%;
            text-align: center;
            right: -3px;
            bottom: -3px;
            padding: 0.5em;
            border-radius: 5px;
            background-color: darkred;
            color: white;
        }


    </style>


    <script>
        module.controller('messenger', ['$scope', '$ok', '$sce', '$timeout', function ($scope, $ok, $sce, $timeout) {


            $scope.community_search_url = {{ raw_url_for('messenger.community_search')|safe }};
            $scope.contacts_search_url = {{ raw_url_for('messenger.contacts_search')|safe }};
            $scope.contact_action_url = {{ raw_url_for('messenger.contact_action')|safe }};

            $scope.load_chat_url = {{ raw_url_for('messenger.load_chat')|safe }};
            $scope.load_older_messages_url = {{ raw_url_for('messenger.load_older_messages')|safe }};

            $scope.refresh_chats_url = {{ raw_url_for('messenger.refresh_chats')|safe }};
            $scope.send_message_url = {{ raw_url_for('messenger.send_message')|safe }};


            $scope.$$translate = {{ translates('messages')|safe }};
            $scope.selected_messenger_menu = '';
            $scope.me_user_id = '{{ g.user.id }}';


            $scope.message_text = '';
            $scope.selected_chat_room = null;
            $scope.loaded_chats = {};

            $scope.check_chats_delay = 3000;
            $scope.checking_chats = false;
            $scope.schroll_stick_to = 'bottom';


            $scope.community_search_text = '';
            $scope.community = [];
            $scope.community_next_page = 1;
            $scope.community_loading = false;

            $scope.contacts_search_text = '';
            $scope.contacts = [];
            $scope.contacts_next_page = 1;
            $scope.contacts_loading = false;


            $scope.set_selected_menu = function (selected) {
                if (selected === $scope.selected_messenger_menu) {
                    return false;
                }
                $scope.selected_messenger_menu = selected;

                if (selected === 'community') {
                    $scope.search_community(true);
                }

                if (selected === 'chat') {
                    $scope.search_contacts(true);
                }

            };

            $scope.refresh_chats = function () {
                $timeout(function () {
                    if ($scope.checking_chats) {
                        $scope.refresh_chats();
                        return;
                    }
                    $ok($scope.refresh_chats_url(), {
                                chat_room_id: $scope.selected_chat_room ? $scope.selected_chat_room['chat_room_id'] : null,
                                last_message_id: $scope.selected_chat_room ? $scope.get_last_message_id($scope.selected_chat_room['chat_room_id']) : null,
                                check_for_unread_messages: true,
                                {#                                : $scope.get_loaded_contacts_ids()#}
                            },
                            function (resp) {
                                console.log($scope.selected_chat_room);
                                if (resp['chat_room']) {
                                    $scope.refresh_chatroom(resp['chat_room']['chat_room_id'], resp['chat_room']);
                                    $scope.append_messages(resp['chat_room']['chat_room_id'], resp['chat_room']['messages']);
                                    if ($scope.selected_chat_room && $scope.selected_chat_room['chat_room_id'] === resp['chat_room']['chat_room_id']) {
                                        $scope.stickToBottom(resp['chat_room']['chat_room_id'], resp['chat_room']);
                                    }
                                }
                                if (resp['unread_messages']) {
                                    $.each(resp['unread_messages'], function (chat_room_id, unread_messages_count) {
                                        var found = $scope.contacts.find(function (chat_room) {
                                            return chat_room['chat_room_id'] === chat_room_id;
                                            });
                                        if (found) {
                                            found['unread_messages_count'] = unread_messages_count;
                                        }
                                    });
                                }

                            }).finally(function () {
                        if (now() - window.lastUserActivity > 300) { // 5 minutes of inactivity
                            $scope.check_chats_delay = 60000; // check every minute
                            window.onUserActivity['messenger_check_chat'] = $scope.refresh_chats;
                        }
                        else {
                            $scope.check_chats_delay = 3000; // // user active check in 3 seconds
                            delete window.onUserActivity['messenger_check_chat'];
                        }
                        $scope.refresh_chats();
                    });
                }, $scope.check_chats_delay);
            };


            $scope.remove_oldest_loaded_chat = function () {
                //TODO
                return;
                var loaded_chats_for_users = Object.keys($scope.loaded_chats);
                if (loaded_chats_for_users.length > 19) {
                    var longest_not_viewed = rockets.reduce(function (id_and_last_view_tm, elem) {
                        return timestamp_and_id[0] > elem['last_view'] ? [elem['user']['id'], elem['last_view']] : id_and_last_view_tm;
                    }, [null, now()]);
                    delete $scope.loaded_chats[longest_not_viewed[0]];
                }
            };

            $scope.load_chatroom = function (chatroom_id, resp) {
                $scope.loaded_chats[chatroom_id] = {
                    'last_view_tm': now(),
                    'chat_room_id': chatroom_id,
                    {#                    'stick_to': 'bottom',#}
                    'messages': []
                };
                $scope.refresh_chatroom(chatroom_id, resp);
            };

            $scope.refresh_chatroom = function (chatroom_id, resp) {
                var current_chat = $scope.loaded_chats[chatroom_id];
                if (!current_chat) return;
                $scope.loaded_chats[chatroom_id]['users'] = resp['users'];
                if ("there_is_older" in resp) $scope.loaded_chats[chatroom_id]['there_is_older'] = resp['there_is_older'];
                if ("there_is_newer" in resp) $scope.loaded_chats[chatroom_id]['there_is_newer'] = resp['there_is_newer'];
            };

            $scope.stickToBottom = function (chatroom_id, fromserver, sticktotop, force) {
                if (!force && (!$scope.selected_chat_room || chatroom_id !== $scope.selected_chat_room['chat_room_id'] || !fromserver || !fromserver['messages'] || !fromserver['messages'].length)) {
                    return false
                }
                var $elementold = $('#panel-body-chat ul');
                var old_max_scroll = $elementold.length ? ($elementold.outerHeight() - $elementold.parent().height()) : 0;
                $timeout(function () {
                    var $element = $('#panel-body-chat ul');
                    var max_scroll = $element.outerHeight() - $element.parent().height();

                    if (sticktotop && (force || $element.parent()[0].scrollTop < 10)) {
                        $element.parent().animate({scrollTop: 0}, 250, "easeOutQuint");
                    }
                    else if (!sticktotop && (force || $element.parent()[0].scrollTop > old_max_scroll - 10)) {
                        $element.parent().animate({scrollTop: max_scroll}, 250, "easeOutQuint");
                    }
                }, 0);
            };

            $scope.select_chat_room = function (chat_room) {
                if (chat_room === $scope.selected_chat_room) { // same user selected or chat_room is loaded
                    return false;
                }
                else {
                    $scope.selected_chat_room = chat_room;
                    var load_chat = function () {
                        if ($scope.loading_chatroom) {
                            return false;
                        }
                        $scope.loading_chatroom = $scope.selected_chat_room['chat_room_id'];
                        $ok($scope.load_chat_url(), {
                            chat_room_id: $scope.loading_chatroom,
                            last_message_id: $scope.get_last_message_id($scope.selected_chat_room['chat_room_id']),
                            client_timezone_shift: new Date().getTimezoneOffset() * 60.,
                        }, function (resp) {
                            if ($scope.selected_chat_room && $scope.selected_chat_room['chat_room_id'] === $scope.loading_chatroom) {
                                if ($scope.loaded_chats[$scope.selected_chat_room['chat_room_id']]) {
                                    $scope.refresh_chatroom($scope.loading_chatroom, resp);
                                }
                                else {
                                    $scope.load_chatroom($scope.loading_chatroom, resp);
                                }
                                {#                                debugger;#}
                                $scope.append_messages($scope.loading_chatroom, resp['messages']);
                                $scope.remove_oldest_loaded_chat();
                                $scope.stickToBottom($scope.loading_chatroom, resp, false, true);
                            }
                        }).finally(function () {
                            if ($scope.selected_chat_room && $scope.selected_chat_room['chat_room_id'] !== $scope.loading_chatroom) {
                                $scope.loading_chatroom = false;
                                load_chat();
                            }
                            else {
                                $scope.loading_chatroom = false;
                            }
                        });
                    };
                    load_chat();
                }
            };

            $scope.load_older_messages = function () {

                if (!$scope.loaded_chats[$scope.selected_chat_room['chat_room_id']] || $scope.loaded_chats[$scope.selected_chat_room['chat_room_id']]['loading_older_messages']) {
                    return false;
                }
                $scope.loaded_chats[$scope.selected_chat_room['chat_room_id']]['loading_older_messages'] = true;

                (function (chatroom_id) {
                    $ok($scope.load_older_messages_url(), {
                        chat_room_id: chatroom_id,
                        first_message_id: $scope.get_last_message_id(chatroom_id, true),
                        client_timezone_shift: new Date().getTimezoneOffset() * 60.,
                    }, function (resp) {
                        $scope.refresh_chatroom(chatroom_id, resp);
                        $scope.append_messages(chatroom_id, resp['messages']);
                        $scope.stickToBottom(chatroom_id, resp, true, true);
                    }).finally(function () {
                        if ($scope.loaded_chats[chatroom_id]) {
                            $scope.loaded_chats[chatroom_id]['loading_older_messages'] = false;
                        }
                    });
                })($scope.selected_chat_room['chat_room_id']);


            };

            $scope.get_last_message_id = function (chatroom_id, first) {
                if (!$scope.loaded_chats[chatroom_id] || !$scope.loaded_chats[chatroom_id]['messages'].length) {
                    return null;
                }
                var msgs = $scope.loaded_chats[chatroom_id]['messages'];
                return msgs[first ? 0 : (msgs.length - 1)]['id']
            };

            $scope.get_last_message_ids = function () {
                var ret = {};
                $.each($scope.loaded_chats, function (chat_room_id) {
                    ret[chat_room_id] = $scope.get_last_message_id(chat_room_id);
                });
                return ret;
            };

            $scope.add_new_message = function (chat_room_id, message, index, is_new_session) {

                var existing_messages = $scope.loaded_chats[chat_room_id]['messages'];

                var is_first_message_in_session = function (ind) {
                    return ind === 0 || existing_messages[ind]['timestamp'] - existing_messages[ind - 1]['timestamp'] > 3600;
                };

                existing_messages.splice(index, 0, message);

                if (is_first_message_in_session(index)) {
                    existing_messages[index]['session'] = true;
                }
                if (index > 0 && existing_messages[index - 1]['session'] && is_first_message_in_session(index)) {
                    delete existing_messages[index - 1]['session'];
                }
                if (index < existing_messages.length - 1 && existing_messages[index + 1]['session'] && is_first_message_in_session(index + 1)) {
                    delete existing_messages[index + 1]['session'];
                }

            };


            $scope.append_messages = function (chat_room_id, messages) {

                var current_chat = $scope.loaded_chats[chat_room_id];
                if (!current_chat) return;
                var existing_messages = $scope.loaded_chats[chat_room_id]['messages'];
                $.each(messages, function (message_index, message) {
                    if (!existing_messages.length) {
                        $scope.add_new_message(chat_room_id, message, 0, true);
                    }
                    else if (existing_messages[0]['id'] > message['id']) {
                        $scope.add_new_message(chat_room_id, message, 0, true);
                    }
                    else if (existing_messages[existing_messages.length - 1]['id'] < message['id']) {
                        $scope.add_new_message(chat_room_id, message, existing_messages.length, true);
                    }
                    else {
                        for (var i = 0; i < existing_messages.length - 1; i++) {
                            if (existing_messages[i]['id'] < message['id'] && existing_messages[i + 1]['id'] > message['id']) {
                                $scope.add_new_message(chat_room_id, message, i + 1, true);
                            }
                        }
                    }

                });
            };

            $scope.send_message = function () {
                if (!$scope.loaded_chats[$scope.selected_chat_room['chat_room_id']] || $scope.loaded_chats[$scope.selected_chat_room['chat_room_id']]['sending_message']) {
                    return false;
                }
                $scope.loaded_chats[$scope.selected_chat_room['chat_room_id']]['sending_message'] = true;

                (function (chatroom_id) {
                    $ok($scope.send_message_url(), {
                        chat_room_id: chatroom_id,
                        last_message_id: $scope.get_last_message_id(chatroom_id),
                        text: $scope.message_text,
                        client_timezone_shift: new Date().getTimezoneOffset() * 60.,
                    }, function (resp) {
                        $scope.message_text = '';
                        $scope.refresh_chatroom(chatroom_id, resp);
                        $scope.append_messages(chatroom_id, resp['messages']);
                        $scope.stickToBottom(chatroom_id, resp);
                    }).finally(function () {
                        if ($scope.loaded_chats[chatroom_id]) {
                            $scope.loaded_chats[chatroom_id]['sending_message'] = false;
                        }
                    });
                })($scope.selected_chat_room['chat_room_id']);
            };

            $scope.search_community = function (full_reload) {
                if ($scope.selected_messenger_menu !== 'community') {
                    return;
                }
                if (full_reload) {
                    $scope.community = [];
                    $scope.community_next_page = 1;
                    $scope.community_loading = false;
                }

                if ($scope.community_loading !== false) {
                    return;
                }

                $scope.community_loading = $scope.community_search_text;

                (function f(searched_text) {
                    $ok($scope.community_search_url(), {
                        text: searched_text,
                        page: $scope.community_next_page
                    }, function (resp) {
                        if (searched_text === $scope.community_search_text) {
                            $scope.community.push.apply($scope.community, resp['community'])
                            $scope.community_next_page = resp['next_page'];
                            $scope.community_loading = false;
                        }
                    }, function (resp) {

                    });
                })($scope.community_loading);
            };

            $scope.search_contacts = function (full_reload) {
                if (full_reload) {
                    $scope.contacts = [];
                    $scope.contacts_next_page = 1;
                    $scope.contacts_loading = false;
                }

                if ($scope.contacts_loading !== false) {
                    return;
                }

                $scope.contacts_loading = $scope.contacts_search_text;

                (function f(searched_text) {
                    $ok($scope.contacts_search_url(), {
                        text: searched_text,
                        page: $scope.contacts_next_page
                    }, function (resp) {
                        if (searched_text === $scope.contacts_search_text) {
                            $scope.contacts.push.apply($scope.contacts, resp['contacts'])
                            $scope.contacts_next_page = resp['next_page'];
                            $scope.contacts_loading = false;
                        }
                    }, function (resp) {

                    });
                })($scope.contacts_loading);
            };

            $scope.contact_action = function (user, action) {
                if (user.changing_contact) {
                    return false
                }
                user.changing_contact = true;
                $ok($scope.contact_action_url(), {
                    user_id: user['id'],
                    action: action
                }, function (resp) {
                    user['contact_status'] = resp['contact_status'];
                    user.changing_contact = false;
                }, function (resp) {
                    user.changing_contact = false;
                });

            };

            {% raw %}

        }
        ]);
        {% endraw %}
    </script>


    {% raw %}
    <div ng-controller="messenger" ng-cloak ng-init="set_selected_menu('chat'); refresh_chats()">

        <div class="container">
            <div class="row reader-list-nav menu-company">
                <div class="col-lg-12">
                    <ul>
                        <li><a ng-click="set_selected_menu('chat')" class="link"
                               ng-class="{'selected': selected_messenger_menu == 'chat'}">{{ _('Messages') }}</a>
                        </li>
                        <li><a ng-click="set_selected_menu('community')" class="link"
                               ng-class="{'selected': selected_messenger_menu == 'community'}">{{ _('Community') }}</a>
                        </li>
                        <li ng-show="0"><a ng-click="set_selected_menu('contacts')" class="link"
                                           ng-class="{'selected': selected_messenger_menu == 'contacts'}">{{
                            _('Contacts')
                            }}</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="row mt1em">
                <div class="messenger-chat" ng-show="selected_messenger_menu == 'chat'">


                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 messenger-chat-contacts">
                        <input placeholder="{{ _('Search for contact') }}"
                               class="form-control" type="text"
                               ng-model-options='{ debounce: 500 }'
                               ng-change="search_contacts(true)" ng-model="contact_search_text"/>


                        <ul class="list-group">
                            <a href="#" ng-click="select_chat_room(chat_room)" ng-repeat="chat_room in contacts">
                                <li style="position: relative" class="list-group-item"
                                    ng-class="{'selected': chat_room === selected_chat_room}">
                                    <img class="messenger-avatar" pr-image-position="center center"
                                         pr-image-url="{{ chat_room.users[0].avatar.url }}"/>
                                    <span ng-bind-html="chat_room.users[0].full_name | highlight: community_search_text"></span>
                                    <span class="unread_messages_count" ng-if="chat_room.unread_messages_count">{{ chat_room.unread_messages_count }}</span>
                                </li>

                            </a>
                        </ul>

                    </div>
                    <div ng-if="!selected_chat_room" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{ _('please select
                        user to chat with') }}
                    </div>
                    <div ng-if="selected_chat_room" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input ng-if="0 " placeholder="{{ _('Search in chat') }}"
                               class="form-control" type="text"
                               ng-model-options='{ debounce: 500 }'
                               ng-change="search_chat(true)" ng-model="chat_search_text"/>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <i class="fa fa-comments"></i> {{ __('chat with %(full_name)s',
                                selected_chat_room.users[0]) }}
                            </div>

                            <div class="panel-body" id="panel-body-chat">
                                <div ng-if="!loaded_chats[selected_chat_room['chat_room_id']]" class="chat">{{
                                    _('Loading chat') }}
                                </div>
                                <div ng-if="loaded_chats[selected_chat_room['chat_room_id']] && !loaded_chats[selected_chat_room['chat_room_id']]['messages'].length"
                                     class="chat">{{ _('There is no messages in this chat') }}
                                </div>

                                <ul class="chat" ng-if="loaded_chats[selected_chat_room['chat_room_id']]"
                                    class="chat-session chat"
                                    schroll-bottom-stick-to="schroll_stick_to"
                                    schroll-bottom="loaded_chats[selected_chat_room['chat_room_id']]['messages']">

                                    <li class="clearfix">
                                        <div class="tac"><a href="#" ng-click="load_older_messages()">{{ _('Load older')
                                            }}</a>
                                        </div>
                                    </li>

                                    <li ng-repeat="message in loaded_chats[selected_chat_room['chat_room_id']]['messages']"
                                        ng-class="{'right': message['from_user_id'] == me_user_id, 'left': message['from_user_id'] != me_user_id}"
                                        class="clearfix">
                                        <div ng-if="message.session" class="tac"><span style="color: red;">{{ _('chat session started %(chat_session_start)s', {chat_session_start: moment(message.cr_tm)}) }}</span>
                                        </div>
                                    <span class="chat-img"
                                          ng-class="{'pull-right': message['from_user_id'] == me_user_id, 'pull-left': message['from_user_id'] != me_user_id}">
                                        <img class="messenger-avatar" pr-image-position="center center"
                                             pr-image-url="{{ loaded_chats[selected_chat_room['chat_room_id']]['users'][message['from_user_id']]['avatar']['url'] }}"/>
                                    </span>
                                        <div style="color: #f00; font-size: 8px">{{ moment(message.cr_tm) }}
                                        </div>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <small class=" text-muted"> </small>
                                                <strong class="primary-font"
                                                        ng-class="{'pull-right': message['from_user_id'] == me_user_id, 'pull-left': message['from_user_id'] != me_user_id}">{{
                                                    (message['from_user_id'] ==
                                                    me_user_id)?_('You'):loaded_chats[selected_chat_room['chat_room_id']]['users'][message['from_user_id']]['full_name']
                                                    }}</strong>
                                            </div>
                                            <p>{{ message.content }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                <textarea ng-model="$parent.message_text" id="btn-input" type="text"
                                          ng-disabled="!loaded_chats[selected_chat_room['chat_room_id']] || loaded_chats[selected_chat_room['chat_room_id']]['loading']"
                                          class="form-control input-sm"
                                          ctrl-enter="send_message()"
                                          placeholder="Type your message here..."></textarea>
                        <span class="input-group-btn">
                            <button ng-disabled="!loaded_chats[selected_chat_room['chat_room_id']] || loaded_chats[selected_chat_room['chat_room_id']]['loading']"
                                    ng-click="send_message()"
                                    class="btn btn-warning btn-sm" id="btn-chat">
                                {{ _('Send message') }}</button>
                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="messenger-search-community"
                     ng-show="selected_messenger_menu == 'community'"
                     infinite-scroll="search_community()"
                     infinite-scroll-disabled="community_loading !== false || !community_next_page"
                     bak-infinite-scroll-parent="true">

                    <input placeholder="{{ _('Search user with same subscriptions or employment') }}"
                           class="form-control" type="text"
                           ng-model-options='{ debounce: 500 }'
                           ng-change="search_community(true)" ng-model="community_search_text"/>

                    <div ng-repeat="usr in community">
                        <div class="row search-community-row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <img class="messenger-avatar" pr-image-position="top"
                                     pr-image-url="{{ usr.avatar.url }}"/>
                                <span ng-bind-html="usr.full_name | highlight: community_search_text"></span>
                                <button class="btn btn-primary w15em"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Send message') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="!usr.contact_status || usr.contact_status == 'ANY_REVOKED' || usr.contact_status == 'REVOKED_ANY'"
                                        ng-click="contact_action(usr, 'add')" class="btn btn-success w15em"><i
                                        class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Add contact') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="usr.contact_status == 'ACTIVE_ACTIVE'"
                                        ng-click="contact_action(usr, 'remove')" class="btn btn-danger w15em"><i
                                        class="fa fa-minus"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Remove from contacts') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="usr.contact_status == 'REQUESTED_UNCONFIRMED'"
                                        ng-click="contact_action(usr, 'revoke')" class="btn btn-warning w15em"><i
                                        class="fa fa-minus"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Awaiting for confirmation') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="usr.contact_status == 'UNCONFIRMED_REQUESTED'"
                                        ng-click="contact_action(usr, 'confirm')" class="btn btn-warning w15em"><i
                                        class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Confirm contact') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="usr.contact_status == 'ACTIVE_BANNED'"
                                        class="btn btn-danger w15em"><i
                                        class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Sorry, you are banned by this user') }}
                                </button>
                                <button ng-disabled="usr.changing_contact"
                                        ng-show="usr.contact_status == 'BANNED_ACTIVE'"
                                        ng-click="contact_action(usr, 'unban')" class="btn btn-danger w15em"><i
                                        class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;{{
                                    _('Banned. Remove ban for this user') }}
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <i class="fa fa-newspaper-o"></i> {{ _('Common portals subscribed') }}
                                <div class="no-common" ng-if="! usr.common_portals_subscribed.length"><i
                                        class="fa fa-minus-circle red">&nbsp;</i>{{ _('No common portal') }}
                                </div>
                                <div ng-repeat="portal in usr.common_portals_subscribed"><img
                                        class="common-portal-logo"
                                        pr-image-position="left" pr-image-url="{{ portal.logo.url }}"/><a
                                        class="external_link" href="//{{ portal.host }}" target="_blank">{{
                                    portal.name }}<i class="fa fa-external-link ml025em"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <i class="fa fa-building-o"></i> {{ _('Common company employers') }}
                                <div class="no-common" ng-if="! usr.common_companies_employers.length"><i
                                        class="fa fa-minus-circle red">&nbsp;</i>{{ _('No common employers') }}
                                </div>
                                <div ng-repeat="company in usr.common_companies_employers"><img
                                        class="common-employer-logo"
                                        pr-image-position="left" pr-image-url="{{ company.logo.url }}"/>{{
                                    company.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="w100 btn btn-default mt1em" ng-show="community_next_page"><i
                            class="fa fa-spinner"></i>&nbsp;&nbsp;&nbsp;{{ _('Loading community page') }}
                    </button>
                    <button class="w100 btn btn-default mt1em" ng-show="!community_next_page" disabled="disabled">
                        {{ _('All community users loaded') }}
                    </button>
                    <div ng-show="selected_messenger_menu == 'contacts'">
                        contacts
                    </div>
                </div>

            </div>

        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}


