{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - {{ current_user.full_name }}{% endblock title %}
{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_crop.html' %}
{% endblock head %}

{% block portal_content %}
    <script>
        module.controller('edit_user', ['$scope', function ($scope) {
            $scope.$$translate = {{ translates('edit_user')|safe }};

            $scope.url_user_profile = {{ raw_url_for('user.profile')| safe }};
            $scope.save_user_profile = {{ raw_url_for('user.edit_profile')| safe }}
                    $scope.url_user_setings = {{ raw_url_for('user.profile')| safe}};


            $scope.data = {};

            $scope.afterSave = function (data, defaultcallback) {
                add_message('your profile was saved', 'success')
            }

            $scope.amidLoad = function (data, defaultcallback) {
                $scope.countries = data['countries'];
                $scope.languages = data['languages'];
                delete data['countries'];
                delete data['languages'];
                return data;
            };
        }])

    </script>

    <div ng-controller="edit_user" class="container" ng-cloak>
        {% raw %}
        <div af
             af-after-save="afterSave"
             af-amid-load="amidLoad" class="edit_user_profile" ng-model="data">
            <div class="row link-page">
                <h5 pr-test="EditProfileTitle" class="">{{ _('Edit profile') }}</h5>
                <a pr-test="ReturnToProfile" ng-if="data.user" title="profile"
                   href="{{ data.user?url_user_profile({'user_id': data.user.id}):'' }}"><i
                        class="fa fa-user fa-2x"></i></a>
                <a ng-if="0 && data.user" title="setings"
                   href="{{ data.user?url_user_profile({'user_id': data.user.id}):'' }}"><i
                        class="fa fa-cog fa-2x"></i></a>
            </div>
            <div class="row">
                <div class="profile-thumbnail">
                    <div style="width: 100%; height: 300px; position: relative" pr-crop="data.user.avatar"></div>
                </div>

                <form name="formUser" class="edit-grup">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Your first name') }}</span>
                        <input pr-validation-answer="data_validation:first_name" class="form-control"
                               aria-describedby="sizing-addon1" type="text"
                               placeholder="first name" ng-model="data.user.first_name">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Your last name') }}</span>
                        <input pr-test="LastNameEdit" pr-validation-answer="data_validation:last_name"
                               class="form-control"
                               aria-describedby="sizing-addon1" type="text"
                               placeholder="last name" ng-model="data.user.last_name"
                               name="last_name" ng-pattern="/[\wа-яёі']{2}/">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Your email') }}</span>
                        <input class="form-control" aria-describedby="sizing-addon1" type="text" disabled="disabled"
                               placeholder="youremail@example.com" ng-model="data.user.address_email">
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Birthday') }}</span>
                        <input class="form-control" ng-model="data.user.birth_tm"
                               pr-date-picker/>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Gender') }}</span>
                        <input type="radio" id="male" ng-model="data.user.gender" ng-value="'male'">
                        <label for="male">{{ _('Male') }}</label>
                        <input type="radio" id="female" ng-model="data.user.gender" ng-value="'female'">
                        <label for="female">{{ _('Female') }}</label>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Language') }}</span>
                        <select id="language" style="width: 150px"
                                ng-options="option.name as option.display for option in languages"
                                ng-model="data.user.lang"></select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Your web-page') }}</span>
                        <input class="form-control" aria-describedby="sizing-addon1" type="text"
                               placeholder="www.your.webpage.com" name="link" ng-model="data.user.address_url">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Your country') }}</span>

                        <select id="country" style="width: 15em"
                                ng-options="country.id as country.name for country in countries"
                                ng-model="data.user.country_id"></select>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Password') }}</span>
                        <input class="form-control" aria-describedby="sizing-addon1" type="text"
                               placeholder="if you want change password, put it here!"
                               ng-model="data.change_password.password1"
                               pr-validation-answer="data_validation:password1">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                        <span class="input-group-addon" id="sizing-addon1">{{ _('Confirm password') }}</span>
                        <input class="form-control" aria-describedby="sizing-addon1" type="text"
                               placeholder="comfirm password" ng-model="data.change_password.password2"
                               pr-validation-answer="data_validation:password2">

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                    <span class="input-group-addon" id="sizing-addon1">{{ _('Phone') }}</span>
                    <input class="form-control" ng-model="data.user.address_phone" aria-describedby="sizing-addon1"
                           placeholder="your phone" pr-validation-answer="data_validation:address_phone">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                    <span class="input-group-addon" id="sizing-addon1">{{ _('Location') }}</span>
                    <input class="form-control" aria-describedby="sizing-addon1" type="text"
                           placeholder="your city" ng-model="data.user.location">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input-group input-group-sm ">
                    <span class="input-group-addon" id="sizing-addon1">{{ _('About me') }}</span>
                        <textarea class="form-control" style="height: 100px;" aria-describedby="sizing-addon1"
                                  type="text" name="about" placeholder="Give us some information about you please"
                                  rows="8"
                                  cols="40" ng-model="data.user.about"></textarea>
                    </div>
                    <div class="item">
                        <button pr-test="SaveProfileButton"
                                class="btn btn-default save-profile pull-right border-radius"
                                type="button" ng-click="$af.save(data)"
                                ng-disabled="!$af.isActionAllowed(data, 'save') ">{{ _('Save profile') }}
                        </button>
                    </div>
                </form>

            </div>
        </div>
        {% endraw %}
    </div>

{% endblock portal_content %}
