{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - {{ current_user.full_name }}{% endblock title %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block portal_content %}
<script>
    module.controller('user_profile',  function($scope, $ok){
      $scope.$$translate = {{ translates('user_profile')|safe }};
      $scope.user = {{ user.get_client_side_dict()|tojson|safe}}
      $scope.actions = {{ actions|safe}}
    });
</script>
    {{ raw }}
    <div class="container" ng-controller="user_profile" ng-cloak>
        <div class="row block-resp link-page"><h5>{{ _('User profile') }}</h5>
            <a title="edit" pr_test="EditProfile" href="{{ url_for('user.edit_profile', user_id=user.id) }}" ng-if="actions.edit_user_profile">
                <i class="fa fa-pencil fa-2x"></i>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12 ">
                <div class="thumbnail profile-window">
                    <div class="avatar-user" />
                        <img class="w100 h100" {{ prImageUrl(user.avatar.url) }}/>
                    </div>
                    <div class="caption">
                        <h3 pr-test="UserProfiName">{{ user.full_name }}</h3>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Email:') }}</div>
                            <div pr-test="UserProfiEmail"
                                 class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.address_email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('First name:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.first_name or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Last name:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.last_name or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Birthday:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ moment(user.birth_tm)}}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Gender:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.gender or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Country:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.country.name or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Web-page:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <span>{{ user.address_url or '' }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Phone:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.address_phone or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Location:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.location or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('About:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ user.about or '' }}</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 line-user-info">{{ _('Member since:') }}</div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">{{ moment(user.cr_tm) }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ endraw }}
{% endblock portal_content %}

