<script src="{{ static_address('js/pr-membership-plan-angular.js') }}"></script>
<script>
    pr_angular_modules.push();
</script>


<script>

    module.factory('$membership_plan', ['$http', '$uibModal', function ($http, $uibModal) {
        return function (dict) {
            return $uibModal.open({
                templateUrl: 'request_set_membership_plan.html',
                controller: 'RequestSetMembershipPlanController',
                backdrop: 'static',
                keyboard: true,
                resolve: resolveDictForAngularController(dict)
            });
        };
    }]).controller('RequestSetMembershipPlanController', function ($scope, $ok, $uibModalInstance, membership_id, request_or_set) {

        $scope.request_set_t_f = request_or_set !== 'set';

        $scope.$$translate = {{ translates('RequestSetMembershipPlanController') | safe }};

        $scope.url_request_membership_plan = {{ raw_url_for('portal.request_membership_plan') | safe }};
        $scope.url_set_membership_plan = {{ raw_url_for('portal.set_membership_plan') | safe }};

        $scope.membership_id = membership_id;
        {#        $scope.$membership_plan = $membership_plan;#}

        $scope.afterSave = function (resp) {
            $uibModalInstance.close(resp)
        };

        $scope.cancel = $uibModalInstance.dismiss;

        $scope.publication_count = function (plan, pub_type, planed) {
            function get_count(pub_type, planed_count) {
                var holded =
                        $scope.data.select['publications']['by_status_visibility']['HOLDED'][pub_type.toUpperCase()];
                var published =
                        $scope.data.select['publications']['by_status_visibility']['PUBLISHED'][pub_type.toUpperCase()];
                if (planed_count !== false) {
                    holded = published + holded - planed_count;
                    holded = holded < 0 ? 0 : holded;
                    holded = planed_count < 0 ? 0 : holded;
                    published = published - holded;
                }
                return '&nbsp;(<nothing class="publication-fg-STATUS-PUBLISHED">' + published + ',</nothing><nothing class="publication-fg-STATUS-HOLDED">' + holded + '</nothing>)';
            }

            if (!$scope.data) {
                return ''
            }
            var ret = plan['publication_count_' + pub_type];
            return (ret < 0 ? ('&infin;') : (ret ? ret : '0')) + get_count(pub_type, planed ? ret : false);
        };

        $scope.immediately_cant_be_selected = function (immediatly) {
            if (!$scope.data) {
                return true;
            }

            return $scope.data.selected_by_user_plan_id === false ||
                    (immediatly?false:parseInt($scope.data.membership.current_membership_plan_issued.duration)<0)
        }

        $scope.duration = function (plan) {
            if (!$scope.data) {
                return ''
            }
            return ((parseInt(plan.duration) <= 0 || plan.id == $scope.data.membership.portal.default_membership_plan_id) ? '&infin;' : plan.duration);
        };

        $scope.price = function (plan) {
            if (!$scope.data) {
                return ''
            }
            return ((plan.price <= 0 || plan.id == $scope.data.membership.portal.default_membership_plan_id) ? 'free' : ('' + plan.price + ' ' + plan.currency_id));
        };
    });
</script>

