<!---article---->
<link rel="stylesheet" href="{{ static_address('tinymce.pr/plugins/tinymce-gallery-plugin/image_gallery.css') }}">
<link rel="stylesheet" href="{{ static_address('tinymce.pr/plugins/tinymce-gallery-plugin/plugin.css') }}">

<script src="{{ static_address('tinymce.pr/tinymce.jquery.pr.js') }}"></script>
<script src="{{ static_address('tinymce.pr/plugins/tinymce-gallery-plugin/plugin.js') }}"></script>
<script src="{{ static_address('new/angular-ui-tinymce/tinymce.js') }}"></script>
<script src="{{ static_address('new/angular-ui-slider/slider.js') }}"></script>
<script>
    pr_angular_modules.push('ui.tinymce');
</script>