<script>
    module.controller('CompanyMenuController', ['$scope', '$timeout', function ($scope, $timeout) {
        angularControllerFunction('user_controller', 'set_selected_user_menu')('companies');

        $scope.user = {{ g.user.get_client_side_dict()|tojson|safe }};
        $scope.company = {{ (company if company else portal.own_company).get_client_side_dict()|tojson|safe }};
        $scope.company_employments_rights = {{ (company if company else portal.own_company).get_rights_for_current_user()|tojson|safe }};

        $scope.$$translate = {{ translates('CompanyMenuController')|safe }};

        $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
        $scope.url_company_materials = {{ raw_url_for('company.materials')|safe }};
        $scope.url_company_employees = {{ raw_url_for('company.employees')|safe }};
        $scope.url_company_portal_memberees = {{ raw_url_for('company.portal_memberees')|safe }};

        $scope.selected_company_menu = '';
        $scope.set_selected_company_menu = function (menu_item) {
            $timeout(function () {
                $scope.selected_company_menu = menu_item;
            }, 0);
        };
    }]);
</script>
{% raw %}
<div ng-controller="CompanyMenuController" class="topbar-menu-links" ng-cloak>
    <div ng-if="user.id && company.id && company_employments_rights !== null" ng-cloak>
        <div class="container menu-company">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-4 col-xs-4 pl0 pr0">
                    <a ng-class="{'selected': selected_company_menu == 'materials'}"
                       href="{{ url_company_materials({company_id: company.id}) }}">{{ _('Materials') }}</a>
                    <a ng-class="{'selected': selected_company_menu == 'portal_memberees'}" id="portal_memberees"
                       href="{{ url_company_portal_memberees({company_id: company.id}) }}">{{ _('Membership') }}</a>
                    <a ng-class="{'selected': selected_company_menu == 'companies_employees'}"
                       href="{{ url_company_employees({company_id: company.id}) }}">{{ _('Employees') }}</a>
                    <a class="pull-right" ng-class="{'selected': selected_company_menu == 'home'}"
                       href="{{ url_company_profile({company_id: company.id}) }}">{{ company.name }}</a>
                    <img pr-image-url="{{ company.logo.url }}" class="menu-company-logo pull-right"/>
                </div>
            </div>
            {% endraw %}
            <div class="row">
                <div ng-if="company.own_portal" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl0 pr0">
                    {% call(url) if_url_permitted('portal.profile', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'portal_profile'}"
                           href="{{ url }}">{{ _('Portal profile') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.banners', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'portal_banners'}"
                           href="{{ url }}">{{ _('Banners') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.tags', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'portal_tags'}"
                           href="{{ url }}">{{ _('Tags') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.publications', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'publications'}"
                           id="publications"
                           href="{{ url }}">{{ _('Publications') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.readers', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'companies_readers'}"
                           id="companies_readers"
                           href="{{ url }}">{{ _('Readers') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.plans', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'membership_plans'}"
                           href="{{ url }}">{{ _('Membership plans') }}</a>
                    {% endcall %}
                    {% call(url) if_url_permitted('portal.companies_members', portal_id = company.own_portal.id) %}
                        <a class="pull-right" ng-class="{'selected': selected_company_menu == 'companies_members'}"
                           href="{{ url }}">{{ _('Members') }}</a>
                    {% endcall %}
                    {#                    <a class="pull-right" ng-if="company.author_user_id == user.id"#}
                    {#                       ng-class="{'selected': selected_company_menu == 'portal_translations'}"#}
                    {#                       href="{{ url_portal_translations({company_id: company.id}) }}">{{ _('Translations') }}</a>#}
                    {#                    <a class="dn pull-right" ng-class="{'selected': selected_company_menu == 'comments'}"#}
                    {#                       id="comments"#}
                    {#                       href="#">{{ _('Comments') }}</a>#}
                    {#                    <a class="pull-right" ng-if="0" ng-class="{'selected': selected_company_menu == 'statistics'}"#}
                    {#                       id="statistics"#}
                    {#                       href="#">{{ _('Statistics') }}</a>#}
                </div>
            </div>
            {% raw %}
        </div>
    </div>
</div>
{% endraw %}

