{% extends "index_lazy_layout.html" %}

{% block title %}Profireader - {{ _('Partners') }}{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}


    <script>
        module.controller('company_partners', function ($scope, $ok, $uibModal) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('companies_partners');
            $scope.$$translate = {{translates('company_partners') | safe}};
            $scope.url_companies_partners = '{{ url_for('portal.companies_partners_load', company_id=company.id)
         }}';
            $scope.url_company_partner_details = {{ raw_url_for('portal.company_partner_update')| safe}};
            $scope.url_change_status = {{ raw_url_for('portal.company_partners_change_status')|safe }};
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};

            {% raw %}

            $scope.portal_link = function (link) {
                if (link) {
                    return 'http://' + link;
                } else {
                    return null
                }
            };

            $scope.grid_update_row = function (updated_row) {
//                    TODO: SS by OZ: how i can access grid data without data cariable in my scope?
                $scope.gridApi.grid.grid_change_row(updated_row);
            };

            $scope.grid_action = function (id, action, row, column_name) {
                if (column_name == 'actions') {
                    if (action === 'ALLOW') {
                        window.location.href = $scope.url_company_partner_details({
                            company_id: row.company_id, member_id: row.member.company.id
                        });
                        return;
                    } else {
                            return $ok($scope.url_change_status({
                                company_id: row.company_id,
                                portal_id: row.portal_id
                            }), {action: action, who: row.who, partner_id: row.member.company.id}, function (resp) {
                               $scope.gridApi.grid.grid_change_row(resp);
                            }).finally(function () {})
                    }
                }
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                urlLoadGridData: $scope.url_companies_partners,
                columnDefs: [
                    {
                        name: 'member.company.name',
                        type: 'link',
                        img: 'member.company.logo_file_id',
                        href: 'portal_link(row.entity.member.company.own_portal.host)'
                    },
                    {name: 'member.status', filter: {type: 'multi_select', default_selected: true}},
                    {name: 'member.rights', width: '200', type: 'icons', afilter: {type: 'input'}},
                    {
                        name: 'actions', width: '*', type: 'actions', onclick: 'grid_action', classes: function (id,
                                                                                                                 entity, field) {
                        return entity.status !== 'ACTIVE' ? 'non-active' : '';
                    }
                    }
                ]
            });
            {% endraw %}
        })
    </script>

    {% raw %}

    <div ng-controller="company_partners" ng-cloak>
        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
                <i class="fa fa-spin fa-spinner"></i>
                <div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}
