{% extends "index_lazy_layout.html" %}
{% block title %}Profireader - {{ _('Companies') }}{% endblock title %}
{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_infinite-scroll.html' %}
{% endblock head %}

{% block portal_content %}

    <script>
        module.controller('companies_list', ['$scope', '$ok', '$timeout', function ($scope, $ok, $timeout) {
            angularControllerFunction('user_controller', 'set_selected_user_menu')('companies');
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.url_create_company = '{{ url_for('company.update')|safe }}';

            $scope.url_search_for_company = {{ raw_url_for('company.search_for_company_to_join')|safe }};
            $scope.url_load_employments = {{ raw_url_for('company.companies_load')|safe }};
            $scope.url_join = '{{ url_for('company.join_to_company')|safe }}';

            $scope.me_user_id = '{{ g.user.id }}';
            $scope.$$translate = {{ translates('companies_list')|safe }};

            $scope.employments = [];
            $scope.employments_there_is_more = true;
            $scope.employments_loading = false;
            $scope.employments_layout_table = true;

            $scope.companies_join_to = [];
            $scope.companies_join_to_loading = false;
            $scope.companies_join_to_search_text = '';
            $scope.companies_join_to_there_is_more = false;
            $scope.companies_join_to_joining = false;


            $scope.companies_join_to_load = function (full_reload) {

                if (full_reload) {
                    $scope.companies_join_to = [];
                    $scope.companies_join_to_loading = false;
                }

                if ($scope.companies_join_to_loading !== false) {
                    return;
                }

                $scope.companies_join_to_loading = $scope.companies_join_to_search_text;

                (function f(searched_text) {
                    $ok($scope.url_search_for_company(), {
                        'text': searched_text,
                        'loaded': $scope.companies_join_to.map(function (company) {
                            return company.id;
                        })
                    }, function (resp) {
                        if (searched_text === $scope.companies_join_to_search_text) {
                            $scope.companies_join_to.push.apply($scope.companies_join_to, resp['companies'])
                            $scope.companies_join_to_there_is_more = resp['there_is_more'];
                        }
                        $scope.companies_join_to_loading = false;
                    }, function (resp) {
                        $scope.companies_join_to_loading = false;
                    });
                })($scope.companies_join_to_loading);
            };


            $scope.companies_join_to_join = function (company_id) {
                $scope.companies_join_to_joining = company_id;
                $ok($scope.url_join, {company_id: company_id}, function (resp) {
                    $scope.companies_join_to = [];
                    $scope.companies_join_to_search_text = '';
                    $scope.companies_join_to_there_is_more = null;
                    $scope.employments.unshift(resp['employment']);

                    $timeout(function () {
                        $('#employment_' + resp['employment']['id'] + ' .class_to_highlight').effect('bounce', {distance: 10}, 1000);
                        {#                        $('.class_to_highlight',$('#employment_' + resp['employment']['id'])).addClass('highlight');#}
                    }, 100);
                    {#                    $timeout(function () {#}
                    {#                        $('.class_to_highlight',$('#employment_' + resp['employment']['id'])).removeClass('highlight');#}
                    {#                    }, 2000);#}
                }).finally(function () {
                    $scope.companies_join_to_joining = null;
                });
            };

            $scope.setTable = function (val) {
                $scope.employments_layout_table = val;
                $timeout(function () {
                    $scope.$emit('employments:layout_changed');
                }, 0);
            };

            $scope.employments_load = function () {
                if ($scope.employments_loading) {
                    return;
                }
                $scope.employments_loading = true;

                $ok($scope.url_load_employments(), {
                    'loaded': $scope.employments.map(function (employment) {
                        return employment.id;
                    })
                }, function (resp) {
                    $scope.actions = resp['actions'];
                    $scope.employments.push.apply($scope.employments, resp['employments']);
                    $scope.employments_there_is_more = resp['there_is_more'];
                }).finally(function () {
                    $scope.employments_loading = false;
                });
            };


            if ($(document).width() < 764) {
                $scope.employments_layout_table = false;
            }

        }]);
    </script>
    {% raw %}
    <div class="container" ng-controller="companies_list" ng-cloak>
        <div class="row join-company">
            <div class="col-lg-3 create-company pull-right">
                <a ng-href="{{ actions.create_company?url_create_company:'' }}">
                    <button class="btn btn-default" type="button" title="{{ actions.create_company }}">{{ _('Create new
                        company') }}
                    </button>
                </a>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <h3>{{ _('Join to company') }}</h3>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 search-company">
                        <div class="input-group w100">
                            <input type="text" class="form-control"
                                   placeholder="{{ _('Search for company...') }}"
                                   ng-model-options='{ debounce: 500 }'
                                   ng-change="companies_join_to_load(true)"
                                   ng-model="companies_join_to_search_text"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="oa col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="companies_join_to_search_text"
             style="max-height: 30em; min-height: 1em;">

            <div infinite-scroll="companies_join_to_load()"
                 infinite-scroll-parent="true"
                 infinite-scroll-disabled="companies_join_to_loading !== false || !companies_join_to_there_is_more">
                <div class="list_search_company m05em" ng-repeat="company in companies_join_to">
                    <div class="row company-thumbnail">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <img pr-image-url="{{ company.logo.url }}" style="width: 100%">
                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <h4 ng-bind-html="company.name | highlight: companies_join_to_search_text"></h4>
                            <p ng-bind-html="company.short_description"></p>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 join-new-company">
                            <button class="btn btn-default mb05em" type="button"
                                    ng-click="companies_join_to_join(company.id)"
                                    ng-class="{'disabled': companies_join_to_joining}"
                                    ng-disabled="companies_join_to_joining">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;{{ _('Join') }}
                            </button>
                            <a ng-href="{{ company.own_portal.host? ('//' + company.own_portal.host): '' }}"
                               target="_blank">
                                <button class="btn btn-success" type="button"
                                        ng-class="{'disabled': !company.own_portal.host}">
                                    {{_(company.own_portal.host?"Go to portal":"No portal created") }}<span
                                        ng-if="company.own_portal.host"
                                        class="fa fa-external-link pr-external-link"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>


            <span class="label label-warning w100 fl tac" ng-show="companies_join_to_loading"><i
                    class="fa fa-spinner"></i>&nbsp;&nbsp;&nbsp;{{ _('Loading companies') }} </span>
                <span class="label label-info w100 fl tac"
                      ng-show="!companies_join_to_loading && companies_join_to.length && !companies_join_to_there_is_more"><i
                        class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;{{ _('There is no more companies to join') }}</span>
                <span class="label label-danger w100 fl tac"
                      ng-show="!companies_join_to_loading && !companies_join_to.length"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;{{ _('Oops! Nothing found with this search criteria') }}</span>

            </div>
        </div>


        <div class="row employment_company-list">


            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" ng-if="employments.length > 0">
                <h3>{{ _('Your company list') }}:</h3>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h3>
                    <a href="#" ng-click="setTable(false)" ng-style="!employments_layout_table?{color:'red'}:''"><i
                            class="fa fa-list pull-right" aria-hidden="true"></i></a>
                    <a href="#" ng-click="setTable(true)" ng-style="employments_layout_table?{color:'red'}:''"><i
                            class="fa fa-th-large pull-right" aria-hidden="true"></i></a>
                </h3>
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 infinite-scroll="employments_load()"
                 infinite-scroll-listen-for-event="employments:layout_changed"
                 infinite-scroll-disabled="employments_loading !== false || !employments_there_is_more">

                <div ng-if="employments && employments_layout_table==false"
                     class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-company"
                     ng-repeat="employment in employments" id="employment_{{ employment.id }}">

                    <a ng-href="{{ employment.status=='ACTIVE'?url_company_profile({company_id: employment.company.id}):'' }}"
                       class=""
                       ng-class="{'disabled': employment.status!='ACTIVE'}">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3"><img pr-image-position="top"
                                                                              class="class_to_highlight"
                                                                              pr-image-url="{{ employment.company.logo.url }}"
                                                                              alt="image" style="width: 100%;"></div>
                        <span class="col-lg-5 col-md-5 col-sm-5 col-xs-5">{{ employment.company.name }}</span>
                    </a>

                    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-2">{{ (employment.company.author_user_id==me_user_id)?
                        _('OWN COMPANY'):_('JOINED COMPANY with status ' + employment.status) }}
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <a ng-href="{{ employment.company.own_portal.host? ('//' + employment.company.own_portal.host): '' }}"
                           target="_blank">
                            <button class="btn btn-success w100" type="button"
                                    ng-class="{'disabled': !employment.company.own_portal.host}">
                                {{_(employment.company.own_portal.host?"Go to portal":"No portal created") }}<span
                                    ng-if="employment.company.own_portal.host"
                                    class="fa fa-external-link pr-external-link"></span>
                            </button>
                        </a>
                    </div>
                </div>


                <div ng-if="employments && employments_layout_table == true"
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                     ng-repeat="employment in employments" id="employment_{{ employment.id }}">

                    <div class="company-thumbnail mb05em mt05em">
                        <div class="caption some-company-info class_to_highlight"
                             ng-class="{'disabled': employment.status!='ACTIVE'}">
                            <a ng-href="{{ employment.status=='ACTIVE'?url_company_profile({company_id: employment.company.id}):'' }}">
                                <img pr-image-url="{{ employment.company.logo.url }}"
                                     style="width: 100%; height: 200px;"/>
                                <h3 class="ellipsis">{{ employment.company.name }}</h3>
                            </a>


                            <p>{{ (employment.company.author_user_id==me_user_id)? _('OWN
                                COMPANY'):_('JOINED COMPANY with status ' + employment.status)
                                }}</p>
                        </div>

                        <a ng-href="{{ employment.company.own_portal.host? ('//' + employment.company.own_portal.host): '' }}"
                           target="_blank">
                            <button class="btn btn-success" type="button"
                                    ng-class="{'disabled': !employment.company.own_portal.host}">
                                {{_(employment.company.own_portal.host?"Go to portal":"No portal created") }}<span
                                    ng-if="employment.company.own_portal.host"
                                    class="fa fa-external-link pr-external-link"></span>
                            </button>
                        </a>

                    </div>
                </div>

                <span class="label label-warning w100 fl tac" ng-show="employments_loading"><i
                        class="fa fa-spinner"></i>&nbsp;&nbsp;&nbsp;{{ _('Loading employments') }} </span>
                <span class="label label-info w100 fl tac"
                      ng-show="!employments_loading && employments.length && !employments_there_is_more"><i
                        class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;{{ _('All employments loaded') }}</span>
                <span class="label label-danger w100 fl tac" ng-show="!employments_loading && !employments.length"><i
                        class="fa fa-ban"></i>&nbsp;&nbsp;&nbsp;{{ _('You haven\'t got any company yet! Create own or join to!') }}</span>
            </div>

        </div>
    </div>

    {% endraw %}




{% endblock portal_content %}
