{% extends "index_lazy_layout.html" %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_content %}

    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>
        module.controller('employment_position_dialog', function ($scope, $ok, $uibModalInstance, employment, company) {

            $scope.$$translate = {{ translates('employment_position_dialog')|safe }};
            $scope.url_employment_change_position = {{ raw_url_for('company.employment_change_position')|safe }};
            {% raw %}
            $scope.position = employment.position;
            $scope.company = company;

            $scope.set_position = function () {
                $ok($scope.url_employment_change_position({
                    employment_id: employment.id,
                    company_id: $scope.company.id,
                }), {position: $scope.position}, $uibModalInstance.close);
            }

            $scope.cancel = $uibModalInstance.dismiss;

            {% endraw %}

        });
    </script>

    {% raw %}
    <script type="text/ng-template" id="employment_position_dialog.html">
        <div>
            <div class="modal-header">
                <h3 class="modal-title">{{ _('set employee position') }}</h3>
            </div>

            <div class="modal-body">
                <input ng-model="position"/>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="set_position()">{{ _('set position') }}
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">{{ _('Cancel') }}</button>
            </div>
        </div>
    </script>
    {% endraw %}


    <script>
        module.controller('company_employees_controller', function ($scope, $ok, $timeout, $uibModal, $rights, $selectStatus) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('companies_employees');

            $scope.$$translate = {{ translates('company_employees_controller')|safe }};
            $scope.company = {{ company.get_client_side_dict(fields = 'id,name')|tojson|safe }};
            $scope.get_link_user_profile = {{ raw_url_for('user.profile')|safe }};
            $scope.url_set_rights = {{ raw_url_for('company.set_rights', company_id = company.id)|safe }};
            $scope.url_change_status = {{ raw_url_for('company.change_employment_status_by_company', company_id = company.id)|safe }};
            $scope.rights = {{ employment.rights|tojson|safe }};
            {% raw %}

            $scope.loadData = function (data, callbackfunc) {
                $scope.loading = true;
                $ok('', data, function (resp) {
                    callbackfunc(resp);
                }).finally(function () {
                    $scope.loading = false
                });
            };


            $scope.grid_update_row = function (updated_row) {
                $scope.gridApi.grid.grid_change_row(updated_row);
            };

            $scope.set_new_status = function (id, row, column_name) {
                $selectStatus({
                        title: $scope._('change status of employee by company dialog title', null, 'change status of employee'),
                        question: $scope._('You are going to change status of employee for company `%(user.full_name)s` in portal `%(company.name)s`', row.employment),
                        old_status: row.employment.status,
                        status_changes: row.status_changes}, $scope).then(function (new_status) {
                    $ok($scope.url_change_status({
                        employment_id: row['employment'].id,
                        new_status: new_status
                    }), {}, $scope.gridApi.grid.grid_change_row);
                });
            };

            $scope.change_position = function (id, row, column_name) {
                'use strict'
                if ($scope.rights['EMPLOYEE_ALLOW_RIGHTS']) {
                    $uibModal.open({
                        templateUrl: 'employment_position_dialog.html',
                        controller: 'employment_position_dialog',
                        resolve: resolveDictForAngularController({
                            position: row['employment']['position'],
                            company: $scope.company,
                            employment: row.employment
                        })
                    }).result.then($scope.grid_update_row);
                }
            };


            $scope.grid_rights = function (id, right_name, row, column_name) {
                'use strict'
                if ($scope.rights['EMPLOYEE_ALLOW_RIGHTS']) {
                    $rights({
                        'rights': row['employment']['rights'],
                        'set_url': $scope.url_set_rights({'employment_id': row['employment']['id']}),
                        'subject_type': 'user',
                        'subject_name': row['employment']['user']['full_name'],
                        'object_type': 'company',
                        'object_name': '{% endraw %}{{ company.name }}{% raw %}'
                    }).result.then(function (updated_row) {
                        $scope.gridApi.grid.grid_change_row(updated_row);
                    });
                }
            };


            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                loadGridData: $scope.loadData,

                columnDefs: [
                    {
                        name: 'employment.user.full_name', width: '20%', type: 'link',
                        href: 'get_link_user_profile({user_id : row.entity.employment.user_id})',
                        afilter: {type: 'input'},
                        width: '200'
                    },
                    {
                        name: 'employment.position',
                        onclick: 'change_position',
                        width: '100', afilter: {type: 'input'}
                    }
                    ,
                    {
                        name: 'employment.user.address_email',
                        width: '150', afilter: {type: 'input'}
                    },
                    {
                        name: 'employment.user.address_phone',
                        width: '100', afilter: {type: 'input'}
                    },
                    {
                        name: 'employment.rights',
                        width: '330',
                        type: 'icons',
                        onclick: 'grid_rights',
                        afilter: {type: 'input'},
                        classes: function (id, entity, field) {
                            return entity.employment.status !== 'EMPLOYMENT_ACTIVE' ? 'non-active' : '';
                        }
                    },
                    {
                        width: '250',
                        name: 'employment.status',
                        onclick: 'set_new_status'
                    },
                ]
            });

        })
        {% endraw %}
    </script>
    <div ng-controller="company_employees_controller">
        {% raw %}
        <h2>{{ _('Employees at company `%(company.name)s`') }}</h2>
        <div class="grid" id="grid1" ui-grid-edit ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
        {% endraw %}
    </div>

{% endblock portal_content %}
