{% extends "index_lazy_layout.html" %}

{% block title %}Profireader{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
    {% include '_ruslan/partials/_header_files_membership_plan.html' %}
{% endblock head %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    <script>

        module.controller('portal_memberees', function ($scope, $ok, $sce, $membership_plan, $membership_tags, $confirm, $selectStatus) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('portal_memberees');
            $scope.$$translate = {{ translates('portal_memberees')|safe }};
            $scope.url_portal_memberees = '{{ url_for('company.portal_memberees', company_id=company.id)}}';
            $scope.url_search_for_portal = '{{ url_for('company.search_for_portal_to_join', company_id = company.id) }}';
            $scope.company_id = '{{ company.id|safe }}';
            $scope.url_join_to_portal = {{ raw_url_for('company.join_to_portal')|safe }};
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.url_change_status = {{ raw_url_for('company.change_membership_status_by_company')|safe }};
            $scope.selectedPortal_name = '';
            $scope.selectedPortal = null;
            $scope.selectedPortal_sending = false;
            $scope.actions = {{ actions|safe }}

                    {% raw %}
                    $scope.onSelect = function ($item, $model, $label) {
                        if (!$item || !$item.id) {
                            $scope.selectedPortal_name = '';
                            $scope.selectedPortal = null;
                        }
                        else {
                            $scope.selectedPortal = $item;
                        }
                    };

            $scope.searchForPortalToJoin = function (val) {
                return $ok($scope.url_search_for_portal, {
                    company_id: $scope.company_id,
                    search: val
                }, function (resp) {
                    return resp.length ? resp : [{id: false, name: 'No results'}];
                });
            };

            $scope.joinToPortal = function () {
                return $ok($scope.url_join_to_portal({company_id: $scope.company_id}), {
                    portal_id: $scope.selectedPortal.id
                }, function () {
                    $scope.gridApi.grid.setGridData();
                    $scope.selectedPortal = null;
                    $scope.selectedPortal_name = null;
                }).finally(function () {
                    delete $scope.all_grid_data['paginationOptions']['page_for_id'];
                    $scope.selectedPortal_sending = false;
                })
            };



            $scope.set_new_status = function (id, row, column_name) {
                if (!row.status_changes) return false;
                $selectStatus({
                        title: $scope._('change status of membership by company dialog title', null, 'change status of membership'),
                        question: $scope._('You are going to change status of membership for company `%(company.name)s` at portal `%(portal.name)s`', row['membership']),
                        old_status: row.membership.status,
                        status_changes: row.status_changes}, $scope).then(function (new_status) {
                    $ok($scope.url_change_status({
                        membership_id: row['membership'].id,
                        new_status: new_status
                    }), {}, $scope.gridApi.grid.grid_change_row);
                });
            };

            $scope.portal_link = function (link) {
                return 'http://' + link;
            };

            $scope.set_tags = function (id, row, column_name) {
                if (row['membership']['status'] !== 'MEMBERSHIP_ACTIVE') {
                    return false;
                }
                var modalInstance = $membership_tags({
                    membership_id: row['membership']['id']
                });

                modalInstance.result.then(function (updated_row) {
                    // TODO: scope.data is not defined! loaded data exists ONLY in grid data. yes?
                    $scope.gridApi.grid.grid_change_row(updated_row);
                });

            };

            $scope.request_membership_plan = function (id, row, column_name) {
                if (row['membership']['status'] !== 'MEMBERSHIP_ACTIVE') {
                    return false;
                }
                $membership_plan({
                    membership_id: row['membership']['id'],
                    bycompany_or_byportal: 'bycompany'
                }).result.then(function (resp) {
                    $scope.gridApi.grid.grid_change_row(resp);
                });
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                urlLoadGridData: $scope.url_portal_memberees,
                columnDefs: [
                    {
                        name: 'membership.portal.name', type: 'link',
                        width: '200',
                        href: 'portal_link(row.entity.membership.portal.host)', img_url: 'membership.portal.logo.url',
                        link: true
                    },
                    {
                        name: 'membership_plan',
                        width: '200',
                        onclick: 'request_membership_plan',
                        render: function (row, value) {
                            return row['membership']['current_membership_plan_issued']['name'] +
                                    (row['membership']['requested_membership_plan_issued'] ? ('/<em>' + row['membership']['requested_membership_plan_issued']['name'] + '</em>') : '');
                        }
                    },
                    {
                        width: '200',
                        name: 'membership.tags', type: 'tags', onclick: 'set_tags',
                    },
                    publication_column(),

                    {name: 'membership.rights',
                        width: '55', type: 'icons', afilter: {type: 'input'}},
                    {
                        width: '300',
                        name: 'membership.status',
                        onclick: 'set_new_status',
                        classes: function (id, entity, field) {
                            return entity.status_changes ? '' : 'inactive';
                        }
                    }
                ]
            });
            {% endraw %}
        })
    </script>

    {% raw %}
    <div ng-controller="portal_memberees" ng-cloak>
        <h5> {{ _('Join to portal') }} </h5>
        <input pr-user-can="actions.require_memberee" typeahead-on-select="onSelect($item, $model, $label)"
               uib-typeahead-template-url="typeaheadTemplate.html"
               uib-typeahead-loading="loadingPortals"
               ng-model="selectedPortal_name"
               uib-typeahead="portal as portal.name for portal in searchForPortalToJoin($viewValue)"
               name="portal_id"/>&nbsp;
        <button pr-user-can="actions.require_memberee" class="btn" ng-click="joinToPortal()"
                ng-class="{'disabled': !selectedPortal || selectedPortal_sending}"
                ng-disabled="!selectedPortal || selectedPortal_sending">{{ _('join to this portal') }}
        </button>
        <i ng-show="loadingPortals" class="glyphicon glyphicon-refresh"></i>

        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}
