{% extends "index_lazy_layout.html" %}

{% block title %}Profireader{% endblock title %}

{% block head %}
    {{ super() }}
    {% include '_ruslan/partials/_header_files_grid.html' %}
{% endblock head %}

{% block portal_content %}
    {% block company_base %}
        {% include 'company/company_base_angular.html' %}
    {% endblock company_base %}

    {% raw %}

    <script type="text/ng-template" id="request_membership_plan.html">
        <div class="SelectMembershipPlanController_class"
             af ng-model="data" af-after-save="afterSave" af-url="{{ url_request_membership_plan() }}">
            <div class="modal-header">
                <h3 class="modal-title">{{ ::_('please select desired plan') }}</h3>
                <h4>{{ __('for company `%(data.membership.company.name)s` in portal `%(data.membership.portal.name)s`')
                    }}</h4>
            </div>

            <div class="modal-body">

                <table>
                    <tr>
                        <td rowspan="2" class="border-none"></td>
                        <th rowspan="2">{{ ::_('Plan name') }}</th>
                        <th rowspan="2">{{ ::_('Plan price') }}</th>
                        <th rowspan="2">{{ ::_('Plan duration') }}</th>
                        <th colspan="3" class="nowrap">{{ ::_('Publication count') }}</th>
                    </tr>
                    <tr>
                        <th class="publication-bg-VISIBILITY-OPEN">{{ ::_('open') }}</th>
                        <th class="publication-bg-VISIBILITY-REGISTERED">{{ ::_('registered') }}</th>
                        <th class="publication-bg-VISIBILITY-PAYED">{{ ::_('payed') }}</th>
                    </tr>

                    <tr>
                        <th class="border-none"></th>
                        <th class="border-none" colspan="6"><h5>{{ ::_('current plan') }}</h5></th>
                    </tr>

                    <tr class="link" ng-click="data.selected_by_user_plan_id = false">
                        <td class="tac border-none"><input ng-value="false" type="radio"
                                               ng-model="data.selected_by_user_plan_id"/></td>
                        <td>{{ data.membership.current_membership_plan_issued.name }}</td>
                        <td ng-bind-html="pP(data.membership.current_membership_plan_issued)|html"></td>
                        <td ng-bind-html="pD(data.membership.current_membership_plan_issued)|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-OPEN"
                            ng-bind-html="pC(data.membership.current_membership_plan_issued, 'open')|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                            ng-bind-html="pC(data.membership.current_membership_plan_issued, 'registered')|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-PAYED"
                            ng-bind-html="pC(data.membership.current_membership_plan_issued, 'payed')|html"></td>
                    </tr>


                    <tbody ng-if="data.membership.requested_membership_plan_issued">

                    <tr>
                        <th class="border-none"></th>
                        <th class="border-none" colspan="6"><h5>{{ ::_('requested plan') }}</h5></th>
                    </tr>

                    <tr class="link" ng-click="data.selected_by_user_plan_id = true">
                        <td class="tac"><input ng-value="true" type="radio" class="border-none"
                                               ng-model="data.selected_by_user_plan_id"/></td>
                        <td>{{ data.membership.requested_membership_plan_issued.name }}</td>
                        <td ng-bind-html="pP(data.membership.requested_membership_plan_issued)|html"></td>
                        <td ng-bind-html="pD(data.membership.requested_membership_plan_issued)|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-OPEN"
                            ng-bind-html="pC(data.membership.requested_membership_plan_issued, 'open')|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                            ng-bind-html="pC(data.membership.requested_membership_plan_issued, 'registered')|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-PAYED"
                            ng-bind-html="pC(data.membership.requested_membership_plan_issued, 'payed')|html"></td>
                    </tr>

                    </tbody>

                    <tr>
                        <th class="border-none"></th>
                        <th class="border-none" colspan="6"><h5>{{ ::_('please select desired membership plan') }}</h5>
                    </tr>


                    <tr class="link" ng-click="data.selected_by_user_plan_id = plan.id"
                        ng-repeat="plan in data.select.plans">
                        <td class="tac border-none">
                            <div pr-validation-answer="data_validation:selected_by_user_plan_id"><input
                                    ng-value="plan.id" type="radio" ng-model="data.selected_by_user_plan_id"/></div>
                        </td>
                        <td>{{ plan.name }}</td>
                        <td ng-bind-html="pP(plan)|html"></td>
                        <td ng-bind-html="pD(plan)|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-OPEN" ng-bind-html="pC(plan, 'open', true)|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-REGISTERED"
                            ng-bind-html="pC(plan, 'registered', true)|html"></td>
                        <td class="w1em publication-bg-VISIBILITY-PAYED"
                            ng-bind-html="pC(plan, 'payed', true)|html"></td>
                    </tr>

                    <tr>
                        <td class="border-none tar" colspan="7">
                            <label><input
                                    ng-value="false" type="radio"
                                    ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                                _('request after the current plan will be finished') }}</label>
                            &nbsp;&nbsp;&nbsp;
                            <label><input
                                    ng-value="true" type="radio"
                                    ng-model="data.membership.request_membership_plan_issued_immediately"/>&nbsp;{{
                                _('request immediately') }}</label>
                        </td>
                    </tr>

                </table>


            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" type="button"
                        ng-click="$af.save(data)" ng-disabled="!$af.isActionAllowed(data, 'save') ">
                    {{ ::_('Select plan') }}
                </button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">{{ _('Cancel') }}</button>
            </div>
        </div>
    </script>
    {% endraw %}

    <script>

        module.controller('RequestMembershipPlanController', function ($scope, $ok, $uibModalInstance, membership_id) {

            $scope.$$translate = {{ translates('RequestMembershipPlanController')|safe }};

            $scope.url_request_membership_plan = {{ raw_url_for('portal.request_membership_plan')|safe }};
            $scope.membership_id = membership_id;

            $scope.afterSave = function (resp) {
                $uibModalInstance.close(resp)
            };

            $scope.get_count = function (pub_type, planed_count) {
                var holded =
                        $scope.data.select['publications']['by_status_visibility']['HOLDED'][pub_type.toUpperCase()];
                var published =
                        $scope.data.select['publications']['by_status_visibility']['PUBLISHED'][pub_type.toUpperCase()];
                if (planed_count !== false) {
                    holded = published + holded - planed_count;
                    holded = holded < 0 ? 0 : holded;
                    holded = planed_count < 0 ? 0 : holded;
                    published = published - holded;
                }
                return '&nbsp;(<nothing class="publication-fg-STATUS-PUBLISHED">' + published + ',</nothing><nothing class="publication-fg-STATUS-HOLDED">' + holded + '</nothing>)';
            }

            $scope.pC = function (plan, pub_type, planed) {
                if (!$scope.data) {
                    return ''
                }
                var ret = plan['publication_count_' + pub_type];
                return (ret < 0 ? ('&infin;') : (ret ? ret : '0')) + $scope.get_count(pub_type, planed ? ret : false);
            };

            $scope.pD = function (plan) {
                if (!$scope.data) {
                    return ''
                }
                return ((parseInt(plan.duration) <= 0 || plan.id == $scope.data.membership.portal.default_membership_plan_id) ? '&infin;' : plan.duration);
            };

            $scope.pP = function (plan) {
                if (!$scope.data) {
                    return ''
                }
                return ((plan.price <= 0 || plan.id == $scope.data.membership.portal.default_membership_plan_id) ? 'free' : ('' + plan.price + ' ' + plan.currency_id));
            };


            $scope.cancel = $uibModalInstance.dismiss;

        });

        module.controller('portals_partners', function ($scope, $ok, $sce, $membership_tags, $uibModal) {
            angularControllerFunction('CompanyMenuController', 'set_selected_company_menu')('portal_memberees');
            $scope.$$translate = {{ translates('portals_partners')|safe }};
            $scope.url_portal_memberees = '{{ url_for('company.portal_memberees', company_id=company.id)}}';
            $scope.company_id = '{{ company.id|safe }}';
            $scope.url_search_for_portal = function () {
                return ( '/portal/search_for_portal_to_join/' );
            };
            $scope.url_change_status = {{ raw_url_for('portal.portals_partners_change_status')|safe }};
            $scope.url_join = {{ raw_url_for('company.join_to_portal')|safe }};
            $scope.url_company_profile = {{ raw_url_for('company.profile')|safe }};
            $scope.selectedPortal_name = '';
            $scope.selectedPortal = null;
            $scope.selectedPortal_sending = false;
            $scope.actions = {{ actions|safe }}

                    {% raw %}

                    $scope.onSelect = function ($item, $model, $label) {
                        if (!$item || !$item.id) {
                            $scope.selectedPortal_name = '';
                            $scope.selectedPortal = null;
                        }
                        else {
                            $scope.selectedPortal = $item;
                        }
                    };

            $scope.searchForPortalToJoin = function (val) {
                return $ok($scope.url_search_for_portal(), {
                    company_id: $scope.company_id,
                    search: val
                }, function (resp) {
                    return resp.length ? resp : [{id: false, name: 'No results'}];
                });
            };

            $scope.joinToPortal = function () {
                return $ok($scope.url_join({company_id: $scope.company_id}), {
                    portal_id: $scope.selectedPortal.id
                }, function () {
                    $scope.gridApi.grid.setGridData();
                    $scope.selectedPortal = null;
                    $scope.selectedPortal_name = null;
                }).finally(function () {
                    delete $scope.all_grid_data['paginationOptions']['page_for_id'];
                    $scope.selectedPortal_sending = false;
                })
            };

            $scope.grid_action = function (id, action, row, column_name) {
                return $ok($scope.url_change_status({
                    company_id: $scope.company_id,
                    portal_id: row.portal.id
                }), {action: action, who: row.who, partner_id: $scope.company_id}, function (resp) {
                    $scope.gridApi.grid.grid_change_row(resp)
                }).finally(function () {
                })
            };

            $scope.portal_link = function (link) {
                return 'http://' + link;
            };

            $scope.set_tags = function (id, row, name) {
                if (row['status'] !== 'ACTIVE') {
                    return false;
                }
                var modalInstance = $membership_tags({
                    company_id: $scope.company_id,
                    portal_id: row['portal']['id']
                });

                modalInstance.result.then(function (updated_row) {
                    // TODO: scope.data is not defined! loaded data exists ONLY in grid data. yes?
                    $scope.gridApi.grid.grid_change_row(updated_row['membership']);
                });

            };

            $scope.request_membership_plan = function (id, row, column_name) {
                if (row['status'] !== 'ACTIVE') {
                    return false;
                }
                var modalInstance = $uibModal.open({
                    templateUrl: 'request_membership_plan.html',
                    controller: 'RequestMembershipPlanController',
                    resolve: resolveDictForAngularController({
                        membership_id: row['id']
                    })
                });
                modalInstance.result.then(function (resp) {
                    $scope.gridApi.grid.grid_change_row(resp);
                });
            };

            $scope.gridOptions1 = $.extend({}, $scope.gridOptions, {
                urlLoadGridData: $scope.url_portal_memberees,
                columnDefs: [
                    {
                        name: 'portal.name', type: 'link',
                        href: 'portal_link(row.entity.portal.host)', img_url: 'portal.logo.url', link: true
                    },
                    {
                        name: 'portal.own_company.name',
                        type: 'link',
                        href: 'url_company_profile({company_id: row.entity.portal.own_company.id})',
                        img_url: "portal.own_company.logo.url"
                    },
                    {
                        name: 'membership_plan',
                        onclick: 'request_membership_plan',
                        classes: function (id, row, field) {
                            return row['status'] === 'ACTIVE'?'':'disabled';
                        },
                        render: function (row, value) {
                            return row['current_membership_plan_issued']['name'] +
                                    (row['requested_membership_plan_issued'] ? ('/<em>' + row['requested_membership_plan_issued']['name'] + '</em>') : '');
                        }
                    },
                    {
                        name: 'tags', type: 'tags', onclick: 'set_tags',
                        classes: function (id, row, field) {
                            return row['status'] === 'ACTIVE'?'':'disabled';
                        },
                    },
                    {
                        name: 'status', width: '20%', afilter: {type: 'multi_select', default_selected: true}
                        //we can default select all and deselect that we need, 'exception' can be string or array of string
                    },
                    {name: 'rights', width: '200', type: 'icons', afilter: {type: 'input'}},
                    {name: 'actions', type: 'actions', onclick: 'grid_action'}
                ]
            });
            {% endraw %}
        })
    </script>

    {% raw %}
    <div ng-controller="portals_partners" ng-cloak>
        <h5> {{ _('Join to portal') }} </h5>
        <input pr-user-can="actions.require_memberee" typeahead-on-select="onSelect($item, $model, $label)"
               uib-typeahead-template-url="typeaheadTemplate.html"
               uib-typeahead-loading="loadingPortals"
               ng-model="selectedPortal_name"
               uib-typeahead="portal as portal.name for portal in searchForPortalToJoin($viewValue)"
               name="portal_id"/>&nbsp;
        <button pr-user-can="actions.require_memberee" class="btn" ng-click="joinToPortal()"
                ng-class="{'disabled': !selectedPortal || selectedPortal_sending}"
                ng-disabled="!selectedPortal || selectedPortal_sending">{{ _('join to this portal') }}
        </button>
        <i ng-show="loadingPortals" class="glyphicon glyphicon-refresh"></i>

        <div class="grid" id="grid1" ui-grid-pagination ui-grid="gridOptions1">
            <div class="well grid-loading" ng-show="loading">
                <i class="fa fa-spinner fa-spin"></i>
                <div>{{ _('Data Loading...') }}</div>
            </div>
        </div>
    </div>
    {% endraw %}
{% endblock portal_content %}
