<!DOCTYPE html>
<html lang="{{ g.lang }}" xmlns="http://www.w3.org/1999/html">

<head>
    {{ portal.advs['head_begin']|safe }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ _('%(portal_name)s', {'portal_name': portal.name}) }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block og -%}
    <meta property="og:site_name" content="{% block og_name %}{{ portal.name }}{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{{ self.title()|trim }}{% endblock %}"/>
    <meta property="og:description" content="{% block og_description %}{{ self.description()|trim }}{% endblock %}"/>
    <meta property="og:image" content="{% block og_img_url %}{{ portal.logo.url }}{% endblock %}"/>
    {%- endblock %}

    {% block head %}{% include 'block_head.html' %}{% endblock head %}
    {% if portal.advs['bottom_banner'] -%}
    {{ portal.advs['head_end']|safe }}
    {%- endif %}
</head>
<body class="{% block body_class %}{% endblock %}">
{{ portal.advs['body_begin']|safe }}
{% block body %}{% endblock %}
{{ portal.advs['body_end']|safe }}
</body>
</html>
